[2014-11-10 18:01] niemeyer opened #2 "go get cmd/dlv"
As a suggestion, if you move the main package to .../delve/cmd/dlv, you can replace this:

[code]

by this:

[code]

and this would also work to the same effect:

[code]

The .../cmd/... path is somewhat conventional, FWIW.

[2014-11-10 23:17] #2 closed, assigned to nobody

[2014-11-11 19:09] felixge opened #3 "Support for OSX"
Thanks for working on this!

I just wanted to try it out, but it seems like OSX is not supported yet?

[code]

[2014-11-12 03:56] jasdel opened #5 "Mention native dependancies"
A small section mentioning the native dependencies the package uses would be nice.   Specifically libreadline-dev for Ubuntu.

A user would only see this dependency once they try the command, and would need to know how to install it for their system.

[2014-11-12 18:16] #5 closed, assigned to nobody

[2014-11-12 21:19] goen opened #6 "it crashed - how to compile"
hello I'm noob and how to compile

[2014-11-12 23:41] #6 closed, assigned to nobody

[2014-11-13 13:21] ebfe opened #14 "could not find symbol value for goid"
[code]

[2014-11-13 14:38] #14 closed, assigned to nobody

[2014-11-13 22:49] goen opened #16 "stepping program too much scrollback"
when stepping the terminal scrollback is huge
http://pastebin.com/raw.php?i=ZZxNbjVf
it would be nice if the scrollback either disappear like in a ncurses app, or be smaller, let's say 1 row per step, not 14 rows per step every time
by the way, thanks for the great debugger. 60% of the time, it works every time

[2014-11-14 18:04] muniz95 opened #20 "Support for 32-bit systems"
Correct me if I am wrong, but your tool only works in 64-bit systems. I tried to install **dlv** via **go get** and got this error:

<code>
go build github.com/derekparker/delve/proctl: no buildable Go source files in /home/user/go/src/github.com/derekparker/delve/proctl
</code>

AFAIK those who had 64-bit O.S. got **dlv** working properly.

P.S: I have libreadline installed.

[2014-11-15 06:58] dlsniper opened #22 "IDE interfaces"
Hi @derekparker,

First of all, Thank you for this!

While I haven't played with it yet, I plan to do so this weekend.

If all things work good enough, I'd be interesting in integrating it with the [Go plugin for IntelliJ IDEA](https://github.com/go-lang-plugin-org/go-lang-idea-plugin).

As I haven't seen anything that could help out IDEs do the interfacing part so I'd like to ask if there's any p

[2014-11-15 17:46] ebfe opened #23 "`next` hangs"
[code]

`next` over the `<- ch` in main will lock up dlv (hangs in a wait4 syscall, with 2 of the 3 threads in stopped state).

[2014-11-15 21:07] ebfe opened #24 "Hang after timeout in timeoutWait"
After the timeout condition in proctl.timeoutWait is triggered, one of the next
next/step/continue commands will hang with dlv blocked in a wait syscall. I
believe the problem is that in the timeout case timeoutWait leaves a goroutine
running that is still executing a wait syscall. Now we have 2 goroutines which
race for the next SIGTRAP and if the abandoned timeoutWait goroutine
wins dlv hangs.

[2014-11-23 23:39] dlsniper opened #25 "Variable / goroutines printing doesn't work on Ubuntu 14.10 Go 1.4 rc1"
Hi there,

I've finally had some time to play with Delve and I seem to have some problems with printing variables and goroutines on my setup.

I'm using Go 1.4 RC1 on Ubuntu 14.10.

The program I'm trying to debug looks like this:

[code]

I've also tried `var w string = "world"` instead of the short assignment but the result is the same unfortunately.

[code]

Delve seems to be running ok when th

[2014-11-25 18:17] goen opened #26 "crash"
dlv>
panic: Could not parse SLEB128 value

goroutine 16 [running]:
runtime.panic(0x50ca20, 0xc208120730)
    /home/m/Desktop/GOLANG/go1_3_3/go/src/pkg/runtime/panic.c:279 +0xf5
github.com/derekparker/delve/dwarf/util.DecodeSLEB128(0xc20802b2d0, 0xfffffffffffffffe, 0xc200000001)
    ?:0 +0xef
github.com/derekparker/delve/dwarf/frame.defcfaoffsetsf(0xc20804c980)
    /home/m/Desktop/GOLANG/gopath/src

[2014-11-26 02:46] #25 closed, assigned to nobody

[2014-11-26 03:28] goen opened #27 "debugging of tests"
$ dlv -run
[Could not start process: fork/exec ./debug: permission denied]
$ chmod +x ./debug
$ dlv -run
[Could not start process: fork/exec ./debug: permission denied]

[2014-11-27 02:50] #16 closed, assigned to nobody

[2014-11-27 02:53] #27 closed, assigned to nobody

[2014-11-28 19:15] #24 closed, assigned to nobody

[2014-11-28 19:16] #23 closed, assigned to nobody

[2014-12-02 19:22] anidotnet opened #28 "Any plan for Windows support"
Just want to know is there any future plan for Windows 32/64 bit support? Or is it the external dependencies the blocker?

[2014-12-03 05:03] #28 closed, assigned to nobody

[2014-12-03 22:48] raff opened #29 "Suggestion: Use a "pure go" implementation of readline"
I have a package that was using (with success) libreadline on Linux, OSX and even Windows (if you managed to get libreadline for Windows). But recently (after Yosemite) I started having problem on OSX (control-C would make my terminal session unusable).

I found this package "github.com/peterh/liner" that is pure-go and works on all platforms (Windows include) with no changes and no dependencies.

[2014-12-05 18:05] #26 closed, assigned to nobody

[2014-12-09 19:22] derekparker opened #30 "Handle SIGINT"
Delve should return control back to user upon receipt of SIGINT.

[2014-12-20 10:41] scorredoira opened #31 "How to debug?"
I wrote this basic program:

[code]

When I try to debug it I get an error:

[code]

I am using go version go1.4 linux/amd64 and ubuntu 14.04.1

[2014-12-22 09:32] #31 closed, assigned to nobody

[2014-12-24 12:39] ggaaooppeenngg opened #32 "add more flexible command"
Like in GDB, the list command to list source code in current context,and also some short commands for the respective long commands.

really appreciate your work!

[2015-01-07 12:02] neelance commented on #3
Some time ago I tried to create an interface to `lldb` on OS X and I had some trouble with the code signing. What I remember is that you can use the `codesign` tool to add a signature to existing binaries. So I guess you should be able to use normal `gc` and then add the signature afterwards. Manpage: https://developer.apple.com/library/mac/documentation/Darwin/Reference/ManPages/man1/codesign.1.h

[2015-01-07 15:19] derekparker commented on #3
@neelance that looks interesting, however the issue is still that the codesign tool is going to look in the binary for the Info.plist section. See: https://developer.apple.com/library/mac/documentation/Security/Conceptual/CodeSigningGuide/Procedures/Procedures.html

What caught my eye there was:
[code]

If `codesign` can take a path to an Info.plist file instead of looking for it in the __info_pli

[2015-01-07 18:36] derekparker commented on #3
@neelance actually I was wrong(-ish). We can embed the Info.plist into the binary without using gccgo by using cgo and C variable attributes. This will allow us to use the normal Go toolchain + codesign on OS X.

[2015-01-07 18:47] neelance commented on #3
I don't think we have to. The `codesign` man page says:
[code]
It seems like that you don't need an Info.plist file or section if you pass the data via command line args. I'll give it a try.

[2015-01-07 18:58] landaire commented on #3
Yeah I was going to say that I don't think GDB has one (I haven't explicitly looked at the code though...) https://sourceware.org/gdb/wiki/BuildingOnDarwin.

[2015-01-07 19:00] pnasrat commented on #3
GDB embeds one in `darwin-nat.c` I think

https://sourceware.org/git/gitweb.cgi?p=binutils-gdb.git;a=blob;f=gdb/darwin-nat.c;h=b44dcb4d1dd013245e2cb5ee2fa6f8ef15a84401;hb=HEAD#l154

[2015-01-07 19:05] derekparker commented on #3
@landaire @neelance - @pnasrat is right, it's embedded in `gdb/darwin-nat.c`, and we can embed it in exactly the same way using C variable attributes which will work with the normal Go toolchain.

[2015-01-07 22:31] neelance commented on #3
I still don't see why we need it. I just tried `codesign` on one of the binaries created by `gc` and it worked fine.

[2015-01-07 22:40] derekparker commented on #3
Right, `codesign` will work without an embedded plist file, however as far as I know, the keys in the Info.plist file we have to embed are used by OS X, like the SecurityFramework (I think) to allow us access to another Mach task.

[2015-01-07 22:41] landaire commented on #3
@neelance did you try it specifically with delve?

And

[Source](https://developer.apple.com/library/mac/documentation/Security/Conceptual/CodeSigningGuide/AboutCS/AboutCS.html#//apple_ref/doc/uid/TP40005929-CH3-SW2)

I think what it's *really* used for in this context is the `SecTaskAccess` key: http://os-tres.net/blog/2010/02/17/mac-os-x-and-task-for-pid-mach-call/

This is also present in GDB's

[2015-01-07 23:02] neelance commented on #3
Yeah seems like you are right. The identifier, signature and requirements are stored by `codesign`, but the `SecTaskAccess` key is not. It's only in the Info.plist file, which gets secured by the signature.

[2015-01-09 22:34] #30 closed

[2015-01-12 15:41] ddietterich opened #41 "break hangs program; dlv unresponsive"
Simple program with gorilla/mux dispatching.
dlv program
(dlv) break foo.go:352     # one of the methods dispatched from the mux
(dlv) c
... two threads get spawned...

In separate window curl the url. Program stops. Delve stops and is unresponsive to ^C.
Had to kill -9.

This is Linux ip-10-100-22-97 2.6.32-504.1.3.el6.x86_64 #1 SMP Tue Nov 11 17:57:25 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

go

[2015-01-12 16:05] derekparker commented on #41
If you're building from source off of master, please build with Go 1.4. There was a commit I added and several other commits that went into Go 1.4 stdlib that fixed some bugs. Please try rebuilding with Go 1.4 and see if the issue still persists.

[2015-01-14 17:47] hasjoel commented on #3
I found manually codesigning gdb on OSX Yosemite to be painful.  Any improvements would be appreciated by many -- I'm sure.

[2015-01-14 18:00] derekparker commented on #41
Any update on this? Have you tried after compiling Delve with Go 1.4?

[2015-01-14 20:52] ddietterich commented on #41
I just spun up a system, removed 1.3.3 and installed 1.4.
Compiled my code - that worked. But failed trying to go get dlv:

go get github.com/derekparker/delve/cmd/dlv
# github.com/derekparker/delve/proctl
In file included from ../src/github.com/derekparker/delve/proctl/breakpoints_linux_amd64.go:5:
/usr/include/sys/user.h:32: error: expected specifier-qualifier-list before '__uint16_t'

Any clues

[2015-01-14 21:19] derekparker commented on #41
Hmm.. what kernel version / distro are you using?

[2015-01-14 21:22] ddietterich commented on #41
I am using CentOS. uname -a says:

Linux ip-10-100-22-74 2.6.32-504.1.3.el6.x86_64 #1 SMP Tue Nov 11 17:57:25 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

[2015-01-14 21:23] derekparker commented on #41
Alright, it seems there are issues with <sys/user.h> on certian versions of glibc or something. I think I have a fix, I'll push it up soon.

[2015-01-14 21:32] derekparker commented on #41
Would you mind pulling from the fix-sys-user-issue branch and trying to build and see if it fixes your problem? I'm relying on some C libs for setting hardware breakpoints, and I'd rather not, I may be able to remove those dependencies.

[2015-01-14 21:37] derekparker commented on #41
Also, kernel version 2.6?

[2015-01-20 00:10] epipho opened #43 "Error running tests"
Tests are failing on master and I have not yet found a cause.

[code]

[2015-01-20 02:10] derekparker commented on #43
Yeah, it seems to be a flickering failure but it's definitely there. I'll look into it, I may have an idea why this is happening.

[2015-01-22 18:59] derekparker commented on #43
So, for some reason on my laptop (Debian Jessie running kernel 3.17) the tests pass fine 99% of the time, with occasional, but rare flickers. However, on an Ubuntu 14.10 vm I have the tests always seem to fail consistently on master.

I'm going to investigate this more and try and figure out what is causing master to fail on certain machines, and under what circumstances.

[2015-01-22 19:59] epipho commented on #43
It seems to always fail on both VMs for me (Ubuntu 14.04 and CoreOS 561)

[2015-01-23 21:00] derekparker commented on #41
@ddietterich any update on either the original issue or the hardware breakpoint issue?

[2015-01-23 21:29] pnasrat opened #51 "Running tests: could not set hardware breakpoint: invalid argument"
I'm happy to try figure this out.
Steps to reproduce - I'm using GCE to run in on centos 7 image.

1. cd proctl
2. go test -c .
3. ./proctl.test -test.run=TestStep

Output:

[code]

[code]

[code]

Using gdb I can see

[code]

[2015-01-23 21:46] pnasrat commented on #51
I wonder if we should be looking up dr7 with PEEKUSR - see for example

http://lxr.free-electrons.com/source/tools/testing/selftests/breakpoints/breakpoint_test.c#L84

https://sourceware.org/git/gitweb.cgi?p=binutils-gdb.git;a=blob;f=gdb/gdbserver/linux-x86-low.c;h=2c3fccca8118a98bce500faa9d82e8e40c18ea57;hb=HEAD#l533

[2015-01-23 22:05] derekparker commented on #51
Hmm.. we likely should be reading the original value in order to preserve the control bits set for other regs aside from the one we are currently setting - however I'm not sure if this is what is causing the failure above.

Along with this is a bug of the current implementation - it currently is setting dr7 bits for the base register DR0, and is not setting the values correctly for DR1-3.

[2015-01-23 22:07] pnasrat commented on #51
If you're happy to wait a bit I can try come up with a fix over weekend/Monday, else happy to test proposed fixes

[2015-01-23 22:08] derekparker commented on #51
Check out http://en.wikipedia.org/wiki/X86_debug_register#DR7_-_Debug_control for more info on what I described above, also you may want to have a look at the intel manual: http://www.intel.com/content/dam/www/public/us/en/documents/manuals/64-ia-32-architectures-software-developer-system-programming-manual-325384.pdf specifically chapter 17.

[2015-01-23 22:09] derekparker commented on #51
@pnasrat yeah definitely, that's no problem.

[2015-01-24 02:20] ebfe commented on #51
Maybe an alignment issue? The hw breakpoints are set with DR_LEN_8 which I
seem to remember requires the address to be 8-byte aligned.

Here's my attempt to fix this, enable dr1-dr3 usage and to generally be more
careful with the control bits ebfe/delve@c0b84352f1

[2015-01-24 03:59] pnasrat commented on #51
I can confirm that at ebfe/delve@c0b84352f16313d86b13e937ab50f2978705ad49 when I run

[code]

On the box in question it all passes - I suggest you amend the commit message to add a `fixes` line in the commit for this issue as per

https://help.github.com/articles/closing-issues-via-commit-messages/

before sending the pull request. Thanks, sorry not to have had time this evening to look at.

[2015-01-24 07:22] sethwklein commented on #20
I'm out of time now, but I want to throw some stuff in here to save time for the next person who looks at this. These instructions trade the precision of a branch for markers of intent that hopefully will prevent them from bit rotting so fast. The 32bit branch no longer applies cleanly to master.

To start running tests in `proctl`...
* move `proctl_linux_amd64.go` -> `proctl_linux.go`
* move `bre

[2015-01-26 04:28] #51 closed

[2015-01-27 18:28] derekparker commented on #43
So, on the ubuntu VM that reproducibly fails, I have `TestNext` and `TestVariableFunctionScoping` failing consistently. I have tracked down why `TestNext` is failing, it's due to `m.procid` not being set correctly for a newly created thread. No idea why this is happening, I'm running go 1.4.1 on both my actual machine and on the VM and the VM fails whereas on my machine all tests pass with no prob

[2015-01-27 18:39] derekparker commented on #3
Update on this issue: The branch `darwin-support` contains my current efforts towards adding OS X support. OS X support will be my absolute top priority for the time being, with 1 other nagging issue coming in at a close second.

If anyone else happens to be working on OS X support in their own free time, please base your work off of the `darwin-support` branch, and post any issues or arch-specifi

[2015-01-28 10:55] ddietterich commented on #41
Apologies for not getting to this sooner. I pulled and checked out fix-sys-user-issue.
I cd to cmd/dlv and did go install .
That seemed to produce a new dlv in $GOPATH/bin successfully

I ran dlv on my program. Set a breakpoint. Hit the rest API and dlv stopped at the breakpoint. Yay!
Then I typed "n", and the program hung. I had to kill -9.

So it seems like a good fix for the build problem, but

[2015-01-28 15:24] grafov commented on #22
+1 for websockets. It is easy way for send messages from each side and easy to integrate with browsers to build webUI. I more interested with integration with GNU Emacs, it has libs for websockets support.

[2015-01-30 19:25] pnasrat commented on #43
I just tried on GCE on Operating System: CoreOS 575.0.0

@epipho what are you using as a host VM?

[2015-02-01 18:53] #43 closed

[2015-02-02 08:06] epipho opened #55 "Discussion about formatting"
Now that delve supports a majority of types, including complex arrays and structs I think it is worth looking at how to properly display them.

Here are my thoughts so far to get the discussion started.

1) Support both a human readable format and a separate machine readable output format (for IDE integration).

2) Standardize when the type name is shown in the human readable format. My first thou

[2015-02-02 18:18] derekparker commented on #3
Yet another update:

I now have Delve compiling in OS X using a bunch of unimplemented stub functions. The good news is that it compiles, which means all Linux specific stuff has been sorted out and moved to the correct place. The next step is the fill in the stub functions, most of which I already have a clear idea of what the Linux -> Mach translation looks like.

Hoping to have all stubs implem

[2015-02-02 18:51] julien commented on #3
:+1: great

[2015-02-02 18:55] pavelnikolov commented on #3
You deserve a beer!

[2015-02-04 03:07] derekparker commented on #55
What did you have in mind for a machine readable output?

Yeah, I definitely agree with this. I think this also extends into any nonessential information we display about variables, i.e. displaying len and cap for slices is most likely unnecessary. Maybe we have a command to display extended information about a variable, including type and any other metadata associated with it.

Absolutely.

Good

[2015-02-04 03:39] epipho commented on #55
Not sure, maybe json? Something standard so people can focus on integration rather than on how to parse the output.

I like GDB's combo of runtime config + startup script to set the defaults. Opens a lot of doors for customizing other output such as switching to machine readable output, chaning the default number of elements etc.

[2015-02-04 17:04] hasjoel commented on #3
:+1:  from the :1234:

[2015-02-04 18:26] derekparker commented on #55
JSON sounds fine to me.

Currently, there's no real way to configure Delve. I'd definitely like to talk through adding configuration to Delve. A startup script, or some sort of config file in the users home dir paired with maybe a command to set / list runtime variables.

[2015-02-04 18:37] pnasrat commented on #55
+1 on JSON, it's pretty clear - definitely being able to log/redirect output to a file also (cf set logging file ) and enable/disable pagination for human interaction and scripted modes.

[2015-02-04 18:41] pnasrat commented on #55
I also wonder if being able to output runtime/debug and pprof style info directly in delve would be useful. At least a quick hook to dump expvar into json may be worth it even if not the heap/gc/profile hooks.

[2015-02-04 19:28] glycerine opened #56 "no such file or directory textflag.h : delve doesn't build out of the box"
tried to "go get" delve just now, but its build is broken:

[code]

 3.11.0-26-generic #45~precise1-Ubuntu SMP
linux/amd64

[2015-02-04 19:33] derekparker commented on #56
Hmm, that's a problem with the `sys` package, not Delve. What version of Go are you using? Also, maybe `rm -rf $GOPATH/src/github.com/derekparker/delve` first and do a fresh `go get`?

[2015-02-04 19:53] glycerine commented on #56
using go1.4.1, with a fresh (go get -u ) pull of delve.  I copied the textflag.h file over to fix sys package, but then I hit a 2nd build error:

[code]

I commented out variables.go:684-5 to get a build.

[2015-02-04 19:55] pnasrat commented on #56
What is the output of `go env`, how did you install go 1.4.1?

[2015-02-04 20:01] glycerine commented on #56
hmm... I think I mixed go1.3 with go1.4. I deleted everything, made sure I was on go1.4.1, and now install goes fine. Probably a local problem. Closing issue.

[2015-02-04 20:01] #56 closed

[2015-02-05 15:42] derekparker opened #58 "Add command to list current location in source"
When stopped in a debug session, have a command to show source code around the current location this (or any arbitrary) thread is stopped at. Should have a default (5 lines above/below or similar) but also accept an argument to display more source code context.

[2015-02-05 15:42] derekparker commented on #32
Closing - open #58 to deal with this.

[2015-02-05 15:42] #32 closed

[2015-02-05 15:45] derekparker opened #59 "Allow setting of variables"
Delve should allow the setting of variables. Command syntax could be something as simple as `foo = "bar"`, or possibly a `set` command.

[2015-02-05 15:50] derekparker opened #60 "Printing an error type should print result of `.Error()`"
Haven't looked into this - but ideally, printing an error type should return the value of its `Error` method.

[2015-02-05 15:52] derekparker opened #61 "Support printing of map types"
Should follow same semantics as printing a struct, i.e. limiting nesting depth.

[2015-02-05 15:55] derekparker opened #62 "Print contents of registers"
Should be able to print contents of registers for current thread, and any other arbitrary thread.

[2015-02-06 16:19] derekparker opened #63 "Print current stack trace"

[2015-02-06 16:19] derekparker opened #64 "Print stack trace of arbitrary thread"

[2015-02-06 17:33] pnasrat commented on #62
@derekparker  are these just place holders for you or are they up for grabs (I suggest the help wanted label tag)

[2015-02-06 17:34] derekparker commented on #62
@pnasrat definitely up for grabs. Good idea on the help wanted tag.

[2015-02-06 17:39] pnasrat commented on #61
I'm curious about the separation here it looks like the array length is hard coded- I'd have thought eg proctl should support passing in the limit and callers (eg the debugger itself pass in the limits).

[2015-02-06 17:43] derekparker commented on #61
Do you mean the nesting depth / array limit for printing? Yeah currently it's hard coded but it should definitely be a runtime configuration. There were some discussions concerning that in #55.

[2015-02-06 18:23] pnasrat commented on #41
I think I can reproduce this I'll try to get some more data.

[2015-02-06 19:32] pnasrat commented on #41
So I'm getting different behavior depending on if I use delve to attach to a running pid versus using delve to lauch the program.

Base environment (I used GCE to set up a centos-6 instance)

[code]

Delve at 19c62d02fcd89999924e69d018c8711098b2a5ac manually added

[code]

Setup:

[code]

## Case 1  Delve launching process

[code]

In second terminal

[code]

[code]

[code]

[2015-02-06 19:34] pnasrat commented on #41
## Case 2  - pid debugging ##

[code]
Here curl doesn't hit the breakpoint at all.

[code]

[2015-02-06 19:52] pnasrat commented on #41
Adding some printf debugging I can see us go into the loop below (but not exit it)

https://github.com/derekparker/delve/blob/master/proctl/proctl.go#L537

[code]

[2015-02-06 19:57] pnasrat commented on #41
Further `fmt.Printf("xx %v %v\n", m.procid, msg)` in the loop shows we're getting

[code]

[2015-02-06 20:00] pnasrat commented on #63
I assume you mean similar to `bt` in `gdb`

[2015-02-06 20:52] derekparker commented on #41
Hmm.. Yeah that loop is a suboptimal solution I think - but it solved the problem of odd behavior on VMs. I think the ideal solution would be the hardware assisted memory write trap that I detailed in the comments. Otherwise it's hard to have a guarantee that `procid` ever gets set correctly. But if you're stuck in that loop it must mean that `procid` is _never_ getting set, which is very strange.

[2015-02-06 20:54] derekparker commented on #63
@pnasrat yeah - just printing a formatted stack trace.

[2015-02-06 21:03] pnasrat commented on #41
I'll try some other OS and cloud/vm provider combos, but that may not be for a few days. I'll file another issue about the pid connection path not seeming to actually set the breakpoint and try fix that separately.

[2015-02-06 21:45] pnasrat commented on #41
Tried kill -6 the program under test to get thread state and then killing off delve

[code]

[2015-02-06 22:37] ivarg opened #65 "Debugged process can't read from stdin"
A traced program will read its stdin from os.DevNull instead of os.Stdin, since in proctl.Launch() it is only stderr and stdout. I can't figure out the reason for this, and simply adding `proc.Stdin = os.Stdin` in the Launch() function will make a simple test program behave as expected.

[2015-02-06 22:53] ebfe commented on #65
If dlv and the target process share a stdin, which process will read your keystrokes?

[2015-02-06 22:59] pnasrat commented on #65
Note gdb manages to do this - earlier today I was running `gdb --args ./dlv ./outyet` - start in gdb, load a fixed`runtime-gdb.py` run - the prompt for dlv appears and dlv and readline work fine - could Ctrl-R search set a delve breakpoint and continue, etc.

[2015-02-06 23:04] ivarg commented on #65
That was my initial thought as well, but I can't see why they can't share stdin. Perhaps I'm missing something obvious... the only time they will possibly race for stdin is when the program is waiting for input.

[2015-02-06 23:06] ebfe commented on #65
It doesn't work in the general case. Try:

    package main

    import (
    	"io"
    	"os"
    )

    func main() {
    	io.Copy(os.Stdout, os.Stdin)
    }

and step over the `io.Copy` line.

[2015-02-06 23:19] ivarg commented on #65
I see what you mean.
However, I don't see that as the general case, but rather a bit contrived. There are quite a few use cases that can't be addressed if stdin is unavailable.

[2015-02-06 23:38] ebfe commented on #65
On Fri, Feb 06, 2015 at 03:19:53PM -0800, Ivar Gaitan wrote:

I'm not against adding support for sharing stdin or providing other
means to provide input the the debugged process (e.g. -stdin <file>).
Just pointing out that sharing stdin has it's own set of problems. There
are other cases where things can/will go wrong (e.g. hitting a
breakpoint in a readline callback/while terminal is in raw mode

[2015-02-09 22:52] dlsniper commented on #55
May I suggest https://github.com/kr/pretty as a possible solution for pretty printing structs / maps.

As a small example:
[code]

[code]

[2015-02-14 00:38] tmikov opened #67 "Doesn't work at all in Ubuntu 14.04 x64"
I downloaded Go 1.4.1 and built my test app - it worked. Then I did
go get github.com/derekparker/delve/cmd/dlv
dlv path/to/my/app
continue

It prints "new thread spawned 11399" and hangs. ^C doesn't work. The app isn't running.

I tried setting breakpoints, etc, but it always hangs after the first "continue".

[2015-02-14 00:56] derekparker commented on #67
Hmmm... What kind of app is it? What happens when you run it by itself,
does it panic?

You say the process isn't running, what does `ps` have to say about your
process while Delve is running?

I'm wondering if your program is crashing and a signal is occurring that
delve is ignoring, causing your app to die and delve to block in a `wait`
call while waiting for a breakpoint trap.

If it's not too

[2015-02-14 04:14] jakecoffman commented on #29
+1

[2015-02-17 16:56] derekparker commented on #67
@tmikov any update on this?

[2015-02-17 17:15] derekparker commented on #41
@pnasrat @ddietterich any updates on this? Have you been able to track down a minimal reproducible case?

[2015-02-17 22:40] tmikov commented on #67
Yes, sorry. The app is "hello world", but it hardly matters because it never even reaches "main". It locks up as soon as I do "continue" in the very beginning then and I need to kill "dlv" from a different terminal. I will run "strace" and post as soon as I have something.

[2015-02-17 22:51] ddietterich commented on #41
Hmm... @pnasrat seems to have reproduced the problem. I haven't paid it attention since.
Have you been able to reproduce it with that (perhaps not minimal) technique?

[2015-02-17 22:58] derekparker commented on #41
I'll try it out on an Ubuntu VM see if I can reproduce this, if not try and spin up a CentOS VM and see what happens.

[2015-02-17 23:07] derekparker commented on #41
So I was able to reproduce at least the 1st case on an Ubuntu machine - I'll start looking into a fix for this now.

[2015-02-17 23:07] tmikov commented on #67
Some more information after testing. The main() routine contains just "fmt.Printf(hello world)" and it never executes. However there is some static variable initialization of logging, etc, If I compile a truly trivial app printing "Hello world", "dlv" does work. So, I suspect that the logging is causing the problem here. I am using "https://github.com/op/go-logging" .

I should note that the app i

[2015-02-17 23:12] derekparker commented on #67
@tmikov thanks for looking into it more. If you could post a gist of a small program that reproduces the failure I'll look into this issue further - could be related to #41. I was just able to reproduce a bug that's causing Delve to hang.

[2015-02-17 23:14] derekparker commented on #67
Alright, I know where we're hanging just not sure why. I'll start looking into a fix for this.

[2015-02-18 00:05] derekparker commented on #41
I've tracked down what is likely causing this and I believe it to be triggered by programs using cgo. It seems that if a go program uses glibc clone instead of runtime.clone, m->procid is _never_ set, causing us to hang forever in the loop waiting for that to be set.

This affects #67 as well.

[2015-02-18 00:07] derekparker commented on #67
@tmikov figured out what's wrong - now to fix it. Thank you very much for your help and for reporting this.

[2015-02-18 03:49] derekparker opened #69 "Travis build fails"
Travis seems to always hang on `TestNext`, not sure why - tests pass locally and on Ubuntu 14.04 vm.

[2015-02-18 12:34] ddietterich commented on #41
I did not do anything to use cgo. I simply go build, go test, go install.

[2015-02-18 12:58] derekparker commented on #41
The `net/http` package, as far as I know, will trigger a cgo build due to linking against C networking libraries.

[2015-02-18 17:31] derekparker commented on #69
Disabled Travis, will find better CI at some point. Travis runs Ubuntu 12.04 (14.04 is current LTS) and 2.6 kernel - would not be pragmatic to track down Travis issues at this point when tests pass on other hardware and VMs.

[2015-02-18 17:31] #69 closed

[2015-02-18 17:33] derekparker opened #70 "Deal with debugging cgo enabled programs"
Delve currently relies on the `procid` field stored for the M runtime scheduler data structures. Programs built with cgo enabled do not set `procid` as it is set by runtime functions that are replaced by libc functions.

I've submitted an issue here: https://github.com/golang/go/issues/9914.

Fixing this should fix #41 and #67.

[2015-02-18 17:33] derekparker commented on #41
Closing in favor of #70.

[2015-02-18 17:33] #41 closed

[2015-02-18 17:34] derekparker commented on #67
Closing in favor of #70.

[2015-02-18 17:34] #67 closed

[2015-02-19 05:07] tmikov commented on #67
This doesn't seem like an easy fix :-(
Do you still need me to prepare a sample reproducing the problem?

[2015-02-19 13:39] derekparker commented on #67
Yeah it's tough, I have some ideas for how to get around this for the time being though.

No need for a small sample, thank you though.

[2015-02-22 18:16] shoenig commented on #29
+1

[2015-02-23 04:51] derekparker commented on #70
Might be able to solve this problem by looking up the G through the TLS.

[2015-02-23 15:29] dhanunjay opened #71 "go get github.com/derekparker/delve/cmd/dlv fails with an error"
When i do 'go get github.com/derekparker/delve/cmd/dlv' it fails with the following error
# github.com/derekparker/delve/proctl
../../derekparker/delve/proctl/proctl.go:31: undefined: BreakPoint
../../derekparker/delve/proctl/proctl.go:32: undefined: BreakPoint

[2015-02-23 15:36] derekparker commented on #71
What OS are you using?

[2015-02-23 15:46] derekparker commented on #71
More specifically, are you using OS X? Delve currently does not support OS X, however I've been working a lot on OS X support and it should be landing soon.

[2015-02-24 02:11] dhanunjay commented on #71
I am on XUBUNTU with GO 1.4. I have also installed libreadline-dev.

[2015-02-24 04:37] derekparker commented on #71
Hmmm.. is this the first time you've tried pulling down & installing Delve?

[2015-02-24 04:55] dhanunjay commented on #71
Yes first time. I will try again and update the thread. I am very excited to try delve.

thanks for looking into the issue.

[2015-02-24 17:00] dhanunjay commented on #71
Derek,

I was able to repro the issue on 32 bit XUBUNTU. However i have tried on a clean 64bit XUBUNTU everything worked as expected. Not sure if the architecture is an issue.

[2015-02-24 17:05] derekparker commented on #71
Ah, yeah I should of asked that as well. Currently only 64 bit systems are supported, it won't take much to support 32 bit systems, however I've just been focusing on OS X support as of late. I'll be working on 32 bit support after OS X support.

[2015-02-24 17:05] #71 closed

[2015-03-01 16:48] #3 closed

[2015-03-01 16:49] #29 closed

[2015-03-01 16:49] #70 closed

[2015-03-01 16:52] derekparker commented on #3
I have just merged initial support for OS X into master. I plan on making an actual announcement tomorrow, but I'd like to give a chance for anybody watching this thread to check it out and flush out any major issues before then, if there is any.

Please note that Delve is still in beta, so there may well be general issues, however the major thing here is OS X support.

[2015-03-01 16:55] derekparker opened #72 "Next'ing at function entry continues to return addr"
Instead of going inside the function, `next`ing when broken at the entry point to a function (think `break main.myfunc; continue` seems to continue past the function and land at the return address.

[2015-03-01 19:22] nowk commented on #3
@derekparker Awesome stuff, Thank you!

---

Had a small issue with the `make install` command, `$(which dlv)` is return blank, but this could just be me. `$(shell which dlv)` resolved that for me.

[2015-03-01 19:35] shurcooL commented on #3
Thank you!

[2015-03-01 21:38] derekparker commented on #3
@nowk thanks, fixed.

[2015-03-02 10:16] stuartfenton commented on #3
looking forward to it.

[2015-03-02 18:06] raff opened #73 "terminal status is not restored when dlv "die""
With the new "liner" package it is necessary to call liner.Close() to restore the terminal (enable echo, etc.)

While the code does call "defer line.Close()", the line.Close() is not executed when the application terminates because of an error (all the calls to "die() terminate with os.Exit() that doesn't execute any deferred code)

I suggest to either add some "context" do the "die" method (pass

[2015-03-02 18:13] derekparker commented on #73
Yeah I'm fine with passing along `line` to `die`, I think it makes sense to put the responsibility in that function to restore terminal state, since it's the one calling `os.Exit`.

[2015-03-02 18:36] raff commented on #73
ok, I'll prepare a pull request and submit it (actually I already did this
some time ago... and then managed to delete all my changes ):

On Mon, Mar 2, 2015 at 10:13 AM, Derek Parker <notifications@github.com>
wrote:

[2015-03-02 22:27] pnasrat commented on #73
Thanks I noticed this in my testing also.

[2015-03-02 23:09] jasdel opened #74 "Loss of terminal input displaying after running dlv"
Running dlv in my terminal prevents the terminal from displaying typed/pasted input from showing up when typed after dlv exits.  Typed input still is displayed in dlv, even if its restarted after the terminal's input no longer displays. I'm using OSX 10.9 and iTerm2 (1.0.0.20140629).  Verified this also happens in Terminal (2.4 326).

The terminal is still receiving the input, because I can execut

[2015-03-02 23:11] jasdel commented on #74
Sorry just saw, https://github.com/derekparker/delve/issues/73, i'll close this since its a duplciate.

[2015-03-02 23:11] #74 closed

[2015-03-03 01:11] #72 closed

[2015-03-03 14:40] derekparker opened #75 "Use subcommands rather than flags"
Instead of `dlv -run` you could simply type `dlv run`, etc... Thoughts?

[2015-03-03 14:41] derekparker opened #76 "Drop info from certian commands"
Instead of `info sources`, just type `sources`. None of those commands of info conflict so it shouldn't be an issue, and would be less typing. Thoughts, concerns?

[2015-03-03 14:59] pnasrat commented on #76
What is the goal. If you're trying to emulate gdb command line then obviously this breaks that - but I think we can do better user experience than GDB.

I'd love for an actual debugging API to be better defined so eg the websocket API ine #57 could be more restful and we could eg implement a grpc API ontop also. Something a little higher level to consume than proctl

This is more comparable to eg

[2015-03-03 15:28] derekparker commented on #76
I have absolutely no problem breaking away from gdb style commands. Right now `info` is the one that most closely mimics gdb. The goal is to have the best user experience we can.

I'm certainly up for outline a higher level api - I've tossed around the idea of going more traditional client/server route with Delve. All clients (cli, web, ide) would speak with a debug "server" which would speak a we

[2015-03-03 15:42] pnasrat commented on #76
Happy to flesh out more. What's the best forum for discussion?

Just as another approach:

https://developer.chrome.com/devtools/docs/protocol/1.1/index
https://developer.chrome.com/devtools/docs/protocol/1.1/console

That being said that doesn't block iterating on the CLI right now.

[2015-03-03 15:57] pnasrat commented on #75
It depends on who your audience is - my experience with docker is some users have a dislike of go style flags as non-getopty/traditional.

The command based approach would be more similar to the go tool itself, and  subcommands could have flags. I think I've definitely feel -run being a boolean doesn't make much sense.

[code]

dlv attach -p <pid>

Note then attach could also work for a host:port

[2015-03-03 16:46] derekparker commented on #76
@pnasrat I can create an issue today to begin discussion and track changes.

[2015-03-04 18:35] RaananHadar commented on #3
great job derek, i'll be sure to try it.

[2015-03-04 21:38] hasjoel commented on #3
Wow, I can't wait to give this a shot.  :)

[2015-03-09 02:33] #75 closed

[2015-03-09 11:02] quarnster opened #79 "cgo problem? ([Could not launch program: decoding dwarf section info at offset 0x0: too short])"
[code]

[2015-03-09 12:04] quarnster commented on #79
Appears to be related to [Go#8973](https://github.com/golang/go/issues/8973), building with `go build -ldflags="-linkmode=internal"` appears to work just fine.

Feel free to close this issue if you see nothing you'd like to fix here.

[2015-03-09 14:27] derekparker commented on #79
Thanks, this surfaced another issue of the `-v` flag not working, fixed now.

I'll keep this issue open because I can probably get a fix in to Delve to handle this until 1.5 lands.

Also, it's preferred to use `dlv run` over building yourself, simply because `run` compiles the program to be a bit more debugger friendly.

[2015-03-09 14:29] derekparker opened #80 "Handle process exit when not in trapWait"
Overall improve handling of process natural death.

* Handle death when not in a trapWait call.
* Do not ask to kill process on Delve exit if process has already exited.

[2015-03-09 14:31] derekparker opened #81 "Move readline history file to more sensible spot"
Right now delve creates readline history file in cwd, but this is not acceptable going forward.

[2015-03-09 22:20] ansel1 opened #82 "Crash on `info locals` on OS X"
Also on `info locals`.  `info args` doesn't crash, but doesn't show any output, though there is an arg to the function.  And finally, the `p` command always reports `Command failed: could not read memory`.

[code]

[2015-03-10 13:59] derekparker commented on #82
Thanks, I was just able to reproduce this locally. Looks like an issue with cgo enabled programs (in your example, include net/http enables cgo).

I'll investigate this.

[2015-03-11 21:45] ivarg opened #83 "breakpoints inside multi-line var declaration are unsafe"
It is possible to set a breakpoint in a multi-line variable declaration, at which point the variables have not yet been initialized. Calling `info locals` at that point will render undefined behavior and may result in a panic.

[2015-03-12 00:22] derekparker commented on #83
Sure enough, thanks for reporting this.

@epipho would you have any interest in looking into this? You've taken an interest in the variable evaluation side of things and had some great commits. If not, I'll start digging into it.

[2015-03-12 05:54] epipho commented on #83
I have run into this before.

The bad news is I am not sure what we can do about it as I don't think there is any information in the binary.

 Instead of a location expression for the variable location I would expect a location list (http://www.dwarfstd.org/doc/dwarf-2.0.0.pdf section 2.4.6) that would give a set of instruction ranges that the variable is valid for but the binary does not contain

[2015-03-12 14:37] derekparker commented on #83
@epipho that's unfortunate. I don't see a clear fix other than patching the linker(s) to emit the `.debug_loc` section, or at the very least submitting an issue to the Go project to include that information.

[2015-03-12 16:28] epipho commented on #83
This weekend I will dig through the go issue tracker to see if this has been brought up. I wonder what the complexity of the change would be to add .debug_log to the linker.

[2015-03-12 18:51] derekparker commented on #83
@epipho not sure, but I know there's a lot going on with the compiler / linker rewrites. I'll likely post something on golang-dev about this and another Dwarf tag I'd like the linker to emit in the .debug_info section.

A cursory glance through the issue tracker didn't reveal any existing issues surrounding this, but if you dive deeper and find anything definitely let me know.

[2015-03-12 20:42] epipho commented on #83
Which additional tags are you hoping for? For our purposes it might be nice
to have DW_TAG_lexical_block set so we can play nicer with scoping / autos.

On Thu, Mar 12, 2015 at 2:51 PM, Derek Parker <notifications@github.com>
wrote:

[2015-03-12 21:31] ivarg commented on #83
I don't know if this is related, but after continued testing I get erratic behavior similar to what I reported above, but also on completely valid source lines. For example, breaking in the following function at `fmt.Println(a1,a2)` and inspecting locals will list only uninitialized `a1`, i.e. `a1` with seemingly random size, len, and content.

[code]

However, by uncommenting the `println("")` st

[2015-03-12 21:41] ivarg commented on #83
Btw, I get identical behavior in the above example on both darwin and linux (vbox image).

[2015-03-12 21:42] derekparker commented on #83
@epipho DW_OP_form_tls_address would be nice for getting at the G(oroutine) in thread local storage, since `m->procid` can be unreliable and it can be difficult to map a scheduler M to a real OS thread.

@ivarg that's interesting... I'll try and play around with that example and check out the asm / debug info it generates, may be clues there. Not sure why a1 would be uninitialized in that example

[2015-03-12 22:08] ivarg commented on #83
Turns out I forgot to build with optimizations disabled. Building with `-gcflags "-N"` makes this second behavior go away. Sorry for that. Original issue is still valid though.

[2015-03-12 22:11] derekparker commented on #83
@ivarg no worries, that makes sense. I'll still look into it a bit to see how feasible it would be for Delve to handle programs built without -N.

FWIW `dlv run` builds with `-gcflags="-N -l"`. Are you building manually and pointing Delve to the binary?

[2015-03-12 22:18] ivarg commented on #83
Yes, when testing I just `go install` both `dlv` and my test programs.

[2015-03-13 21:20] jacque006 commented on #22
+1 for this feature, would be very useful for developers where I work.

[2015-03-17 03:07] raff opened #86 "Properly remove debug and test files when "dlv" terminates"
Since the program terminates with "die" (or Term.die),  defer statements like "defer os.Remove(debugname)" are lost.

One possible solution is to add a Term.defer method that stores the functions passed in input in a list and executes them when Term.die() is called.

[2015-03-17 03:10] raff opened #87 "Can't run a go program unless it's the only main program in the current directory (i.e. it can be compiled with "go build")"
"dlv run" should work like "go run" and allow passing a go source file to compile and run. Right now it executes "go build" with no source files, that doesn't work if the current directory contains multiple files implementing "main".

Suggestion: if the first parameter after "dlv run" is "name.go", assume it's the program to run and call "go build" appropriately.

[2015-03-20 17:22] ironcladlou commented on #22
@derekparker I just reviewed @dlsniper's [websockets branch](https://github.com/derekparker/delve/compare/master...dlsniper:add-websocket-support). Have you taken a look? What are the chances you'll eventually accept a PR based on the approach? It's not how I would have gone about the refactor, but it looks viable.

I ask because I was interested in starting to integrate delve with my own Sublime

[2015-03-20 17:52] dlsniper commented on #22
I'll do the promised rebase this weekend as I finally have time for it, sorry for disappearing for a while.

[2015-03-20 18:34] markturansky commented on #22
I volunteer to help test the IDEA plugin, as I'm using it already and would love to help improve it.  A working Go debugging in IDEA is nirvana.

[2015-03-20 19:59] derekparker commented on #22
@ironcladlou I haven't taken a look recently, I've been polishing the OS X stuff and mucking around with the core. I'd like to take another look after the rebase has happened since there has been a lot of changes on master recently that may or may not affect this branch.

So to answer your question, I'm certainly open to more discussion around this, and if you were interested in working through a

[2015-03-20 20:09] derekparker commented on #86
I think that's fair, `die` should definitely take care of cleanup.

[2015-03-20 21:32] ironcladlou commented on #22
@derekparker @dlsniper

So, for discussion I thought it'd be faster to just start a POC of the client/server separation I had in mind. Here's my WIP branch:

https://github.com/derekparker/delve/compare/master...ironcladlou:http-api?expand=1

What I've done there is:

* Started a public API in `api/types.go`. For now, and for simplicity's sake, this is unstable. Later, you could subpackage *public

[2015-03-20 21:50] derekparker commented on #73
This is fixed.

[2015-03-20 21:50] #73 closed

[2015-03-20 21:50] dlsniper commented on #22
@ironcladlou I've looked at the changes you've done and it looks interesting. The ideas you have for how to approach the API are good. However, before you can do that, I believe a separate refactoring of the internals should be done as currently none of the internal commands are returning the output but rather use ```fmt.Print*``` directly. I'd be happy to have a look every now and then over the p

[2015-03-20 22:34] ironcladlou commented on #22
@dlsniper

We might be having a terminology mismatch here. I already changed the command interface and two command implementations (breakpoints and threads) to use the new API client. I think some confusion is coming from the mixed terms at play here.

I have other ideas for how the CLI should be refactored to draw better distinctions (e.g. daemonized server mode, interactive client mode, foregrou

[2015-03-20 22:55] ironcladlou commented on #22
Moving the discussion to #88 to keep this thread clean.

[2015-03-22 18:51] vendion opened #89 "Imports are out of sync"
When trying to install delve, go get tries to pull ```dwarf``` from "github.com/derekparker/delve/vendor/dwarf" but it seems that the package is one level higher "github.com/derekparker/delve/dwarf" it also seems that it trys to fetch another package that is not part of the repo.

[code]

[2015-03-23 16:37] derekparker commented on #89
It looks like you're trying to build Delve with Go 1.3.3? Please use >= Go 1.4 to build Delve. Make sure you remove any old artifacts laying around from previous build of Delve.

[2015-03-24 20:33] pnasrat opened #90 "Create Delve IRC channel on freenode"
Forked from issue #88

/cc @ironcladlou

[2015-03-24 20:35] ironcladlou commented on #90
I would totally join that channel!

[2015-03-24 20:47] derekparker commented on #90
Great idea.

I'm on my way to the airport, heading to a conference, will definitely set
up a channel when I land.

On Tuesday, March 24, 2015, Dan Mace <notifications@github.com> wrote:

[2015-03-25 13:41] derekparker commented on #90
Channel is up.

[2015-03-25 13:41] #90 closed

[2015-03-25 18:55] hasjoel opened #91 "Can you support go 1.4 >? It seems to not work with go 1.4 on Mac OSX."
When attempting to run with go1.4.2 ( I know docs say you need go 1.4):
make install

I get this error.

import <home>/go/pkg/darwin_amd64/github.com/derekparker/delve/dwarf/util.a: object is [darwin amd64 go1.4.2 X:precisestack] expected [darwin amd64 go1.4 X:precisestack]

Can go1.4.2 be supported, too?

[2015-03-25 18:58] derekparker commented on #91
I'm running go 1.4.2 on OS X with no problems. Have you built previously with an older version of Go? Trying clearing out anything Delve related in pkg and try again.

[2015-03-25 20:39] hasjoel commented on #91
That was it.  Must have compiled under 1.4 at one point then upgraded to 1.4.2.  Removing everything under pkg worked fine for me.

[2015-03-25 21:22] #91 closed

[2015-03-26 13:47] derekparker commented on #89
Going to close due to inactivity. If my proposed fix doesn't work feel free to re-open.

[2015-03-26 13:47] #89 closed

[2015-03-26 15:53] dhanunjay opened #92 "Delve panics if thread command is executed without a thread ID"
Repro:
1. run a program through debugger
2. set a brake point on some line
3. give thread command without any thread id

Expected: gives some error message to provide the thread ID
Actual: panic: index out of bounds.

However it works as expected if a non existent thread ID is given.

[2015-03-26 16:34] dhanunjay opened #93 "Delve crashes when single stepping through optimization disable program"
package main

import (
"fmt"
"github.com/bsphere/le_go"

 )

func main() {
 le, err := le_go.Connect("########-####-####-####-##########") // replace #s with token

 if err != nil {
 panic(err)
 }
 c:= make(chan int, 1)
 go tst("go routine", c)

 defer le.Close()

 le.Println("Logentries test log message")
 v:= <-c
 fmt.Println(v)
}

func tst(name string, c chan<- int) {
	fmt.Println(name)
	c <- 1

[2015-03-26 18:19] derekparker commented on #92
Fixed just pushed. Thanks!

[2015-03-26 18:19] #92 closed

[2015-03-27 20:39] derekparker commented on #93
Thought I had labelled this before, but thanks for opening this.

[2015-03-28 20:11] tones111 opened #95 "Feature: Ability to restart debugged application"
When debugging an application there is currently no way to restart it (the equivalent of gdb's run command).  This would be helpful as having to restart dlv and reset any interesting breakpoints is tedious.

[2015-04-01 19:45] pmorie opened #96 "It should be possible to set bulk breakpoints from a file"
It would be great to be able to capture a list of breakpoints in a file, supply that file at startup, and set bulk breakpoints that way.

[2015-04-03 20:36] dominicwilliams opened #97 "Delve cannot debug go-qml example projects"
Delve cannot debug go projects based upon go-qml. This can be tested using the examples that come with the go-qml package.

For example, upon running `dlv run basiclayouts.go` delve successfully compiles the debug binary but then fails to run it and outputs error message:

`[Could not launch program: decoding dwarf section info at offset 0x0: too short]`

[2015-04-09 13:53] derekparker commented on #97
Sorry for the late response, but this is likely due to cgo. Thanks for the report! I have plans to significantly improve cgo support very soon.

[2015-04-09 13:54] #80 closed

[2015-04-09 13:55] derekparker commented on #97
Closing as duplicate of #79.

[2015-04-09 13:55] #97 closed

[2015-04-09 14:00] derekparker opened #101 "Hardware breakpoints on OSX / AMD64"

[2015-04-11 15:30] technosophos opened #102 "OSX: "could not acquire mach task 5""
I just started testing out Delve. I installed per the directions on the site, and then wrote a quick program to test:

[code]

Running `dlv run` in the directory produces the following output:

[code]

The same happens if I first `go build` then `dlv ./main.go`.

I looked through the issues and also googled the issue, but didn't find anything relevant.

Environment:
Golang 1.4.2
OSX Yosemite 10.10

[2015-04-11 15:59] ironcladlou commented on #102
@technosophos

The `mach task` error means you haven't signed the `dlv` binary you built. When building delve on OSX, you also have to use the `codesign` tool to sign the binary. The steps to facilitate code signing are outlined [here](https://github.com/derekparker/delve/#os-x). The `install` task of the Makefile invokes `codesign` for you after building.

It's a lot of extra steps, but luckily y

[2015-04-13 14:50] technosophos commented on #102
Oh -- so for Mac there's actually one more step: "CERT=<certname> make install"?

That wasn't quite clear from the OSX instructions. Maybe it could be explicitly added to the end of the bullet list?

At any rate, I'm up and running now! Thank you!

[2015-04-13 14:52] derekparker commented on #102
I'll update the README to be a little more explicit.

[2015-04-13 14:52] #102 closed

[2015-04-17 00:15] ypwu1 opened #103 "[Could not launch program: could not acquire mach task 5]"
I update the latest build of delve. I  ran my and test of my go application  with delve,  got this error message below:
[Could not launch program: could not acquire mach task 5]

Development environment: go 1.4 Mac OSX yosemite

[2015-04-17 02:03] derekparker commented on #103
Have you code signed the binary? Take a look at the README, specifically
the OS X instructions.
On Thu, Apr 16, 2015 at 7:15 PM Oscar <notifications@github.com> wrote:

[2015-04-17 10:06] ypwu1 commented on #103
I did the code sign before, and It works before I did the update. Do I need to do it again or use new code sign?

[2015-04-17 11:41] derekparker commented on #103
You have to code sign every time you compile, but you can use the same
cert.
On Fri, Apr 17, 2015 at 5:06 AM Oscar <notifications@github.com> wrote:

[2015-04-17 14:06] alinz opened #104 "illegal character issue"
Hello,
Thanks for making this amazing project.

I'm having an issue. Here's the steps:
1: run my application
2: find the process id of my application
3: run `dlv attach <process id>`
4: run `break main.go:10`
5: run `continue`
6: it stops at the breaking code
7: run `n` to go to next statement causes this error

[code]

the only way I can by pass this issue is set the breaking point at line 11 and

[2015-04-17 14:14] derekparker commented on #104
Thanks! And thanks for the report. This is a known issue (as in it's known to me, hah) but it's due to a re-working of how 'next' works, that is still in progress.

I'm hoping to have a fix for this up by later this evening.

[2015-04-17 14:31] alinz commented on #104
Awesome! Looking forward to that.

[2015-04-18 05:46] bforsyth927 commented on #82
My friend and I hit this issue and debugged through it.  At least for all the cases we hit (both for 'info vars' and 'info locals') the underlying issue was always that it was drilling into an array of strings.  And it would blow up when one of the strings was nil (length == 0, ptr == 0).  The fix or workaround I used in my own copy of Delve is pretty straightforward.  Basically just return the em

[2015-04-18 15:27] derekparker commented on #82
@bforsyth927 that looks like a pretty reasonable patch. If you submit a PR I'll merge it in.

[2015-04-18 16:14] #103 closed

[2015-04-20 13:25] derekparker commented on #104
Fixed on master.

[2015-04-20 13:25] #104 closed

[2015-04-21 16:05] derekparker opened #106 "Variable scoping"
Given the following source:

[code]

If you break in the second loop, the result of `print i` will be 10 instead of the value of the next `i` that shadows it.

[2015-04-21 16:05] derekparker commented on #106
@epipho would you have any interest in taking a look at this?

[2015-04-21 21:39] epipho commented on #106
Yeah I will take a look at this.  I think I know what is going on.

[2015-04-22 01:20] kerlyn-bsd3 commented on #58
I am working on this.   Kerry Lynn <kerlyn@ieee.org>

[2015-04-22 02:03] derekparker commented on #106
@epipho awesome, thank you.

[2015-04-23 02:18] epipho commented on #106
So this is what I thought and is unfortunately a related problem to #83

There are actually two variables with the same name and we print the first one we come across.  You can actually see this if you use info locals, it will show both.

[code]

As in #83 there is no way to disambiguate them as there is no scoping or .debug_loc data

[code]

For print statements we could print out all the variabl

[2015-04-23 02:47] derekparker commented on #106
@epipho thanks for looking into this. You're right, this seems to be a Go linker shortcoming.

Let's put together a proposal and get it submitted as soon as possible.

[2015-04-23 16:31] ldornin commented on #22
+1, and I'd like to add Idea is the only real IDE... period.

[2015-04-26 11:42] ironcladlou commented on #106
Not that I necessarily think this was controversial, but just wanted to chime in and say I too think this is nasty enough to block a 1.0. Unfortunate!

[2015-04-27 15:55] pmorie opened #109 "Add ability to name breakpoints"
I would like the ability to give a breakpoint a name, especially when setting breakpoints from a file.  The use-case is that I would like to be able to be able to pass a user a breakpoint file that is set of key-value pairs (or just pairs) of breakpoint location / name that they can use locally to debug common use-cases within an app.

As an example, say a user is having some inscrutable issue tha

[2015-04-27 20:25] derekparker commented on #109
That's a really neat use case. The syntax in a debug session could be something like:

[code]

[2015-04-28 01:44] pmorie commented on #109
@derekparker +1 to that syntax

[2015-04-28 01:51] pnasrat commented on #109
Is this distinct enough to supporting arbitrary command handler for a breakpoint that you can do - eg in gdb style to merit a separate syntax here versus a general one?

[code]

[2015-04-28 01:54] pnasrat commented on #109
Also we could have a trace command with a default print action for the message and continue - cf

https://sourceware.org/gdb/onlinedocs/gdb/Tracepoints.html
https://msdn.microsoft.com/en-us/library/ktf38f66%28v=vs.90%29.aspx

[2015-04-28 04:12] pmorie commented on #109
@pnasrat Very interesting re: tracepoints, let's fork an issue for it.

[2015-04-28 04:26] pmorie opened #110 "Set tracepoint during debug session"
...as suggested by @pnasrat.

Tracepoints let you evaluate expressions during program execution without pausing the program.  They are useful when the program cannot be stopped long enough to debug interactively.

Background:

*  https://sourceware.org/gdb/onlinedocs/gdb/Tracepoints.html
*  https://msdn.microsoft.com/en-us/library/ktf38f66%28v=vs.90%29.aspx

[2015-04-28 12:46] pmorie commented on #109
Forked #110

[2015-04-28 13:50] derekparker commented on #110
I'm 100% on board with this. In fact, I wanted to support this from the beginning.

It would be great to set tracepoints from within a debug session, but I'd also like to support a `dlv trace` subcommand, so that if you only wanted to trace your program you don't have to enter a full on debug session.

[2015-04-28 14:00] pnasrat commented on #110
I'd just ask for machine parseable output for this feature.

On 28 April 2015 at 09:50, Derek Parker <notifications@github.com> wrote:

[2015-04-29 12:49] aarzilli opened #111 "Sometimes go test inside delve/proctl will fail on TestNextGeneral and/or TestNextGoroutine"
Most of the time all tests pass, sometimes TestNextGeneral or TestNextGoroutine (or both) fail:

    --- FAIL: TestNextGeneral-4 (2.57s)
	proctl_test.go:248: Program did not continue to correct next location expected 23 was testnextprog.go:40

(this always seems to happen after the message "thread context changed from X to X")

    --- FAIL: TestNextGoroutine-4 (0.74s)
	proctl_test.go:54: failed a

[2015-04-30 12:37] ironcladlou commented on #111
@aarzilli Can you try and reproduce this again with the latest master build? Lots of work has been done around this area recently.

[2015-04-30 14:20] aarzilli commented on #111
Perhaps I wasn't clear, my test failures were with the latest revision of master as of yesterday (i.e. 19a98fb49c9d1110da83008342c827ef0db5a083). But I can still reproduce the errors even with the current master (i.e. f9c64d30c205c3b869bf8bad4fe6ed92cf799115):

    --- FAIL: TestNextGoroutine-4 (0.74s)
        proctl_test.go:54: failed assertion at proctl_test.go:244: Next() returned an error : co

[2015-05-03 16:23] derekparker commented on #58
@kerlyn-bsd3 any progress on this? Let me know if you run into any issues or have any questions.

[2015-05-03 16:34] derekparker opened #115 "Share more between proctl/integration tests"
I'd like to share more between proctl/integration tests, including the TestMain precompilation step.

@ironcladlou you interested in working on this?

[2015-05-03 16:45] derekparker opened #116 "Support array/slice indexing for variable evaluation"
Support for the following syntax:

` print arr[5]`.

Should respect array bounds and print proper error messages for out of bounds indexing.

[2015-05-03 16:46] derekparker opened #117 "Support printing address of variable"
The following syntax should print the address of a variable, if it is not a pointer already:

` print &myVar`.

[2015-05-03 16:47] derekparker opened #118 "ARM support"
Add support for ARM processors.

[2015-05-03 16:50] derekparker opened #119 "Add ability to safely call functions"
Add support for calling functions within the current scope. Should allow specifying in-scope variables as arguments to these function calls.

`call myFunc(localVar, 4, "foo")`

[2015-05-03 16:52] derekparker opened #120 "Conditional breakpoints"
Break only if a condition is met.

`break mygofile.go:13 if someLocalVar == 5` or similar syntax.

[2015-05-03 16:54] derekparker commented on #110
Syntax during a debug session should be similar to the current `break` command, i.e. `trace foo.go:13`.

[2015-05-03 16:56] derekparker opened #121 "Support "trace" subcommand"
Support for a "trace" subcommand, which can accept a list of functions or file/line combinations and will print relevant information to stdout during execution of the program, which halting the program.

@pnasrat has suggested machine parseable output. Maybe this can be enabled with a flag, so that by default it prints information out in a predetermined human readable format.

[2015-05-03 16:59] derekparker opened #122 "Support map evaluation by key"
Support the following syntax for maps:

`print myMap[myKey]`.

Appropriate errors should be thrown for uninitialized maps, variables which aren't actually maps, maps without the specified key, etc...

[2015-05-03 17:03] derekparker opened #123 "Support for watching multiple threads/goroutines simultaneously"
This is more for discussion, and is kind of pie-in-the-sky, but since most Go programs are going to be highly parallel, the ability to split the terminal and show execution and source context of multiple threads or goroutines at the same time could be an interesting feature for debugging highly parallel programs.

Would like to open discussion on this, and get thoughts back.

/cc @pnasrat @ironcla

[2015-05-03 17:04] ironcladlou commented on #115
Sure. I think I might start this tonight.

[2015-05-03 17:07] derekparker commented on #62
Something along the lines of adding a `String` method to the various architecture specific register structs should be the way to go.

[2015-05-03 17:13] pmorie commented on #123
Think about this a little it seems possible that you could easily hit the
same breakpoint in different goroutines. What then?
On Sun, May 3, 2015 at 1:03 PM Derek Parker <notifications@github.com>
wrote:

[2015-05-03 20:33] dlsniper commented on #22
with #88 being closed, I think I can close this one as well. If not, please feel free to reopen this.

[2015-05-03 20:33] #22 closed

[2015-05-06 20:47] kerlyn-bsd3 commented on #58
Sorry, been swamped at work.  Should have a PR tonight or tomorrow.

[2015-05-07 04:30] sethwklein opened #126 "Can't set command line arguments"
What I did:

Create file `main.go` (in a directory named `example`) containing:
[code]

Run commands:
[code]

What I expected:
[code]

Versions:
[code]

[2015-05-08 23:54] derekparker commented on #126
@sethwklein can you try against the latest version? This issue should be resolved.

[2015-05-09 02:37] sethwklein commented on #126
Works for me.

[2015-05-09 02:40] #126 closed

[2015-05-12 17:40] chenkirk opened #130 "Include the help instruction in readme"
I've just started using delve. The first problem I encountered was trying to delete a breakpoint. Eventually I figured out from the source code and then found out in delve you can just type help.

I think it would be great to include at least the help command in README.md

I could help with modifying the README if you'd like.

[2015-05-12 18:13] derekparker commented on #130
Agreed, the command should be in the README. If you'd like to put a PR together to add it, I'd certainly merge it in.

[2015-05-13 13:49] #130 closed

[2015-05-14 19:46] xyproto opened #132 "Getpagesize redeclared in this block"
Hi,

I'm using `go version go1.4.2 linux/amd64` on 64-bit Arch Linux.

When trying to go get delve, this is the output I get:

[code]

I can't make any sense of the error message. The paths look identical to me.

Best regards,
   Alexander F Rødseth

[2015-05-14 19:52] derekparker commented on #132
Have you recently upgraded by chance? Or maybe build Delve with an older version of Go before?

I've seen these type issues before when the local environment gets messed up. The "fix" ended up being `rm -rf $GOPATH/pkg/linux_amd64/golang.org/x/sys`, or worse case `rm -rf $GOPATH/pkg`.

Let me know whether that clears things up for you.

[2015-05-14 20:03] pnasrat commented on #132
golang.org/x/sys/unix currently won't build with go 1.4 due to arm64 and
ppc64 being added - see

https://github.com/golang/go/issues/10854

On 14 May 2015 at 15:52, Derek Parker <notifications@github.com> wrote:

[2015-05-14 20:06] pnasrat commented on #132
Actually it should be fixed if you update your golang.org/x/sys/unix repo

golang/sys@8bcc2dbee456eb666777c384158fb033c05fa03e

[2015-05-14 20:11] xyproto commented on #132
Thanks, I'll try updating the golang.org/x/sys/unix repo.

And thanks for creating delve in the first place, it's really useful!

[2015-05-15 14:24] derekparker commented on #132
@xyproto thanks!

Did you ever get this figured out?

[2015-05-15 15:46] ansel1 opened #133 "pass environment to process"
It seems `dlv run` doesn't pass the system environment to the debugged app.  This makes it tricky to debug 12-factor apps.

Workaround: `dlv run` to build `debug`, exit, run `debug` directly, then `dlv attach`

[2015-05-15 17:52] tylerarnold commented on #118
yes please for ARM processors. I'd love to help but my bandwidth is limited at the moment.

[2015-05-15 19:37] xyproto commented on #132
This is kind of a headache for me, as I'm not only interested in fixing this for myself, but also for the users of the go package for Arch Linux, which I maintain. I would like to fix this issue for everyone, preferably without patching anything (since that is against the Arch Linux philosophy). It may look like the solution (for the go package) is to wait for the next release. I'll consider apply

[2015-05-15 20:21] #133 closed

[2015-05-15 20:22] derekparker commented on #133
Thanks! Just pushed up fix.

My assumption was you were on OSX, is that correct? If this is also an issue on Linux, and still an issue after pulling down the latest code, feel free to reopen this.

[2015-05-15 20:29] ansel1 commented on #133
Yup, I'm OS X. Thanks for the fix!
On Fri, May 15, 2015 at 4:22 PM Derek Parker <notifications@github.com>
wrote:

[2015-05-17 14:42] dlsniper commented on #81
Hi, I think this can be closed as it has been fixed in #124, no?

[2015-05-17 15:45] #81 closed

[2015-05-19 10:07] laher opened #134 "proctl_test.go:23: Launch(): could not fork/exec"
Running `make test` on a mac, I get the above error.
Subsequently, when I try `make install`, it installs without complaint, but when `dlv run`, it doesn't allow any subcommands (`Command failed: debugger isn't running`)

See output from `make test`, below (note that I sprintf'd the return value of C.fork_exec incase it helps. It returns '-1').

Please let me know if you need any more info. Ta.

➜

[2015-05-19 14:10] derekparker commented on #134
You have to provide an environment variable that specifies the cert to sign the program with. Delve must be codesigned on OSX, even some of the test binaries.

I will update the makefile to give a more meaningful error if that env var isn't there, however have you taken the steps to create a self signed cert? The steps are outlined in the README.

[2015-05-19 19:40] laher commented on #134
Yes I did that - you can see in the shell output `CERT=dlv-cert make test`.
Sorry, I  didn't clarify it in the initial description.
So, yes I created the self-signed certificate, and also added the exception
which permits codesign to use the cert without asking for authentication.
Thanks for the speedy response, and BTW delve is awesome (I've been using
it on Linux a little bit already)

On Wed, M

[2015-05-19 19:48] derekparker commented on #134
Ah, should have looked a little closer! Sorry about that.

A few questions:
- Were you able to test/compile Delve correctly before using this cert?
- What version are you running? (git SHA is fine)

Thanks, I really appreciate that!

[2015-05-21 10:50] laher commented on #134
Hi, no those test cases for the proctl package are failing, with or without the cert - same errors. But I could run go test on all the other packages. Note, when run as root, `go test` (in proctl) and `CERT=dlv-cert make test` both work OK. So, I guess its a permissions problem.

I did some printf-ing to get more info from the C code, which led me towards the `task_for_pid` call in proctl_darwin.c

[2015-05-21 10:52] laher commented on #134
My delve version:
bash-3.2$ git log -1
commit 7cb6480142a727faa5378cc098e8b64d48a336c6
Author: Derek Parker <parkerderek86@gmail.com>
Date:   Fri May 15 15:32:47 2015 -0500

[2015-05-24 17:08] nuss-justin opened #137 "Panic on 'next' with 'dlv test' on Linux AMD64"
Delve version: 0.5.0.beta (8f4f54d22ab6fcf0f97660575b9164fe51ab3fac)
go version go1.4.2 linux/amd64

I just tried delve and got a panic when I tried to use 'n' in my code. My code can be found here https://github.com/nuss-justin/keyvalue.

I used the following commands:

![bildschirmfoto vom 2015-05-24 19-11-52](https://cloud.githubusercontent.com/assets/6443781/7788750/cbb088f6-0248-11e5-9e1a-236

[2015-05-24 17:22] nuss-justin opened #138 "Stack overflow when using 'info vars' on AMD64"
Delve version: 0.5.0.beta (8f4f54d22ab6fcf0f97660575b9164fe51ab3fac)
go version go1.4.2 linux/amd64

I just tried delve and got a stack overflow when using 'info vars' in my code. My code can be found here https://github.com/nuss-justin/keyvalue.

I used the following commands:

![bildschirmfoto vom 2015-05-24 19-18-47](https://cloud.githubusercontent.com/assets/6443781/7788784/22770d80-024a-11e5-

[2015-05-24 20:10] derekparker commented on #138
@epipho any chance you have some time to take a look into this?

[2015-05-27 14:05] pkieltyka opened #139 "Targetting 1.5"
Hi,

Thanks for the work on delve! Just wondering, does delve work with 1.5? After listening to Rob Pike's talk last night about Go 1.5 (video+slides: http://www.reddit.com/r/golang/comments/37fcxo/go_in_go_15/) .. it sounds like the toolchain can do a much easier job of introspecting on programs across architectures. It makes sense that a debugger would be designed for 1.5+ specifically to make u

[2015-05-27 15:18] derekparker commented on #134
@laher sorry for the delay in getting back to you. So, to clarify, were you able to use that same cert to successfully run the tests previously? If that cert never worked before, it could just be an issue with the CERT that was created.

[2015-05-27 15:21] derekparker opened #140 "Enable configuration"
Delve should be able to read in a configuration file, with certain configuration defaulted, and configuration should be modifiable at runtime.

[2015-05-27 19:05] derekparker commented on #139
Thanks for checking it out!

No, currently Delve does not work with the latest development branch of Go. Won't be too much work to fix the issues though, I should have full support merged in soon.

[2015-05-29 17:41] Omie opened #141 "'thread' command without id causes panic"
What version of Delve are you using (dlv -version)?
-Delve version: 0.5.0.beta

What version of Go are you using? (go version)?
-go version go1.4.1 linux/amd64

What operating system and processor architecture are you using?
-Ubuntu 14.04.2 LTS | amd64

What did you do?
-ran my program using `dlv run main.go`
-enter command `thread`

What did you expect to see?
-error, asking me to specify thread

[2015-05-30 08:52] james-lawrence commented on #106
@epipho are you sure?
DW_AT_location might be usable. not sure what each value in the output you showed represents.
but the location block for one is higher that the other, might be able to resolve it based on that. (not in anyway familiar with the dwarf spec. just eyeballing the output you displayed.)

couple spots might be worth looking into what they mean:
<2><40>: Abbrev Number vs <2><59>: Abb

[2015-05-30 19:51] #141 closed

[2015-06-01 04:46] laher commented on #134
No I haven't been able to run the tests with the cert, so you're probably right. I'll try re-creating a cert and do some more diagnostics on it if I run into problems. I'll let you know once I get a chance to look into it. Ta

[2015-06-02 13:05] derekparker commented on #134
Sounds good, if you happen to fix the issue by regenerating a cert just close this issue out.

[2015-06-03 19:20] mpictor opened #143 "delve/dwarf/line.Parse() only reads first directory table and file name table"
I guess this isn't an issue with ELF files generated by gc, but I'm trying to extract data from C++ libs. It would be nice if your dwarf package wasn't limited to golang :smile:

If I use line.Parse() on the .debug_line section of one lib I have, it sees the files and dirs in the first pair of tables, but not the second pair.

On that file, readelf sees two dir tables and two file tables (see belo

[2015-06-04 13:59] derekparker commented on #143
I have thought about breaking the dwarf stuff out into a completely separate package, in case it would be useful for other projects.

Would you mind putting together a PR for this? Otherwise I'll keep this issue open and try to get to it as soon as I can.

[2015-06-05 13:21] aarzilli commented on #111
I have done some personal investingation of this bug.
It seems to be caused by an interaction between clone(2) and hardware breakpoints. Either setting GOMAXPROCS=1 or disabling the code that sets hardware breakpoints gets rid of those errors.

I should probably have mentioned that I had GOMAXPROCS set to 4 in my original error report but I had forgotten.

Further investigation reveals that resett

[2015-06-05 14:20] derekparker commented on #111
@aarzilli great catch, I definitely agree that's likely the issue. Can hopefully have a fix up today.

[2015-06-09 02:57] mpictor commented on #143
I wish I had the time, but I don't. Sorry!

[2015-06-10 14:27] leepa commented on #134
I need to +1 here and say I have the same problem. Followed the guide and the cert exists in my system keychain.

[code]

[code]

[code]

[2015-06-10 14:30] leepa commented on #134
Worth adding the signing is present on my main dlv command similar issue with 'debugger isn't running'

[code]

[2015-06-12 03:46] #111 closed

[2015-06-13 08:46] laher commented on #134
Last week I tried some new certs and got no further.

But today I just `git pull`ed, and seem to have got a bit further.
It seems to sort-of attach now, but the only thing that sorta works is 'continue' (if I invoke continue as the first command), and it can't seem to find the source.

So, here it is on a basic "Hello world!" app:

dlv run
Type 'help' for list of commands.
(dlv) continue
Hello wor

[2015-06-13 16:22] derekparker commented on #134
@laher are you able to run the tests now? Can you point me to the source code of the program you're trying to debug in the last example?

[2015-06-13 19:13] laher commented on #134
Yes, I can run the tests now. BUT, only if I `cd` into the proc folder and run the sequence of commands directly (cd proc && go test -c ... && codesign ... && ./proc.test ...). Otherwise it fails with an import path error. I think that problem is a weird idiosyncrasy of `go test -c`, which also happens on Linux if I use `go test -c` on the proc package. I can create another ticket for that with de

[2015-06-13 19:16] derekparker commented on #134
@laher definitely make a ticket about that `make` path issue, I have made some changes to the Makefile which could be causing that issue.

[2015-06-13 21:55] jackc opened #144 "Unable to set breakpoint -- unknown file"
When trying to debug https://github.com/jackc/sqlfmt

[code]

[2015-06-13 22:44] derekparker commented on #144
So, oddly enough I think this is actually a Go linker bug. It seems to include `sql.y` instead of `sql.go`.

[code]

And with GDB:

[code]

And if we look at the info in the .debug_line section with objdump (gobjdump on OSX):

[code]

I'll dig into this a bit more because it's interesting, but it doesn't seem to be an issue with Delve.

[2015-06-13 22:44] #144 closed

[2015-06-13 22:52] derekparker commented on #144
For a bit more info, it actually seems to think that `sql.go` is `yaccpar`:

[code]

[2015-06-14 08:43] laher commented on #134
Hey! You fixed that path issue. I was just making a pull request, and then I realised it was already fixed. Sweet as.

[2015-06-16 20:00] sandlerben commented on #63
What is the status of this feature? I am working on a Go tool which would really benefit from this.

[2015-06-17 14:09] derekparker commented on #63
@sandlerben there's some infrastructure there under the hood to support this, but the actual command hasn't been implemented. I can start working on this later today and should be able to have a commit in by tomorrow or so.

[2015-06-17 15:20] sandlerben commented on #63
It would be incredibly useful. I'm not very knowledgeable in the area, but I can help if possible.

What infrastructure under the hood supports this? Do you have ptrace set up to generate the stack trace?

[2015-06-18 02:25] derekparker opened #146 "Refactor: cleanup method duplication"
\cc @ironcladlou (your familiar with these sections of the code) & @kerlyn-bsd3 because I know you've felt some of this pain with the code you're writing.

As it currently stands, any time a new command is added, at least 4 places _must_ be updated:

1. A method must be added to `proc.DebuggedProcess`.
2. A method must be added to `debugger.Debugger`.
3. A method must be added to the client(s).
4.

[2015-06-18 14:21] ironcladlou commented on #146
Great ideas. I'll try and find time in the next few days to digest them and revisit the codebase. I've been slammed lately.

[2015-06-19 19:30] #62 closed

[2015-06-20 20:33] #63 closed

[2015-06-20 20:33] #64 closed

[2015-06-20 22:47] derekparker commented on #146
As I think through this more, I feel that `debugger.Debugger` should stay, as it's nice to have a higher level of abstraction over what's provided in `proc`. Also, it can handle the things needed by clients but not needed in the lower level `proc` package, and types like `proc.DebuggedProcess`.

I still feel there is a too many steps required to add a new command, but I do not have a strong idea o

[2015-06-21 09:27] dullgiulio commented on #137
In source/source.go 65, what is the "e = e.(Done)" for? I think that should be removed as it's unused.

[2015-06-21 16:48] #137 closed

[2015-06-21 16:51] derekparker commented on #137
@dullgiulio basically that check ensures that the only reason we've gotten to that recover is because we were actually finished, not because of a legitimate runtime error.

There's weird flow of control stuff happening in that file to ensure we can stop traversing the tree as soon as we're done, as opposed to continuing parsing the rest of the file.

The actual error seems to have come from not ch

[2015-06-22 00:16] dominikh opened #149 "Can't set breakpoint on `break` statement"
# Code
[code]

# Session
[code]

# System
[code]

[2015-06-22 00:30] dominikh opened #150 "Negative line numbers and broken breakpoints if using Go's `println` builtin, occasional panic"
# Code
[code]

# Session
[code]

Sometimes, when using `dlv <binary>` on an optimized binary, this even triggers a panic, although it took me several attempts to trigger it:

[code]

# System
[code]

[2015-06-23 08:58] aarzilli opened #152 "Failures of TestStacktrace"
I've been noticing some failures in TestStacktrace. What happens is that sometimes the line:
```nbp.Temp = bp.Temp```
at proc/threads.go:86 results in a nil pointer dereference (note: this happens sporadically).

This doesn't seem to have anything to do with Stacktrace itself, it seems to be a problem when Continue is called when the program is sitting on a breakpoint.

Further investigation revea

[2015-06-24 23:16] derekparker commented on #152
Should be fixed by c15f23a7beee15f6f4b1353736f0147b14560500.

[2015-06-24 23:16] #152 closed

[2015-06-26 15:12] aarzilli opened #154 "Calling delve on a non-existent executable results in 'continue' hanging"
If one runs
```dlv ./somethingthatdoesntexist```
then executes the command continue, delve hangs forever and needs to be killed (linux/go1.4.2), an error should be printed at some point instead.

[2015-06-27 04:07] #154 closed

[2015-06-27 04:08] #146 closed

[2015-06-27 15:01] aarzilli commented on #110
I would like to implement this feature along with the feature request in Issue #96.
My implementation proposal is as follows:

1. I would augment proc.Breakpoint with a field `Continue bool` that specifies whether its a breakpoint or a tracepoint as well as a list of variable names to collect when the breakpoint is hit (this is to avoid multiple client/server roundtrips each time a tracepoint is h

[2015-06-28 04:36] derekparker commented on #110
@aarzilli Thanks for taking this on.

A few comments:

* The two issues are independent, please split into 2 PRs (tracepoints & breakpoint file).
* I would change `Continue bool` to `Tracepoint bool`, seems more descriptive that way.

Other than those two minor things I think your proposal is solid.

[2015-06-28 05:46] aarzilli commented on #110
Great. What about the breakpoint file? What do you want it to look like?

[2015-06-28 20:30] dlsniper opened #157 "How to use the RPC server interface?"
Hi,

I'm having issues using the RPC server outside of Go and I'm not sure how to proceed.

start delve:
[code]

run request
[code]

delve logs
[code]

Another problem is that after the above curl, if I send a new one like this:

[code]

the curl process is going to be stuck and there's no output from delve.
If I restart delve and run the curls in reverse order the result is the same.
Moreover, I

[2015-06-29 13:34] derekparker commented on #157
So the implementation I'm using is not going over HTTP, it's just JSON-RPC over a socket.

Could you try using a JSON-RPC client in your language of choice? A quick search turned up a Python implementation (https://www.artima.com/weblogs/viewpost.jsp?thread=333589) [NOTE: I have not vetted this to see if it works].

If you still run into issues after using a client in a scripting language let me k

[2015-06-29 13:35] derekparker commented on #157
Additionally here is a list of JSON-RPC implementations in other languages: https://en.wikipedia.org/wiki/JSON-RPC#Implementations

[2015-06-29 15:39] derekparker commented on #110
@aarzilli I think the simpler the better. I feel we could get away with just a newline delimited list of breakpoint locations (i.e. function names, file:line pairs, etc..) and just iterate line by line, calling `SetBreakpointByLocaition`.

[2015-06-30 12:01] keltia opened #159 "[OSX 10.10.3] Can't seem to be able to debug a program or attach to an existing one"
Running a process then attaching:

    296 [13:56] roberto@roberto-aw> sudo dlv attach 59077
    Password:
    could not attach to pid 59077: could not get thread count
    [Hope I was of service hunting your bug!]

The process to be attached is:

    574 [13:55] roberto@roberto-aw:src/flightaware-go> ./bin/fa-export
    2015/06/30 13:55:55 Connecting to foxtrot.hou.flightaware.com:1501 with TLS

[2015-06-30 14:33] derekparker commented on #159
What OS are you running?

I was able to build and run through Delve with the following commands:

[code]

[2015-06-30 14:41] derekparker commented on #159
@keltia I imagine some flavor of FreeBSD?

[2015-06-30 14:44] keltia commented on #159
Nope, unless you consider OS X to be one (which it is in a way ok).  I'm running OS X 10.10.3 as indicated in the subject line :)

[2015-06-30 14:50] derekparker commented on #159
@keltia ah, sorry... I'm still waiting on coffee to kick in ;).

I'm running the same system and I was able to pass along the path to Delve. I can attempt attaching to a running process and see if that makes any difference.

[2015-06-30 14:54] keltia commented on #159
`could not launch process: could not fork/exec` seems to indicate some kind of resource shortage but the rest of the system does work.

[2015-06-30 14:54] derekparker commented on #159
@keltia have you gone through the process of code signing the `dlv` binary?

[2015-06-30 15:04] keltia commented on #159
Yes, created a fake self-signed root cert and signed.  I could also have used my own certificate but didn't thought of that.

[2015-07-01 02:00] derekparker commented on #159
I am unable to reproduce this issue, I was able to attach to the binary by passing along the path.

Have you been able to use Delve successfully on your machine before? Could you try `dlv run` on an extremely simple test program and verify that it works?

If it does not work with a simple test program than I honestly suspect it is an issue with the cert.

[2015-07-01 03:21] #110 closed

[2015-07-02 04:03] henry-zhuang opened #160 "[OSX 10.8.5] Can't seem to be able to debug a program"
Running a process
[code]

[2015-07-02 06:19] flike commented on #160
+1

[2015-07-02 09:24] NanXiao opened #161 "Can't start the debug process successfully"
(1) The version of delve:

        [root@Fedora ~]# delv -v
        delv 9.10.2-RedHat-9.10.2-1.fc22

(2) The version of Go:

        [root@Fedora ~]# go version
        go version go1.4.2 linux/amd64

(3) OS and processor architecture:

	[root@Fedora ~]# uname -a
	Linux Fedora 4.0.4-301.fc22.x86_64 #1 SMP Thu May 21 13:10:33 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

(4) Issue description:

I doubt

[2015-07-02 14:59] pnasrat commented on #161
`delv` is not the correct command you need to install `dlv` as per https://github.com/derekparker/delve/wiki/Building

The `delv` binary you are running is part of the `bind` package

http://pkgs.fedoraproject.org/cgit/bind.git/tree/bind.spec?h=f22#n857

Man page ftp://ftp.isc.org/isc/bind/cur/9.10/doc/arm/man.delv.html

[2015-07-02 18:09] derekparker commented on #161
@pnasrat is correct. Invoke with `dlv`.

[2015-07-02 18:09] #161 closed

[2015-07-02 18:11] derekparker commented on #160
Seems related to #159. Have you signed the binary as per: https://github.com/derekparker/delve/wiki/Building#os-x ?

[2015-07-03 02:27] henry-zhuang commented on #160
@derekparker

Does it mean enter `codesign -s dlv-cert $(which dlv)`?

[2015-07-03 20:34] derekparker commented on #160
@henry-zhuang yes, you must codesign the dlv binary before using it on OSX.

[2015-07-03 20:35] #95 closed

[2015-07-04 01:14] henry-zhuang commented on #160
@derekparker
[code]

[2015-07-04 01:37] derekparker commented on #160
Looks like `go build` is failing. Can you compile the program normally?
On Fri, Jul 3, 2015 at 8:14 PM henry-zhuang <notifications@github.com>
wrote:

[2015-07-04 01:44] henry-zhuang commented on #160
@derekparker Yes, I enter `go build hello.go`

It succeed and run normally.

[2015-07-04 03:09] derekparker commented on #160
Hmmm, can you send a gist of hello.go? Also `dlv run` does not take
arguments.
On Fri, Jul 3, 2015 at 8:44 PM henry-zhuang <notifications@github.com>
wrote:

[2015-07-04 11:26] aarzilli opened #163 "proc.(*Thread).GetG does not work on linux/go1.4.2 when the debugged process uses cgo (even indirectly)"
proc.(*Thread).GetG assumes that the pointer to the g struct happens at address FS:-16, this is true as long as the program was linked by go itself, which is the most common case, however if the program (or one of its dependencies) uses cgo the linking will be done externally by ld and the g struct will end up at address FS:-8.

This can be verified by writing a simple program that uses cgo and th

[2015-07-04 12:09] henry-zhuang commented on #160
@derekparker Thank you. It works.

It must run in the only `hello.go` folder.

[2015-07-04 12:49] #160 closed

[2015-07-04 12:54] derekparker commented on #79
Going to close this issue as, according to the issue you linked to this has been patched by Russ.

[2015-07-04 12:55] #76 closed

[2015-07-04 12:55] #86 closed

[2015-07-04 12:57] #82 closed

[2015-07-04 12:58] derekparker commented on #157
@dlsniper going to close this issue. If you're still running into issues, ping me in the gitter chat.

[2015-07-04 12:58] #157 closed

[2015-07-04 13:01] derekparker commented on #159
Closing as related to #134.

[2015-07-04 13:01] #159 closed

[2015-07-04 13:02] #132 closed

[2015-07-04 13:03] derekparker commented on #93
Should be fixed now, if this is still an issue feel free to reopen.

[2015-07-04 13:03] #93 closed

[2015-07-04 13:10] xyproto commented on #132
Works now!

[2015-07-04 20:07] derekparker commented on #163
The ideal solution here would be to determine the offset at runtime. I think we could get away with attempting to verify the type of binary we're dealing with.

For the cgo case, we can check `runtime.iscgo` in the attached binary, which is a boolean. For Go1.4 / Go1.5 differences, I'm not sure off the top of my head. I'd have to do some digging to see how we could determine that.

[2015-07-08 17:03] joefitzgerald opened #164 "Document JSON-RPC service"
@derekparker I am the author of [`go-plus`](https://github.com/joefitzgerald/go-plus), and will also be building a general / extensible debugging package for Atom - [debugger](https://github.com/atom-community/debugger) which will incorporate the Chromium developer tools' debugging UI.

I would like to begin integrating delve as part of this, but I'm unsure of the status of `dlv` regarding its abi

[2015-07-08 17:38] alaska opened #165 "New processes are stopped immediately after fork, many commands return weird error messages in this state"
After following the instructions for OSX, including self-signing the app, building it and testing it (all passed), I get the following when I try to debug a simple program:

[code]

[2015-07-08 18:08] glycerine opened #166 "install on OSX yosemite failing with "User interaction is not allowed.""
On OSX 10.10.2 / go 1.4.2 darwin/amd64, I'm trying to follow the install instructions here https://github.com/derekparker/delve/wiki/Building

I created and installed the "dlv-cert" in the keychain, set the trust level, and killed taskgated.

The error "User interaction is not allowed" is returned when I try the CERT=dlv-cert make install step:

[code]

[2015-07-08 18:15] glycerine commented on #166
Probably expected, dlv seems to not be able to function at this point...

[code]

[2015-07-08 18:31] sharpner commented on #87
It would be awesome if this behaviour could be documented...
took me a while to figure out that dlv run does work differently from go run =)

[2015-07-08 18:42] glycerine commented on #166
The fix is here, be sure to open your *private key* in keychainAccess app to find the Access controls tab...

http://stackoverflow.com/questions/20205162/user-interaction-is-not-allowed-trying-to-sign-an-osx-app-using-codesign

[2015-07-08 18:42] #166 closed

[2015-07-08 19:58] derekparker commented on #164
It's not well documented, but there is facilities for communicating with a Delve debug server via JSON-RPC.

I can provide more information on this, and I'll be working on some documentation as well, however in the meantime take a look at what the client is doing in `service/rpc/client.go`, or feel free to reach out to me here or on gitter.

I'll keep this thread open in the meantime until the doc

[2015-07-08 20:12] derekparker commented on #165
I think I know the underlying issue here, however this brings about another issue: currently a brand new process will be stopped immediately after it is forked. Would it make sense instead to advance the program to the "main.main" function, essentially landing the user in a useful stop by default?

I'd like some feedback on this, but it seems like the right thing to do.

[2015-07-08 20:14] derekparker commented on #164
I renamed this issue to be more generically applicable to those seeking to integrate with the JSON-RPC service externally.

[2015-07-08 21:50] alaska commented on #165
Aside from perhaps ```init()``` functions, is there anything the average user can even reasonably do about anything that comes before main.main? If not, I'd consider skipping directly to it.

[2015-07-08 23:05] derekparker commented on #165
@alaska exactly, and the answer there is: not really. A flag would be a reasonable option, for stopping immediately after forking.

I'll take this into consideration, bearing `init()` functions in mind. Essentially what would be nice is to put the user at the first instance of "user" code being executed.

[2015-07-09 14:31] tonyconstantinides opened #168 "Debugger crashes immediately on OS X 10.11 SeaLion with Kill 9 error"
I followed instructions and was able to build and install from source and also to create a self signed cert.
All that worked. When I run the debugger it crashes with a kill 9 message. When I set a breakpoint using the runtime class and type "dlv run hello.go" it crashes with a kill 9 error

[2015-07-09 15:39] derekparker commented on #168
Do you mean 10.11 El Capitan? I do not have 10.11 installed on my machine, however maybe I could look into this. However, `dlv run` does not take an argument. It is meant to be run standalone. This is actually a common point of confusion, so I'm considering dropping `run` altogether and just assume the default behavior when executing `dlv`.

[2015-07-09 16:02] lamielle commented on #168
@tonyconstantinides is it possible that the binary was not signed properly? On 10.10 I was seeing an error, "unable to fork/exec" when running "dlv run".  Once I rebuilt the binary and followed the signing steps fully that stopped happening.  I did not check the exit code but I suspect it was probably SIGKILL.

[2015-07-09 16:10] lamielle opened #169 "Improve installation experience for OSX users"
Per my brief gophercon discussion with Derek I'm filing this issue to track discussion/changes around improving the installation experience for OSX users.  Specifically, the 'dlv' binary is required to be signed to comply with OSX security features.  Ideally the OSX install experience would be a simple as Linux, just run go get.

A few ideas around automating the binary signing when installing dlv

[2015-07-09 16:20] lamielle commented on #169
Some references I've found during some research:

GDB has the same issue on OSX: http://stackoverflow.com/questions/13913818/how-to-get-a-codesigned-gdb-on-osx  Solutions presented are to self-sign the binary (what we do for dlv already) or to disable the cert checks in OSX.  I don't think disabling the checks is a good idea to suggest to dlv users.

Relevant homebrew issue discussing this topic i

[2015-07-09 16:59] tonyconstantinides commented on #168
Hi,
Yes I mean I running 10.11 El Capitan. I also using the 1.5 beta 1 which I know you do not support yet.
I really should of read more issues before filing this one. Feel free to ignore this issue until you have a chance to catch up with Go and OS X changes. I did try "dlv run mygoapp". I have carefully created the cert last night making sure I complete all the details so I do not  believe its a

[2015-07-09 17:08] aarzilli opened #170 "Breakpoints on functions not getting hit / getting hit too many times"
In the process of implementing the breakpoints file feature I have come across a bug where breakpoints sometimes do not get hit or get hit many more times than excepted (ie. one breakpoint gets hit immediately after calling Continue without the debugged program making any progress).

I wrote a test that reproduces this problem, it's on this branch: https://github.com/aarzilli/delve/tree/continue-b

[2015-07-09 23:43] derekparker commented on #169
I've decided to create a mailing list as a central place to discuss the design, proposals, and process regarding Delve development. Please continue this discussion here: https://groups.google.com/forum/#!topic/delve-dev/po4vRMx4zwc

[2015-07-09 23:43] #169 closed

[2015-07-09 23:46] derekparker commented on #55
Moving discussion related issues to mailing list. Please see (https://groups.google.com/forum/#!forum/delve-dev) for further discussion.

[2015-07-09 23:46] #55 closed

[2015-07-10 02:29] etsuo opened #171 "info locals causes panic: runtime error: makeslice: len out of range"
**Summary**
Running `info locals` causes: "runtime error: makeslice: len out of range". This consistently reproducible on my end.

**Environment**
1. Delve version: 0.5.0.beta
2. Go version go1.4 darwin/amd64
3. OS/X version 10.10.4 (14E46)

**Steps to Reproduce**
[code]

[2015-07-10 04:39] derekparker commented on #170
So, here's what could be happening (although note I haven't dug in too deep yet):

I notice you're setting breakpoints directly on functions. A pure Go function is going to have a prologue that checks the stack size and allocates / copies if necessary. When that allocation is hit, it jumps back up to that prologue and checks again.

As an example of this (disassembled on OSX):

[code]

So that mor

[2015-07-10 15:11] aarzilli commented on #170
You seem to be correct about runtime.morestack_noctxt being the cause for the multiple breakpoints. The PR fixes it.

The part about breakpoints not being hit sometimes remains however that seems to actually be connected to hardware breakpoints (I've run TestContinueMulti for 3 hours without errors with hw breakpoints disabled), but it's also much more rare compared to the multiple breakpoint hits

[2015-07-14 16:00] derekparker commented on #171
This has been during implementation of: https://github.com/derekparker/delve/commit/3cee10d8bc5331bde18f350be3ff33414dba2cc2.

[2015-07-14 16:00] #171 closed

[2015-07-14 16:01] derekparker commented on #121
Implemented by: https://github.com/derekparker/delve/commit/3cee10d8bc5331bde18f350be3ff33414dba2cc2

[2015-07-14 16:01] #121 closed

[2015-07-14 16:02] derekparker commented on #87
Closing due to moving discussion to: https://groups.google.com/forum/#!topic/delve-dev/xjf3jyGfA_w

[2015-07-14 16:02] #87 closed

[2015-07-14 16:03] #115 closed

[2015-07-24 13:36] glycerine opened #178 "doc request: how to pass arguments to the running program?"
This is the basics. I can't find how to tell delve what command line arguments to pass to the executable being debugged.

In gdb, I would do "set args my.input.file.name", to have argv[1] set to my.input.file.name.

[2015-07-24 23:18] xlab commented on #178
The same here, need help :(

[2015-07-24 23:41] ebfe commented on #178
`dlv run [file] args`. If file is omited the package in the current directory
is used. Use `--` to separate (flag) args to dlv itself from args to the
debugged binary.

    $ cat echo.go
    package main

    import (
            "fmt"
            "os"
    )

    func main() {
            fmt.Println(os.Args)
    }

    $ dlv run foo bar
    Type 'help' for list of commands.
    (dlv) continue

[2015-07-25 00:32] xlab commented on #178
Thanks! That was a bit unexpected to omit the program path at all while using the `--` separator, I've been trying this:
[code]

[2015-07-26 23:59] derekparker commented on #178
The `run` subcommand as it is currently implemented actually does not take an argument, but otherwise the above information is correct. Delve will pass any non-flag arguments after `run` to the new process. For flags, use `--` and then any flags you would like to pass.

[2015-07-26 23:59] #178 closed

[2015-07-27 00:04] derekparker commented on #178
Docs updated at: https://github.com/derekparker/delve/wiki/Usage#passing-arguments

[2015-07-27 00:05] derekparker commented on #178
@glycerine additionally, there is no command to pass any flags / arguments to the process once your at the dlv prompt. By that time the process has already been created.

[2015-07-27 03:38] glycerine commented on #178
Hi @derekparker -- the gdb does it, one uses "set args 1 2 3" and then "run". The run then uses the set args you just set when it re-launches the process. Does that make sense?

[2015-07-27 19:13] derekparker commented on #139
Update on this issue, Delve support for Go1.5 is currently help up by https://github.com/golang/go/issues/11887.

[2015-07-28 12:49] derekparker commented on #163
Fixed by https://github.com/derekparker/delve/pull/177

[2015-07-28 12:49] #163 closed

[2015-07-28 13:24] derekparker commented on #170
Fixed by https://github.com/derekparker/delve/commit/a0115e3a15d8a03b78fa23a5d74d1b92ea20b21c

[2015-07-28 13:24] #170 closed

[2015-07-28 14:11] derekparker commented on #140
Enable configuration of path length when printing current location (full path vs shortened). \cc @ignatov

[2015-07-28 15:47] ignatov commented on #140
May be for the first time a command line will be OK?

[2015-07-28 18:43] frederich opened #179 "Could not parse version number: devel +17efbfc Tue Jul 28 17:39:19 2015 +0000"
Delve cannot parse the version number of the tip go toolchain.

sl% dlv run
could not launch process: Could not parse version number: devel +17efbfc Tue Jul 28 17:39:19 2015 +0000

Hello World!

sl% go version
go version devel +17efbfc Tue Jul 28 17:39:19 2015 +0000 linux/amd64

[2015-07-28 18:48] frederich opened #180 "Could not parse version number: devel +17efbfc Tue Jul 28 17:39:19 2015 +0000"
Delve cannot parse the version number of the tip go toolchain.

sl% dlv run
could not launch process: Could not parse version number: devel +17efbfc Tue Jul 28 17:39:19 2015 +0000

Hello World!

sl% go version
go version devel +17efbfc Tue Jul 28 17:39:19 2015 +0000 linux/amd64

[2015-07-28 18:49] #180 closed

[2015-07-28 18:55] derekparker commented on #168
Closing this as it's a result of https://github.com/golang/go/issues/11887

[2015-07-28 18:55] #168 closed

[2015-07-28 18:56] derekparker commented on #179
@aarzilli any chance you could look into this?

[2015-07-28 19:05] derekparker commented on #179
@aarzilli actually, I know what the issue is, same thing is happening on Go1.5beta2. The current parser expects all numbers after the initial "go" portion of the version string. I'll try and get a fix up soon.

[2015-07-28 19:06] aarzilli commented on #179
the reason why this happens is obvious, the problem is that I can't do anything useful with that version number. The best I can do is suppress the error and assume that everything unparseable has g struct at offset -8, it's not strictly true but it's probably unlikely to encounter a counterexample at this point

[2015-07-28 20:37] derekparker commented on #179
Closed by https://github.com/derekparker/delve/pull/181

[2015-07-28 20:37] #179 closed

[2015-07-29 00:00] derekparker commented on #139
Supported as of: https://github.com/derekparker/delve/commit/a506bb7d8e33e85878866152ba738206dbef9209

[2015-07-29 00:00] #139 closed

[2015-07-29 09:17] quarnster opened #182 "Command aliases"
It'd be helpful if I could specify aliases for commands, preferably in a global and/or local config file.
Like
[code]

[2015-07-29 09:19] quarnster opened #183 "Breakpoint / Tracepoint autocompletion"
For example `break Test<tab>` should list all the functions starting with Test or complete to the single function starting with Test if there's only one available.

[2015-07-29 10:03] quarnster commented on #58
Isn't this almost working already? Stopping appears to print the source code so there's just missing a "list" command for manual source print?

[2015-07-29 10:18] quarnster opened #184 "trace and thread both alias to "t""
Also what exactly is a "tracepoint"? :)

[2015-07-29 13:27] derekparker commented on #184
Fixed by https://github.com/derekparker/delve/commit/e9b3a9eac13af44913bf0ad7fd50281a1925f5ef.

A tracepoint is similar to a breakpoint, however instead of stopping the world and bringing the Delve prompt up, it will just emit a notification that it hit that part of the program. Additionally, every time a tracepoint is hit the value of specified variables and a stacktrace of N depth may be printed

[2015-07-29 13:27] #184 closed

[2015-07-29 13:32] joeshaw opened #186 "`info locals` shows uninitialized value for as-yet undeclared variable"
Running Delve 0.6.0.beta (a506bb7d8e33e85878866152ba738206dbef9209) and go version go1.4.2 darwin/amd64.  With the following test program:

[code]

[code]

`x` is undeclared at this point.  I'd expect either that it wouldn't display at `info locals` at all or that it'd say something like `x = (undeclared)`.  Once I step past the declaration/assignment, it has the correct value of `x = 100`.

[2015-07-29 13:33] derekparker commented on #58
@quarnster correct. The part this is not implemented yet, however, is the ability to print out sections of different source files outside of your current position.

[2015-07-29 13:36] joeshaw opened #187 "`info break` for displaying breakpoints"
I was a little surprised when I restarted a program and it lost my breakpoints.  (That could possibly be a separate issue to file?)  I use `info break` in gdb a lot to list the currently assigned breakpoints and I see that Delve doesn't have that.  It would be nice to have.

[2015-07-29 13:38] aarzilli commented on #187
the `breakpoints` command is the `info break` equivalent

[2015-07-29 13:40] joeshaw commented on #187
@aarzilli Ah, cool, thanks.  I find the difference between the `info` commands and the non-`info` ones (`breakpoints`, `goroutines`, `threads`) a little confusing because they seem arbitrary.  Why not have `locals` be a toplevel command too?

[2015-07-29 13:40] derekparker commented on #187
I agree losing breakpoints upon using the `restart` command is surprising. I'll create a separate issue for that.

[2015-07-29 13:40] #187 closed

[2015-07-29 13:41] derekparker commented on #187
@joeshaw I agree. I plan on moving all `info` subcommands to be top-level.

[2015-07-29 13:42] derekparker opened #188 "Preserve breakpoints when using the "restart" command"
Upon restarting a process as a result of a user issuing the "restart" command, Delve should restore all breakpoints that the user had previously set.

[2015-07-29 13:42] joeshaw opened #189 "`info locals` crashes with "len out of range" error"
Running Delve 0.6.0.beta (a506bb7) and go version go1.4.2 darwin/amd64.  I was trying to reproduce this with a simpler program when I ran into #186, but haven't had success so far.  A fairly complicated program crashes when I run `info local` in the `main.main` function:

[code]

[2015-07-29 13:43] joeshaw commented on #187
@derekparker awesome, thanks!

[2015-07-29 13:45] joeshaw commented on #189
By the way, this seems to happen no matter where I try to run `info locals` in `main.main` -- doesn't have to be at the first line.

[2015-07-29 13:46] derekparker commented on #186
Related to https://github.com/derekparker/delve/issues/106, with similar issues for fixing.

[2015-07-29 14:31] joeshaw commented on #182
:+1: both of these have bit me recently.  I'll write up a patch for them now.

[2015-07-29 23:28] derekparker commented on #182
Re-opening because alias command / external config not implemented.

[2015-07-30 14:36] ignatov opened #192 "Unknown type: *dwarf.ComplexType"
[code]

Mac OS X 10.10, go 1.4.2, the latest delve

[2015-07-30 17:06] #192 closed

[2015-07-30 21:49] ignatov commented on #192
Thanks

[2015-07-31 10:49] ignatov opened #195 "Cross compilation support?"
Hi, do you have any plans for cross compilation for delve?
Right now I can't manage it via `gox` and `go 1.5 b3` for instance:
[code]

[2015-07-31 16:49] derekparker commented on #195
I do plan to eventually start releasing official prebuilt binaries (possibly starting soon, and just start releasing nightly builds) - however I don't think proper cross-compilation could ever be supported. The OSX versions rely on OSX/mach specific header files.

[2015-08-02 05:09] #188 closed

[2015-08-03 09:44] ignatov commented on #195
Nice to here that.

[2015-08-03 13:57] #195 closed

[2015-08-04 13:17] ignatov commented on #140
@derekparker What do you think about adding a command line parameter for full/short file paths? I believe that for other visual debuggers such option would be useful.

[2015-08-04 18:21] tylerb opened #197 "exec.Command(...).Wait() hangs forever"
When using delve to debug a program that runs an external program, delve will hang forever while waiting for the external program to terminate. The included sample application demonstrates this behavior:

[code]

[2015-08-04 18:29] derekparker commented on #197
Working on this issue, have it reproduced locally. I have an idea of what's causing it, should have fix up before the end of the day.

[2015-08-05 12:34] frederich opened #198 "Windows support"
Add support for Windows.

[2015-08-05 12:58] derekparker commented on #140
I think that makes sense. I could have a patch adding that feature up
today.
On Tue, Aug 4, 2015 at 8:17 AM Sergey Ignatov <notifications@github.com>
wrote:

[2015-08-05 13:30] ignatov commented on #140
Nice to here that!

On Wed, Aug 5, 2015 at 3:58 PM, Derek Parker <notifications@github.com>
wrote:

[2015-08-08 05:07] hackintoshrao opened #200 "Unable to get started with delve"
I did a `go get go get -u github.com/derekparker/delve/cmd/dlv` to fetch delve , then in the bin of my $GOPATH i could see the dlv binary on my linux machine , but `dlv <pathToMyProgram>` doesnt seem to doing anything . I tried `dlv run` too . Can anyone help me get started with delve ?

[2015-08-08 05:11] aarzilli commented on #200
What error message are you getting?

[2015-08-08 11:43] kraoadori commented on #200
No error messages at all , it just doesnt do anything !

[2015-08-08 11:43] Karthic-Hackintosh commented on #200
No error message , it just doesnt do anything !

[2015-08-08 12:52] aarzilli commented on #200
does it hang or do you get the bash prompt back? Try `dlv --log=true`

[2015-08-08 12:57] Karthic-Hackintosh commented on #200
I get the bash prompt back , it doesnt hang

[2015-08-08 13:49] aarzilli commented on #200
what happens if you pass `--log=true`?

[2015-08-08 14:58] derekparker commented on #200
Do you get an error message when you use `dlvl run`? Are you using that command in the directory that you would run `go build` from? `dlv run` does not take arguments, it does not work in the same way that `go run` does.

There is a bug currently in cmd/dlv/main.go where it does not expect a path to a binary, like it used to. I can fix this and get a patch up soon.

[2015-08-10 01:46] Karthic-Hackintosh commented on #200
1.No , I dont get an error message when i use `dlv run`
2.Yes , I'm using dlv run from the directory of my project where i build it
3.I'm running the dlv by giving the absolute path of dlv binary which is in the bin of my GOPATH

[2015-08-10 20:51] derekparker opened #201 "Add ability to specify server addr from command line"
User should be able to connect to a headless Delve server using the terminal client.

[2015-08-12 04:16] moshee opened #203 "Hang when using breakpoints"
Not sure if this is related to #41 or #67 (or #70). This issue seems to happen in a much more trivial case.

Delve version: git master (d9d3118)
Go version: reproduced on 1.5beta3, 1.5rc1, and 1.4.2

I can run this program normally but as soon as I add a breakpoint (through Delve or runtime.Breakpoint) it never gets anywhere, just hangs, necessitating a kill.

[code]

If I send ABORT, I get [this

[2015-08-12 10:34] obscuren opened #206 "could not launch process: Could not parse version number: go1.4"
[code]

running with `dlv run` gives the following output:

[code]

[code]

OS X 10.10.4

[2015-08-12 14:17] #197 closed

[2015-08-12 14:25] derekparker commented on #203
I can't reproduce, however I may have a few ideas. I almost wonder if it has anything to do with the kernel version. I ran into similar issues when I first tried Travis-ci, if you don't run on their "container" Linux workers, then you get an older 2.6.x kernel - and I was experiencing issues then. That very well could be coincidence, but let me try and run in a VM with that kernel and see if I can

[2015-08-12 15:12] moshee commented on #203
Hmm, that should have occurred to me. I tried it in another VPS running Linux 3.2 and it works.

[2015-08-12 15:13] #206 closed

[2015-08-12 15:20] derekparker commented on #203
Thanks for trying it out on another kernel. I'm not sure what the issue is with the 2.6 kernel, however I'm going to close this issue and open a new one specifically to address 2.6 kernels.

[2015-08-12 15:20] #203 closed

[2015-08-12 15:23] derekparker opened #209 "Linux 2.6.x kernel: Breakpoints hang, program unresponsive"
On the Linux 2.6.x kernel, after setting a breakpoint in the traced process and continuing it, Delve will hang instead of registering the breakpoint. Further inspection shows the traced process is not running.

This could be a ptrace(2) bug on that version of the kernel, or a bug with Delve. Requires further investigation.

[2015-08-12 15:23] derekparker commented on #209
Broken out from https://github.com/derekparker/delve/issues/203

[2015-08-14 13:57] #58 closed

[2015-08-14 14:32] #201 closed

[2015-08-16 23:56] tylerb commented on #182
I think I'll take a stab at this.

@derekparker do you have a preferred config file format for this? Also, as there are many packages that deal with reading/writing config files, I feel it would be a good idea to use one of them. Are you averse to using a package for this?

[2015-08-17 19:50] gedw99 opened #211 "slight bug in Certificate creation wiki"
The wiki says currently:
Click several times on “Continue” until you get to the “Specify a Location For The Certificate” screen, then set “Keychain to System”.

I am on the latest OSX; and it does not say " “Keychain to System”. On my OSX it has a combo box with two choices. One say "System".

[2015-08-17 20:06] gedw99 commented on #211
All worked fine, i restarted , and then did the last step

CERT=dlv-cert make install

You might want to mention this must be done in the dir that was go getted

[2015-08-17 20:20] #211 closed

[2015-08-17 20:28] gedw99 opened #212 "how to use ?"
i have the latest DLV installed. Cert signing done.

OSX productVersion: 10.10.5
go version: go1.5rc1 darwin/amd64

The commands seem to work fine.
dlv debug main.go

I can list the funcs, etc All works

Now, after playing with the various commands offers, I am wondering how to set a break point for example, or other standad debugging operations.

Here is main.go, a simple program for trying out D

[2015-08-17 21:22] derekparker commented on #212
So, you don't need to pass an argument to `dlv debug`. It expects you to be in the directory where your `main` package lives, essentially the directory you'd run `go build` from.

In order to set breakpoints use the `break` command. Check out: https://github.com/derekparker/delve/wiki/Commands for more information on the various commands and usage.

[2015-08-17 21:22] #212 closed

[2015-08-18 09:05] intel352 commented on #134
I had the same issue, until I killed taskgated as per the instructions:
[code]

I then re-ran the tests, and re-built Delve, everything proceeded fine from this point forward.

[2015-08-18 10:03] gedw99 commented on #212
thanks.

I got it working on the example, stepping through and inspecting goroutines.

[2015-08-19 15:54] tsgan opened #213 "Add support for FreeBSD"
[code]

[2015-08-19 19:03] derekparker commented on #213
Unfortunately FreeBSD is not a supported platform at the moment.

[2015-08-19 19:04] derekparker commented on #213
Actually, let me rename and reopen for adding FreeBSD support.

[2015-08-22 23:40] ip commented on #198
Also need this

[2015-08-23 01:56] superkkt opened #215 "panic: runtime error: index out of range"
Hi,

Delve crashes when I run it and execute 'next' on the breakpoint 'main.main'. My environments are as follows:

* Delve version: 0.7.0-alpha
* go version go1.5 linux/amd64
* Ubuntu 14.04.2 LTS (3.16.0-44-generic)

Here is the logs:

[code]

[2015-08-23 04:46] derekparker commented on #215
Thanks, any chance I could get a copy of the source code you're debugging so I can try and reproduce locally?

[2015-08-23 05:00] superkkt commented on #215
Unfortunately, I don't have right to make it public as my company owns this program, and it does not belong to me. Please let me know if you need further information.

[2015-08-24 14:08] jpop32 commented on #198
Is there any work being done on this? With support for delve recently pulled into IntelliJ plugin this suddenly became a very interesting issue.

[2015-08-24 18:42] derekparker commented on #198
Not that I am aware of, at the moment.

If somebody would be willing to take on this endeavor that would be great,
otherwise I will write the port as soon as I can.
On Mon, Aug 24, 2015 at 7:08 AM Jovica Popovic <notifications@github.com>
wrote:

[2015-08-24 22:40] mwhooker commented on #215
I can reproduce, but unfortunately can't share my code either. I modified delve to print out how big a slice it's asking for when `readString`ing

[code]

When my program breaks, I run `locals`, and get the following

[code]

happy to help debug more. Will also probably attempt to write a fix real quick

[2015-08-25 17:01] Omie commented on #215
Hi

I was kind of bored so I did some investigation.
I did this investigation on Ubuntu 64 bit 3.13.0-61-generic, Go 1.5, Delve version: 0.7.0-alpha

as it turns out:
parseDebugLineInfo initiates some meta data parsing and gets buffer string upto 0x0 in parseFileEntries, which fails to get the name of the executable at times causing FileNames slice to be empty, in turn causing Index out of range w

[2015-08-25 23:56] derekparker commented on #215
@Omie thanks for your work! I was able to reproduce this on a Linux VM with Go 1.5 using the Delve branch. I cannot reproduce on OSX, so seems to be an issue with ELF binaries. I'm going to investigate a bit more.

[2015-08-26 00:12] derekparker commented on #215
Tracking it down a bit further it seems to be a problem with CGO binaries on Linux with Go 1.5. The Go 1.5 compiler on Linux when compiling a CGO binary seems to omit the file name table in the .debug_line section.

[2015-08-26 07:03] obscuren opened #216 "dlv: process instantly killed"
Any command issued is instantly killed (`version`, `exec`, etc)

Binary has been signed

* **Commit**: `8c1853d1930294dcc745c2a14f59095add7c4a91`
* **OS**: `OS X`
* **Go version**: `go version go1.5 darwin/amd64`

[2015-08-26 07:48] Omie commented on #215
spent some time more on this. Looks like it doesn't omit the file name table but prepends a lot of C stuff in header. It grew when I added stdio import.

ref: https://github.com/Omie/delve_215/raw/master/c/hello.debuglines
( formatted a little to put go files on new lines each )

couldn't find any pattern to distinguish C related part in debug_line yet

[2015-08-26 13:00] derekparker commented on #216
How did you install, did you use the `make install` command? If not, use it
and try again. Delve must be built with certain flags on OSX due to a
linker/code sign issue.
On Wed, Aug 26, 2015 at 2:03 AM Jeffrey Wilcke <notifications@github.com>
wrote:

[2015-08-26 13:43] derekparker commented on #215
@Omie yeah you're right, there's multiple file directories in the elf .debug_line section, so with that in mind this is related to https://github.com/derekparker/delve/issues/143. Delves needs to be able to handle multiple file tables / directory tables.

[2015-08-26 14:14] obscuren commented on #216
I first tried `CERT=dlv-cert make`, unfortunately it stopped doing "something". I wanted to report the problem but figured I'd first try to build it manually.

Here's the output using `make`:

[code]

[2015-08-26 14:19] aarzilli commented on #216
`make install` or `make build` will skip the tests (that's the "something" you are getting stuck on).

[2015-08-26 14:38] Omie commented on #215
@derekparker okay. I have some time that I wouldn't mind spending on this, could you share what have you thought about splitting the package? we can switch to mail if needed, address is in profile :)

[2015-08-26 14:56] derekparker commented on #215
@Omie just mailed you my thoughts on this. Thanks for your help!

[2015-08-26 14:59] derekparker commented on #216
@obscuren yeah, there is a flickering test on OSX right now that I'm working on. Refer to @aarzilli comment above about how to install. (`make` by itself won't install anyway, just runs tests).

[2015-08-26 14:59] #216 closed

[2015-08-26 15:14] Omie commented on #215
yup! will continue there.

[2015-08-26 16:53] obscuren commented on #216
Alright, thank you very much

[2015-08-27 07:19] obscuren opened #217 "Debugging halts during initialisation"
I've been playing around with the `dlv` program using some simple code. After successful iterations I tried debugging a [larger program](https://github.com/ethereum/go-ethereum/tree/develop/cmd/geth) without much success. Unfortunately I've not been able to reproduce the issue using a simple example - and therefor can not provide one - and I haven't tried debugging on a different OS other than my

[2015-08-28 06:07] aarzilli commented on #217
Just for reference, this bug can not be reproduced in linux.

[2015-08-28 15:36] Omie commented on #138
fyi: couldn't reproduce with newer version.
[code]

`locals` and `vars` worked good with your mentioned steps.

[2015-08-28 16:12] Omie commented on #60
I explored code a little for this. If nobody is working on variable printing then I'd like to take this up next.

It will require thinking a bit since there are more of similar type in line [ #61 #116 #117 #122  ]

Have you thought about how to go about this?

Should use a pretty printer package?
http://godoc.org/github.com/kr/pretty
https://github.com/davecgh/go-spew

It can get really messy if w

[2015-08-28 16:22] aarzilli commented on #138
Between 8de1a307ee09500eb639b66c733d648254ccef12 and 2e4b29b25cb915c3f854f80b1eb6d5cff5c4db42 (not yet pulled) I hope this and the other Issues related to panics during variable evaluation should be gone.

[2015-08-28 17:30] nuss-justin commented on #138
Just tested with current Go Tip + Delve Tip and couldn't reproduce. Everything works as expected now.

[2015-08-28 19:19] aarzilli commented on #60
I've thought a bit about this and IMHO the optimal way to do this is in three steps

1. split the code in variables to separate calculation of addresses with reading values, this will help with step 3 and also make implementing a set command possible
2. change the code that reads values to read them into some data structure instead of producing a string directly, then implement a pretty printer on

[2015-08-28 19:31] derekparker commented on #60
@aarzilli you're correct and that sounds like a reasonable plan for the other issues mentioned by @Omie. This issue does not deal with evaluation based off of an expression, it involves adding functionality to call a Go function and store the return value(s) and then essentially print the `string` that is returned by `.Error` to the screen.

[2015-08-28 19:34] #138 closed

[2015-08-30 06:28] Omie commented on #215
@superkkt @mwhooker could you verify now that #218 is merged?

[2015-08-30 13:36] superkkt commented on #215
Thanks. I have verified the bug is gone by #218.

[2015-08-31 01:06] #215 closed

[2015-09-03 16:28] binary132 commented on #65
This is blocking the use of Delve for me as well.  Perhaps a Delve command like `attach <some io.Reader>`?

[2015-09-04 14:13] ThomasMoinel opened #220 "Support printing nested struct member"
Can't print nested struct member, see error below with example code.
[code]

nestedstruct.go
[code]

[2015-09-05 00:50] ThomasMoinel commented on #220
A more complete example where every print give the same _Command failed: b has no member *_
[code]

I think a correct way is to make a recursive call in proc/variable.go evaluateStructMember.
I'm trying to make it work but I struggle to learn dwarf and delve internals. If I find out a way, I'll make a pull request.

[2015-09-05 03:48] derekparker commented on #220
@aarzilli or @ebfe any interest in this?

[2015-09-05 04:29] derekparker commented on #200
@Karthic-Hackintosh can you still reproduce this issue with the current code on master? If so, what is the output of `--log=true` as @aarzilli suggested?

[2015-09-05 05:26] aarzilli commented on #220
The current code uses a special case to extract the address of a member field, so supporting this is not easy. When I refactored variables.go to split address extraction and evaluation I also rewrote this part to be more general. Once I commit that it should be easy to add a for loop and go any number of levels deep, as a provisional measure, until we have a more general expression evaluator.

[2015-09-05 09:31] aarzilli commented on #65
@binary132 as a workaround you can compiler your program with -gcflags="-N -l", start it and then on another terminal run:
[code]

A headless dlv plus `dlv connect` should also work, IMHO, but it doesn't at the moment. There are many options available to multiplex terminals, I'm not sure that having delve do it provides any value besides conformity to how debuggers have worked traditionally.

[2015-09-05 11:30] binary132 commented on #65
Thanks @aarzilli!  Good point

[2015-09-05 15:09] Karthic-Hackintosh commented on #200
@derekparker  : The attached screenshot displays the output
![screenshot from 2015-09-05 20 38 24](https://cloud.githubusercontent.com/assets/2609511/9699852/269464e2-540e-11e5-8cfe-efd6fdfe21de.png)

[2015-09-05 16:00] derekparker commented on #200
Run this: `dlv debug --log=true`.

[2015-09-05 16:06] Karthic-Hackintosh commented on #200
@derekparker  : I dont see any output after executing ` dlv debug --log=true`

[2015-09-05 16:28] aarzilli commented on #200
how was `main` compiled?

[2015-09-06 03:23] 7belrhalmia opened #221 "erro on linux mint 17.1"
it give me this error :+1:

![gifrecord_2015-09-06_042138](https://cloud.githubusercontent.com/assets/13202562/9702317/ff3af23a-544e-11e5-891b-b84480fd00ff.gif)

[2015-09-06 07:11] aarzilli commented on #221
It seems that go is trying to simultaneously build linux and solaris implementation of `x/sys/unix`. Either the version of go you are using is very old or it has some problem.

[2015-09-06 15:43] derekparker commented on #221
Can you try deleting everything under `$GOPATH/pkg/golang.org/x/sys/unix` and try again?

[2015-09-06 16:54] 7belrhalmia commented on #221
@derekparker  i didn't find sys under x

[2015-09-07 18:05] 0x003e commented on #198
+1

[2015-09-07 18:22] AlexCHowle opened #222 "Issue with make"
Getting the following with both the original "go get", and also with a subsequent "make":

go get -u github.com/peterh/liner
package github.com/peterh/liner
	imports runtime: C source files not allowed when not using cgo or SWIG: atomic_amd64x.c defs.c float.c heapdump.c lfstack.c malloc.c mcache.c mcentral.c mem_linux.c mfixalloc.c mgc0.c mheap.c msize.c os_linux.c panic.c parfor.c proc.c runtime

[2015-09-07 21:23] vburenin opened #223 "was a wrong tab sorry"

[2015-09-07 21:41] #223 closed

[2015-09-08 07:12] zld406504302 opened #224 "go-lang-idea-plugin--485 debug error"
Error running go_demos: Cannot run program "/Users/zhanglida/Library/Application Support/IntelliJIdea14/intellij-go.jar/lib/dlv/mac/dlv" (in directory "/Users/zhanglida/go_path"): error=20, Not a directory

[2015-09-08 08:02] aarzilli commented on #222
http://stackoverflow.com/questions/32115229/go-1-5-error-imports-runtime-c-source-files-not-allowed-when-not-using-cgo-o

[2015-09-08 08:04] knightyzj commented on #198
+1

[2015-09-08 12:57] #222 closed

[2015-09-08 12:59] derekparker commented on #221
So you don't have `sys`? What happens if you run a `go get -u` instead of just `go get`? Or try to `go get` that `sys/unix` package directly?

[2015-09-08 16:22] kostya-sh opened #225 "break command confuses an absolute file path with a regexp"
For example:

    (dlv) b /home/user/file.go:15
    Command failed: Malformed breakpoint location "/home/user/file.go:15" at 0: no line offset can be specified for regular expression locations

[2015-09-08 17:26] aarzilli commented on #225
My mistake, I'll fix it.

[2015-09-08 19:54] #140 closed

[2015-09-09 08:13] bitshark opened #227 "info locals causes panic: runtime error: makeslice: len out of range #171 #189 Related"
related to issue: info locals causes panic: runtime error: makeslice: len out of range #171

[code]

[2015-09-09 08:26] bitshark commented on #189
Related issue here, possibly identical .  Version & path info & code included. #189

[2015-09-09 08:51] bitshark commented on #227
The problem is fixed when I revert to Delve version 0.5.0.beta

[2015-09-09 08:55] bitshark commented on #227
But it is present in v0.8.1-alpha , v0.8.0-alpha, and v0.7.0-alpha.

[2015-09-09 10:37] aarzilli commented on #227
The problem is that delve can't tell where the scope of variables begins and ends because that information is not saved inside the executable and the code that reads strings has problems dealing with uninitialised memory.
PR #207 has a workaround for this problem

[2015-09-09 15:07] #225 closed

[2015-09-10 01:34] thanzen commented on #198
+1

[2015-09-10 18:49] jklatch opened #231 "installation error"
I tried to install the tool with:
```go get -u github.com/derekparker/delve/cmd/dlv```

But I got just this error message:
[code]

Why it does not work? (I have installed go version 1.5.1)

[2015-09-10 19:54] aarzilli commented on #231
use `go build -a` or remove `$GOPATH/pkg`

[2015-09-10 19:58] MikeGCV opened #232 "+1"

[2015-09-10 19:58] #232 closed

[2015-09-10 20:01] MikeGCV commented on #198
+1

[2015-09-10 20:02] jklatch commented on #231
I removed pkg. Now I get this error message:
[code]

[2015-09-10 20:26] anidotnet commented on #198
+1

[2015-09-10 21:06] aarzilli commented on #231
32bit architectures are not (yet) supported. Sorry, I didn't notice the 386 on your first message.

[2015-09-11 00:06] bitshark commented on #227
Interesting... I really wish the Go language spec would be updated to assist in debugging. Perhaps be adding that information in DWARF?  Does that support encoding variable locality information , I don't know.  It'd be nice if we had something analogous to how I can compile C code with the -g flag.

thanks

[2015-09-11 08:43] jklatch commented on #231
oh okay, thank you! but it would be nice if you could could give a hint of this problem on the main page ;)

[2015-09-11 08:43] #231 closed

[2015-09-12 16:06] yourchanges commented on #198
+1

[2015-09-12 17:23] derekparker commented on #221
Any updates on this issue? @7belrhalmia

[2015-09-12 17:44] 7belrhalmia commented on #221
@derekparker  i just update go and it work i have one probleme i don't now how to usit well @derekparker  plz man can you give me some ressources to me as a beginer to begin using this wonderful tool

[2015-09-12 17:56] derekparker commented on #221
@7belrhalmia:

`dlv debug` to build a binary and begin debugging, or `dlv test` to build a test binary and begin debugging. From there you can type `help` for a list of commands. Set breakpoints, next, continue, etc...

Let me know if you need any more help.

[2015-09-12 17:56] #221 closed

[2015-09-12 17:57] derekparker commented on #221
There currently are not guides on using Delve, however I intend to write up more documentation and guides as the project gets closer to 1.0.

[2015-09-12 18:14] 7belrhalmia commented on #221
@derekparker  it will be very nice if you do a video to explain how to useit

[2015-09-13 16:40] derekparker commented on #221
@7belrhalmia good idea.

[2015-09-14 00:07] ziyouchutuwenwu opened #233 "install error？"
under mac：
[code]

why？？？
can anyone explain it？

[2015-09-14 08:18] ignatov commented on #224
Please report your issue to https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/new

[2015-09-14 09:13] yaoshuangxi commented on #198
+1

[2015-09-14 11:53] #233 closed

[2015-09-14 12:08] PapaStifflera commented on #198
+1

[2015-09-14 14:44] icholy opened #234 "Cache GoroutineInfo result during halt"
The result from [GoroutineInfo](https://github.com/derekparker/delve/blob/2c48b60bb4b85cc60bf84d89e0681f39374b00d4/proc/proc.go#L448) could be cached during a halt. So subsequent calls to the `goroutine` commands would be much faster.

[2015-09-14 19:37] #224 closed

[2015-09-14 20:31] sekeroth commented on #198
+1

[2015-09-14 20:39] delaneyj commented on #198
I'm well aware this doesn't help but... +1

[2015-09-16 17:40] ip commented on #198
Crowd of typical Windows users :D

[2015-09-16 18:48] luiscarrasco commented on #198
G+1

[2015-09-17 17:31] mrz1836 commented on #198
+1

[2015-09-17 19:12] #234 closed

[2015-09-18 08:37] ioanvapi commented on #198
+5 (... & some friends)

[2015-09-18 19:16] ChristianPV commented on #198
+1

[2015-09-19 17:16] dlsniper opened #239 "Executables with space in their name (or in their path) cause delve to hang"
Given the following example:

[code]

when running `dlv exec de\ mo` you can set a breakpoint on line 17 (the `a := struct {` line) and then `continue` will hang forever. The same steps but with the executable named `demo` instead of `de mo` will work correctly.

Below there's a strace of the dlv process.
The target binary is compiled with Go 1.5.1 and so was delve.
uname -a -> Linux sniper 3.19.0

[2015-09-20 04:54] derekparker opened #240 "Refactor: scope prefixed commands should not be hard coded"
Currently, scope prefixed commands are hard coded. In other words, only certain commands can be scope prefixed (i.e. used in `goroutine <id> <cmd>` or `frame <n> <cmd>`. Also, the more pressing issue is that user supplied aliases for those commands will not work.

Scope prefix commands should respect user aliases, and should if possible not be hard coded.

[2015-09-20 05:03] derekparker opened #241 "Test flickers on OSX"
TestNextConcurrent seems to flicker on OSX.

[2015-09-20 16:43] derekparker opened #243 "variables: Store struct member info"
Structs, when evaluated, should include a slice of variables which contains the member fields.

[2015-09-20 16:44] derekparker opened #244 "variables: include short and long versions"
For long arrays/strings we should include both a truncated version and the full version. The truncated version could just be a slice into the full version to save on memory.

[2015-09-20 18:21] #244 closed

[2015-09-20 21:50] dlsniper opened #245 "Allow attaching to a process without pausing the execution"
Sorry, the issue was created too fast :D
Proper description:
Given the following app:

[code]

When I'm doing the following steps:

[code]

I can observe a pause in execution until I send the `continue` command to the debugger.

While I do understand that it might be useful to have that functionality, say for example I want to hook up in a staging app that has traffic on it (sample traffic), attac

[2015-09-20 22:32] dlsniper opened #246 "Add variable watching support for tracepoints"
Tracepoints are very nice as it allows you to see when a program hits a certain line without interrupting.
However they are limited to just displaying when the line has been reached and no additional information.  I wonder if it would be possible to enable some sort of watch mechanism for variables (and later on expressions) for them so that when such a tracepoint it's reached then additional info

[2015-09-20 22:34] dlsniper opened #247 "Display thread ID / goroutine ID / hit count when hitting a tracepoint"
It would be useful to know some additional information when hitting a tracepoint:
- thread ID
- goroutine ID
- hit count -> it should tell you how many times that tracepoint has been hit (preferably in the context of the goroutine)
- total hit count -> like above but regardless of the goroutine.

[2015-09-21 01:27] derekparker commented on #246
Do you mean conditional tracepoints, or just displaying variable information when a tracepoint is hit? If it's the latter, that already exists. You can invoke a tracepoint like so: `trace foo.go:12 i` where `i` is the name of a variable whose value you would like displayed.

I'm going to close this issue for now, if it's not solved feel free to re open.

[2015-09-21 01:27] #246 closed

[2015-09-21 06:32] dlsniper commented on #246
That's the functionality I was looking for, but I didn't noticed it's supported already, the `help` command doesn't display that / wiki is a bit unclear on that. Thank you and sorry for the noise.

[2015-09-22 10:18] Ekranos commented on #198
+1

[2015-09-22 21:56] mantzas commented on #198
+1

[2015-09-24 15:36] xpqz opened #250 "OSX: build failures"
I get the following errors when trying to build (OSX Yosemite 10.10.3, go1.4.2 darwin/386):

[code]

Thanks, Stefan

[2015-09-25 01:49] hansrodtang commented on #250
`clearHardwareBreakpoint` is defined in `proc/breakpoints_darwin_amd64.go`, meaning it will only compile on 64-bit builds. You are running a 32-bit build of Go.

[2015-09-25 05:49] aarzilli commented on #250
If you are on 10.10 you should be able to run 64bit versions of go.

[2015-09-25 12:30] dlsniper opened #251 "Support for evaluating expressions"
One of the features of a debugger is to provide support for evaluating expressions.
One example of usage for this is when you have a watch sent on an expression such as:
[code]

[code]

Setting a breakpoint on line 5 should yield `false` for the evaluation of `a == true`.

I'm pretty sure this is a complex one to do but I haven't done the research yet.

[2015-09-25 15:16] hatuan commented on #198
+1

[2015-09-25 17:19] robpike opened #252 "don't print ANSI escape codes when TERM=dumb"
For those of us who don't use ANSI terminal codes, it would be nice if the output was plain text when TERM=dumb. See attached image.

<img width="487" alt="untitled" src="https://cloud.githubusercontent.com/assets/4324516/10107292/f076da5a-636e-11e5-827b-6342c2bdd606.png">

[2015-09-25 19:12] ramigg commented on #251
+1

[2015-09-25 19:32] dlsniper opened #253 "Allow setting of build flags for the target"
Currently there doesn't seem to be a way to set build flags for the go binary.
For example, one of the apps I'm working on has a need for a `-tags debug` if I'm building a debugging version (extra logs) and a `-tags production` if I'm building the production version (no logs and a few other minor stuff).
Also for tests, for example I'm using `gocheck` which has a few flags of it's own, like `-chec

[2015-09-26 12:36] gshilin commented on #251
+2
Totally agree!
Please, please implement it!!!

[2015-09-27 01:36] baopx opened #257 "goroutines panic while attach to docker 1.9, go 1.4.2"
I'm building my own docker binary with debug flag "-N -l".  I am able to set break point (docker ps, for example), after attaching to the running process.  However, goroutines panic.  This is reproducible every single time.

System environment:
CentOS 7
$ uname -r
3.19.3-1.el7.elrepo.x86_64

$ go version
go version go1.4.2 linux/amd64

Docker git log:
commit bba762b19254b8315aa8d5a6a63cb00253eaa42

[2015-09-27 02:32] baopx commented on #257
Adding some debug to goroutines...

SelectedGoroutine: is nil, which caused the crash.

(dlv) goroutines
[22 goroutines] []*api.Goroutine{(*api.Goroutine)(0xc208ef3590), (*api.Goroutine)(0xc208ef35f0), (*api.Goroutine)(0xc208ef3650), (*api.Goroutine)(0xc208ef36b0), (*api.Goroutine)(
0xc208ef3740), (*api.Goroutine)(0xc208ef3800), (*api.Goroutine)(0xc208ef38c0), (*api.Goroutine)(0xc208ef3860), (*api

[2015-09-27 02:50] baopx opened #258 "next failed, "Breakpoing exists at /go/src/github.com/docker/docker/vendor/src/github.com/godbus/dbus/conn.go:370""
Environment:

CentOS 7 (3.19.3)

$ go version
go version go1.4.2 linux/amd64

root@bao-dev:~/.../github.com/derekparker/delve
$ docker version
Client:
 Version:      1.8.1
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   fdd9957-dirty
 Built:        Thu Sep 17 15:51:19 UTC 2015
 OS/Arch:      linux/amd64

Server:
 Version:      1.9.0-dev
 API version:  1.21
 Go version:   go1.4.2
 Git com

[2015-09-30 05:44] #252 closed

[2015-09-30 07:45] ThomasMoinel commented on #220
From the last example print embedded struct value doesn't work:
[code]

[2015-09-30 10:35] aarzilli commented on #220
This should be reopened, we have to figure out how embedded structs are stored in dwarf.

[2015-09-30 19:05] #250 closed

[2015-10-01 00:48] lukehoban commented on #220
I've opened a new PR (#261) adds support for embedded structs and a test case that includes the full example from @ThomasMoinel.

[2015-10-01 13:47] ignatov opened #262 "Continue command doesn't work in certain situations"
[code]
Delve revision: af16cfa90b04ffda668dfd98d73247d2e9499a2d

[code]

[2015-10-02 16:22] aarzilli commented on #262
Are you sure this happens on that revision? Because I can only reproduce this on my [fix-247 branch](https://github.com/aarzilli/delve/tree/fix-247). I have fixed it there but I can't think of a reason why this behaviour would happen on master.

[2015-10-02 22:20] ignatov commented on #262
The same on f2e5214e1b5c on Mac OS X 10.11 El Capitan.

[2015-10-03 11:18] dimchansky commented on #198
+1

[2015-10-04 10:28] yougg commented on #198
+1024

[2015-10-04 16:51] #257 closed

[2015-10-04 18:30] derekparker commented on #262
I was just able to reproduce this on master.

[2015-10-04 18:34] derekparker commented on #245
I can't see the value of starting an actual debug session without pausing unless you're simply relying on providing an `init` file (to load breakpoints / tracepoints) and then want to simply immediately continue execution, which you _could_ do by simply writing a `continue` command at the end of the init file.

You can already set tracepoints without stopping the program indefinitely with the `tra

[2015-10-04 19:10] #239 closed

[2015-10-06 13:31] ZloyDyadka commented on #198
+1

[2015-10-07 01:05] #258 closed

[2015-10-07 01:26] #220 closed

[2015-10-07 07:24] iverberk commented on #165
First time user of Delve and I'm hitting this issue. I thought I should start with a simple program but I'm immediately hitting this error. I can't quite understand what's going on here. Is there a way to debug a simple hello world program: make it stop on the first (and only line) in the main function?

[2015-10-07 08:27] aarzilli commented on #165
Set a breakpoint on main with `break main.main`, then `continue`. It should stop on the first line of main. If it doesn't work it's a bug (a different bug from this one).

[2015-10-07 08:38] iverberk commented on #165
Awesome, it works, thanks!

[2015-10-07 12:35] LitixThomas commented on #198
+4096

[2015-10-09 07:47] zld406504302 opened #272 "debug failure"
/usr/local/go/bin/go build -o /private/var/folders/7q/h53xbfx93n97b2hpd363p64r0000gp/T/beego_study17go -gcflags "-N -l" /Users/xxx/go_path/src/beego_study/main.go
"/Users/xxx/Library/Application Support/IntelliJIdea14/Go/lib/dlv/mac/dlv" --listen=localhost:64419 --headless=true exec /private/var/folders/7q/h53xbfx93n97b2hpd363p64r0000gp/T/beego_study17go --
invalid spdelta  0x0 0x4030010 0x0 -1
in

[2015-10-09 08:46] aarzilli commented on #272
Please provide: go version, operating system, delve version and what you were trying to do. Also, is that the full stack trace?

[2015-10-09 09:32] kostya-sh commented on #60
@derekparker, I think more general functionality to display a variable as `fmt.Sprintf("%s", x)` or `fmt.Sprintf("%v", x)` would be quite useful in cases when `x` is a `big.Int` or a `big.Rat` or any other user type with nice String() implementation.

May be a new command can be introduced for this: `pf "format spec like %s, %d" s d`

Dealing with breakpoints inside `String()` or `Error()` methods

[2015-10-09 10:01] zld406504302 commented on #272
I want to init mysql driver ,run success ,but failure when debug  in idea. Here is my code snippet.

package main
import (
	"github.com/astaxie/beego"
	_ "beego_study/routers"
	_ "beego_study/initial"
)
func main() {
	host := "localhost"
	port := "8080"
	beego.Run(host, port)
}

package initial
func init()  {
	InitMysql()
}

package initial
import (
	_"github.com/go-sql-driver/mysql"
	"github.com/

[2015-10-09 14:54] derekparker commented on #272
@zld406504302 as @aarzilli mentioned, is that the full stack trace? I don't see any mention of delve in that trace. Are you able to run the program fine without delve? Also could you provide the version of OSX as well, thanks.

[2015-10-09 15:02] derekparker commented on #60
@kostya-sh are you thinking of trying to use the format string and have Delve eval the variables used and then create the formatted string itself? That's kind of interesting, and could lead to the type of command you've suggested. Either way, we're still going to need to land #119 eventually before 1.0 and it would be nice to just be able to use that to "call" the `Error` method and read the strin

[2015-10-10 00:57] #247 closed

[2015-10-10 02:51] zld406504302 commented on #272
Sorry, this should not be bug delve, this exception only after I import github.com/go-sql-driver/mysql, with delve debugging will throw this exception.

[2015-10-10 02:51] #272 closed

[2015-10-10 04:10] lukehoban opened #273 "`make build` and `make install` no longer working on OSX"
The changes in 10910929b8ab930ad47b3f0ecd4a2c64d77e5199 are passing `-exec` flag to `go build` and `go install`, neither of which supports this flag.

[2015-10-10 04:21] kostya-sh commented on #60
@derekparker, no, my example of a new command wasn't very clear. `s` and `d` are names of local variables there, they could have been `foo` and `bar`. I wasn't aware of #119. With function calls one can just write:

    fmt.Sprintf("format spec like %s, %d", foo, bar)

making a new command unnecessary.

[2015-10-10 04:39] #273 closed

[2015-10-11 09:52] walfud commented on #198
+1

[2015-10-11 12:51] chai2010 commented on #198
+`(1/0)`

[2015-10-15 22:08] tgrosinger opened #275 "Cannot create breakpoint on function"
I can create a breakpoint (or trace) if I specify a source:linenumber, however attempting to specify a function directly is not successful.

[code]

Based on my understanding of the location specifies the two there which failed should be possible. Am I doing something wrong or misinterpreting things?

[2015-10-15 22:09] tgrosinger commented on #275
Porting from https://groups.google.com/forum/#!topic/delve-dev/0wTFyAAUrwU
Thanks to @aarzilli for the help.

[2015-10-16 14:10] akevinbailey commented on #198
+1

[2015-10-16 16:43] seriallink commented on #198
+1

[2015-10-16 20:51] derekparker commented on #198
Update: There is great work actively being done on this issue by @lukehoban, with functionality already successfully ported over.

[2015-10-16 23:56] lukehoban commented on #198
Thanks @derekparker.  I've opened #276 to track the work on this port.

Here's a preview of some of the currently supported functionality in that PR:

![rrl3i9no89](https://cloud.githubusercontent.com/assets/223467/10555617/b59581ca-7426-11e5-81ad-3a7dcc25d212.gif)

[2015-10-18 01:44] himulawang commented on #198
+1

[2015-10-18 17:22] #275 closed

[2015-10-18 17:42] #253 closed

[2015-10-18 17:45] #182 closed

[2015-10-18 17:47] #143 closed

[2015-10-18 17:47] derekparker commented on #134
Going to close this issue as it should be solved. Please reopen if not.

[2015-10-18 17:47] #134 closed

[2015-10-18 19:55] derekparker opened #279 "Add support for watchpoints"
Add support for hardware / software watchpoints. Initially should only support watching a variable, but in the future should be expanded to support expressions.
- Watch a variable and break when the program reads it.
- Watch a variable and break when program writes it.
- Combination of both above.

[2015-10-18 22:34] #189 closed

[2015-10-19 08:10] kostya-sh opened #280 "int and int64 fields in JSON API"
API types from service/api/types.go have many int, int64 and uint64 fields that are represented as numbers in JSON.

However not all languages support int64 types. In particular Javascript has only IEEE-754 8-byte float type that can only represent 53-bit integers without loss of precision.

I suggest to serialize all numbers as strings. E.g.:

[code]

[2015-10-20 00:14] lukehoban opened #281 "Next incorrect stepping through if statement at the end of a case claue"
Given this:

[code]

If I run `dlv debug test.go` then:

[code]

I expect to end up stopped on line 16, but instead the program runs to completion.

The issue appears to be that lines 11 and 13 are selected as next lines for temp breakpoints.  Line 13 is the following case clause, but instead the statement following the enclosing switch should be selected.

[2015-10-22 17:54] #281 closed

[2015-10-22 17:55] derekparker opened #282 "Handle renaming of 'allg' to 'allgs'"
In tip they have renamed 'runtime.allg' to 'runtime.allgs'

[2015-10-24 12:03] GameXG commented on #198
+1

[2015-10-29 00:39] #282 closed

[2015-10-29 01:30] #243 closed

[2015-11-03 10:25] ZhandosKz commented on #198
+1

[2015-11-07 01:14] derekparker opened #288 "map slicing should return error when above len(mymap)"
When slicing a map like so: `p mymap[100:]` on a map that has len(mymap) < 100 should return an error.

[2015-11-09 01:27] #288 closed

[2015-11-09 20:24] aarzilli commented on #262
A couple of weeks ago I managed to get an OS X VM working so today I thought I would take a look at this bug.
It turns out that the problem is very similar to my own fuckup in PR #259: `proc.(*Thread).singleStep` calls `t.dbp.trapWait`, and trapWait thinks we hit the breakpoint instead of stepping through a `NOP` instruction, since `NOP` (which is the instruction the breakpoint in question is set

[2015-11-09 21:22] derekparker commented on #262
@aarzilli calling `C.mach_port_wait(t.dbp.os.portSet)` is actually correct in this context. The `portSet` contains the exception port, which is what we need to wait on, not the port of the thread itself.

[2015-11-12 04:26] shrids commented on #198
+1

[2015-11-12 13:53] mistbow-git commented on #198
+1 for Me)

[2015-11-13 13:07] ObviousDesign commented on #159
Thanks for writing this great piece of software! Just compiled it on OSX 10.11 following all the required steps. I have the same issue when launching a debug session:

$ dlv debug main.go
could not launch process: could not fork/exec

The way I was able to resolve this is by running the command as sudo.

$ sudo dlv debug main.go
Password:
Type 'help' for list of commands.
(dlv)

[2015-11-13 18:19] derekparker commented on #159
@ObviousDesign thanks for checking it out! The `debug` subcommand actually does not take an argument, it expects to be run where you would run `go build` without any args. Secondly, since sudo worked for you, it seems there is an issue with how the `dlv` binary was codesigned. For sanity checks, did you make sure you killed the `taskgated` process? Also, the output of `make install` could be usefu

[2015-11-15 03:22] debedb commented on #134
I cannot reopen, I think, as I am not the original submitter, but I am having the same issue as well. Tried the above steps in various combinations (killing taskgated, created several certificates, etc): still the "could not fork/exec" issue persists.

[2015-11-16 07:51] ObviousDesign commented on #159
Hi @derekparker, I was not able to kill the `taskgated` process before compiling first time. Now recompiled after a fresh restart and I am now able to run `dlv` without `sudo`. Thank you for your support. Jeroen

[2015-11-17 00:42] tleyden opened #292 "Getting a panic"
Steps to reproduce:

* Build delve on OSX with `export GO15VENDOREXPERIMENT=1` before running `CERT=delve-cert make install`
* Clone: `git clone --recursive https://github.com/couchbase/sync_gateway.git`
* Enable GO15VENDOREXPERIMENT: `export GO15VENDOREXPERIMENT=1`
* Build: `cd sync_gateway/ && ./build.sh`
* Run delve: `dlv exec ./bin/sync_gateway`
* Hit 'c' to continue

At this point it panics w

[2015-11-18 06:26] foxundermoon commented on #198
+10086

[2015-11-18 21:18] ignatov opened #293 "JSON-RCP: Variable type"
I'm using JSON-RCP and for some struct variables I've got a type with prefix, e.g. `struct runtime.g`, for other without it – `main.mytype`. Which is correct? With `struct ` prefix or not?

[2015-11-18 23:29] derekparker commented on #293
@aarzilli for this output, we should display the GoType instead of the dwarf type. We've discussed this before but remember there is the GoType info embedded in the Dwarf info, but only golang.org/x/dwarf is parsing it and stdlib is not? Ideally we use the actual Go type for everything external and only use dwarf types internally when necessary.

[2015-11-19 01:43] metal3d commented on #164
@joefitzgerald I was near to open an issue on go-plus to ask you if you can provide interface to delve :) so I put a +1 here ;)

[2015-11-19 07:35] davidwudv commented on #198
+10086

[2015-11-19 10:46] ignatov opened #294 "Can't debug github.com/drone/drone"
[code]

Mac OS X 10.11.1, the latest version of delve

[2015-11-19 16:35] yuntan opened #295 "flag to specify workdir of debug binary"
I want command line flag to specify working directory of the program, for example

[code]

runs debug binary in /path/to/workdir.

[2015-11-19 17:23] gtaylor commented on #294
Also seeing on this on Ubuntu Linux 15.10 with go 1.5.1 on Drone 0.4.

[2015-11-19 18:09] yuntan commented on #295
This changes works for me (on linux).
https://github.com/yuntan/delve/compare/master...yuntan:90ec527
But still work in progress. Remaining tasks

- [ ] work for darwin
- [ ] work for exec, test subcommands
- [ ] write some tests

[2015-11-19 19:43] jmcauley opened #296 "Specifying <packagename>.<receiver>.<function> fails while line number works"
I am able to specify a break point via filename:linenumber just fine. When I do so, the break command returns the package.receiver.function specification that should correspond to that line number. However, when I try to do: `break package.receiver.function` using the values returned by the first break call, it is not able to find it.
[code]

My guess is it is because the receiver.function spec (D

[2015-11-19 20:51] aarzilli commented on #296
It's because it doesn't support partial package names, and the full package name is: `github.com/treetopllc/gonoble/graph/submission`.

[2015-11-20 19:04] lukehoban opened #298 "Does --build-flags work?"
When I try to pass the `--build-flags` option, it doesn't seem to successfully parse the command line option. Instead it treats the argument to `--build-flags` as a package to try and load.

[code]

Am I using this wrong, or is the hyphen in the option name causing the flag parser to not recognize this?

[2015-11-20 21:05] hsen-dev commented on #198
+39

[2015-11-20 21:12] derekparker commented on #298
Can you give an example trying to pass an actual flag? Additionally, you may have to quote the argument to the `--build-flags` flag.

For example, this works:

[code]

That will correctly cause an error running Delve because that flag omits debug info, so the flag is being passed through to the compiler.

[2015-11-21 22:38] ignatov opened #299 "Do we need to use paths with symlinks or should resolve them?"
We've fixed the https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1880 in our Delve integration: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/pull/2023/files
Actually Delve says:
[code]
So I have a question, do we need to resolve symlinked paths or not? Or maybe Delve can handle this scenario?

[2015-11-23 06:30] lukehoban commented on #298
My bad - you are right that this works fine when you provide correct flags, and the error message makes sense once I realized it's coming from the build not from delve.

[2015-11-23 06:30] #298 closed

[2015-11-23 07:27] joeblew99 opened #300 "osx - code sign failed it seems"
i had delve working but the certificate expired.
So i deleted DLV from bin, and pulled the dlv source as per normal.
Then i deleted the old expired cert and make a new one with ALLOW alway for trust

[code]

[2015-11-23 08:54] joeblew99 commented on #300
Fixed !

I had forgot to allow all access on the Certs :)

gedw99-MacBook-Pro:delve apple$ CERT=dlv-cert make install
go install -ldflags="-s" github.com/derekparker/delve/cmd/dlv
codesign -s dlv-cert /Users/apple/workspace/go/bin/dlv
gedw99-MacBook-Pro:delve apple$ CERT=dlv-cert make test
go test -exec=/Users/apple/workspace/go/src/github.com/derekparker/delve/scripts/testsign -ldflags="-s" githu

[2015-11-23 08:54] #300 closed

[2015-11-23 08:59] frapposelli commented on #164
@joefitzgerald the folks at Microsoft integrated `delve` with their VS IDE, this is the relevant part in their repo: https://github.com/Microsoft/vscode-go/tree/master/src/debugAdapter

[2015-11-24 20:38] svett commented on #120
@derekparker are anybody working on that?

[2015-11-24 20:54] derekparker commented on #120
I believe @aarzilli was planning on taking this issue, he's already done some baseline work for this in another PR.

[2015-11-24 21:35] aarzilli commented on #120
With #259 this is almost done.

[2015-11-24 21:43] svett commented on #120
Thanks for the info guys. I will choose another issue to work on.

[2015-11-25 14:03] kostya-sh opened #301 "runtime.buildVersion is no longer available (Go tip)"
`runtime.buildVersion` became `runtime/internal/sys.BuildVersion`

See https://github.com/golang/go/commit/432cb66f16b2bb6a167725057168bbe4aefe5fb5

[2015-11-25 20:58] nati opened #302 "running, locked to thread with hashmap"
I'm trying to debug https://github.com/cloudwan/gohan using "dlv debug".
When I start debbuging I got this error

[code]

OS: Mac OS X (Yosemite)
Go: Version 1.5
Delve Commit: e45443b3c4f4fe6cfc913b10a7a41f50787ba949

[2015-11-27 05:38] jdzapata commented on #198
+1

[2015-11-28 17:53] newhook commented on #159
I cannot get delve to work on OSX 10.11. I followed the directions but get the cannot fork error. The binary appears to be codesigned correctly?

[code]

[2015-11-29 15:03] cedarwu commented on #198
+1

[2015-12-02 03:54] venjiang commented on #134
How should I do?

[2015-12-02 18:30] theider opened #303 "MacOSX installation/build did not work for me."
My goal is to use Delve with LiteIDE to do Go development on a Mac.

I'm on Mac OSX Mavericks using Go 1.5.1 darwin/AMD64.

I followed the instructions for creating the cert and that seemed to work but running the makefile fails.  I tried setting GOROOT and GOPATH to the local folder for the project.  The Makefile seems to include absolute paths to github.com.

Just following the README I get this

[2015-12-02 20:39] aarzilli commented on #303
You don't need to set GOROOT and GOPATH should be set to your workspace (the parent directory of the `github.com` directory) and it shouldn't be the same directory as your install of go.
Refer to https://golang.org/doc/code.html

[2015-12-02 22:18] theider commented on #303
Thanks for your reply.  I'm just getting started with Go.   I will try again.

[2015-12-03 05:53] aarzilli commented on #303
No problem.

[2015-12-03 05:53] #303 closed

[2015-12-05 21:23] JoshZA commented on #198
:+1:

[2015-12-10 11:27] luweijie007 commented on #126
How Can I do that setting command line arguments?
I use :Delve version: 0.10.0-alpha

[2015-12-10 19:14] sethwklein commented on #126
@luweijie007 a comment on a closed and possibly unrelated bug report may not be an effective place to get help. Can you try asking in https://gitter.im/derekparker/delve ?

[2015-12-10 23:22] NeilLamka opened #304 "Unable to use the makefile out of the box with the package provided"
There are many, many include references that do not resolve to the proper directories when trying to build from the provided files. In all cases, the referenced items are someplace in the package just not where the include statement says that they are.  After some time in trying to go a go build, finding the errors and correcting them I was able to get a successful build to complete.

[2015-12-11 02:04] derekparker commented on #304
What version of Go are you using? Do you have the GO15VENDOREXPERIMENT enabled? I suppose the Makefile could be updated to always set that env var.

[2015-12-11 02:50] luweijie007 commented on #126
ok , I go to gitter. thanks your reply

[2015-12-11 03:17] NeilLamka commented on #304
I’m using  go version go1.5.2 and did have GO15VENDOREXPERIMENT enabled although I am new to GO and not a expert so I may not have done that correctly or understood the instructions properly.  In the end I just ran the go install … command and manually corrected the include statements.

ThanksNeil

Neil LamkaSmarter HiresMobile: 206-931-0229Direct:   650-539-5442Fax:        928-832-3216

From:  De

[2015-12-11 09:15] aarzilli commented on #126
@luweijie007 AFAICT passing arguments on the command line still works ok.

If you have a precompiled binary:

[code]

if you want delve to compile the program for you (like `go build` would):

[code]

argument1, argument2, &c. will be passed to the target.

[2015-12-11 10:03] kostya-sh opened #305 "Unable to continue program if a breakpoint is set on line with func declaration"
Consider the following program:

    package main

    import "fmt"

    func sayTest() {
        fmt.Println("Test")
    }

    func main() {
        sayTest()
    }

If this program is debugged with `dlv debug` and breakpoint is set at line 5 (`func sayTest() {`) once the breakpoint is hit it is unable to continue program execution:

    $ dlv debug
    (dlv) b main.go:5
    Breakpoint 1 set at

[2015-12-11 10:27] jeffallen opened #306 "dlv has stopped working on go tip"
$ dlv debug
could not launch process: Could not determine version number: could not find symbol value for runtime.buildVersion

$ go version
go version devel +8854bdb Fri Dec 4 02:50:00 2015 +0000 darwin/amd64
$ /Users/jra/go1.5.1/bin/go build
$ dlv exec ./example
Type 'help' for list of commands.
(dlv) quit

[2015-12-11 10:27] jeffallen commented on #306
Oops, sorry, dup of #301

[2015-12-11 10:27] #306 closed

[2015-12-11 14:01] aarzilli commented on #305
I don't know why this is happening but it doesn't happen on PR #259 branch. Tried both 1.5.1 and 1.5.2.

[2015-12-12 14:10] aarzilli commented on #122
Implemented by 943c12030ac66730f1a1ce2aa32e57a2b397064e

[2015-12-12 14:10] #122 closed

[2015-12-12 14:11] aarzilli commented on #117
Implemented by 43b64ec39e8188cd5b215d15ec0175868c548a8b

[2015-12-12 14:11] #117 closed

[2015-12-12 14:11] aarzilli commented on #116
Implemented by 43b64ec39e8188cd5b215d15ec0175868c548a8b

[2015-12-12 14:11] #116 closed

[2015-12-12 14:12] aarzilli commented on #61
Implemented by 943c12030ac66730f1a1ce2aa32e57a2b397064e

[2015-12-12 14:12] #61 closed

[2015-12-12 17:57] pquerna opened #308 "stack -full panics in prettyprint with runtime error: index out of range"
Delve version: 0.10.0-alpha
go version go1.5.1 linux/amd64

`stack` worked fine, but `stack -full` caused a panic.

[code]

full details in gist:
https://gist.github.com/pquerna/bec1376500c056315446

[2015-12-12 19:10] aarzilli commented on #308
Probably fixed by ef89e7e6ac5560b02805de3a8096ee8f80704513

[2015-12-13 21:32] derekparker commented on #304
@NeilLamka what import statements were messed up? External packages? That would seem to imply that the vendor experiment was not enabled correctly. Try:

`export GO15VENDOREXPERIMENT=1; make install` and reopen if you still run into issues.

[2015-12-13 21:32] #304 closed

[2015-12-14 15:56] NeilLamka commented on #304
Specifying the environment variable correctly did fix my problem. Thanks for the help.

ThanksNeil

Neil LamkaSmarter HiresMobile: 206-931-0229Direct:   650-539-5442Fax:        928-832-3216

From:  Derek Parker <notifications@github.com>
Reply-To:  derekparker/delve <reply@reply.github.com>
Date:  Sunday, December 13, 2015 at 1:32 PM
To:  derekparker/delve <delve@noreply.github.com>
Cc:  Neil Lamk

[2015-12-15 07:45] #301 closed

[2015-12-15 13:26] jsh opened #312 "source restricted to single-character filenames"
In *terminal/command.go*, the test at the top of `sourceCommand()` seems overly restrictive:

[code]

(Single-character filenames work fine, but anything else returns an error.) I'm guessing the test is either left over from a time when `args` was declared as `[]string`, or foreshadows your intent to make it so.

[2015-12-15 14:21] aarzilli commented on #312
My fault :(

[2015-12-15 22:50] #312 closed

[2015-12-16 12:11] kostya-sh commented on #301
The issue was fixed too fast ;)
runtime.buildVersion is there again: https://github.com/golang/go/commit/86f1944e86ae3e07651dcbfafee37f1e3b0a917d

[2015-12-16 16:31] kostya-sh opened #316 "delve hangs when debugging test"
This happens with Go tip, I haven't tested other versions

Steps to reproduce:

    $ go get github.com/kostya-sh/sandbox/vlq
    $ cd $GOPATH/src/github.com/kostya-sh/sandbox/vlq
    $ dlv test -- -test.run=TestVarInt
    (dlv) b TestVarInt
    (dlv) c

git bisect points to commit 48e13a9

[2015-12-16 20:23] derekparker opened #317 "Break on panic"
There should be a continue mode that will break on panic, or maybe the default behavior should be to stop on a panic and let the user inspect the state of the program.

[2015-12-17 00:30] kostya-sh opened #318 "Consider reverting buildVersion change (ad5097a8dc)"
`runtime.buildVersion` made it back in golang/go@86f1944 so fix ad5097a8dc is no longer necessary.

It is worth waiting for 1.6rc just to make sure ;)

[2015-12-17 06:15] kostya-sh commented on #316
This is broken with Go 1.5.2 as well. The same commit seems to be at fault. I was running devle on Linux both for Go 1.5.2 and tip.

[2015-12-17 06:20] kostya-sh commented on #316
Attaching stack trace obtained with kill -3 (Go 1.5.2).

SIGQUIT: quit
PC=0x4625e1 m=0

goroutine 0 [idle]:
runtime.futex(0xd47490, 0x0, 0x0, 0x0, 0xc800000000, 0x412bf7, 0x0, 0x0, 0x412e64, 0xd47490, ...)
        /usr/local/go/src/runtime/sys_linux_amd64.s:288 +0x21
runtime.futexsleep(0xd47490, 0x0, 0xffffffffffffffff)
        /usr/local/go/src/runtime/os1_linux.go:39 +0x53
runtime.notesleep(0xd4

[2015-12-17 22:59] dlsniper commented on #262
Hi,

I'm currently running into this issue as well but on Ubuntu.

Here are my details:

[code]

From my observation, I could see the process starting in `Suspended` state, then when the process stopped at the breakpoint it was correctly in `Trace`. After the breakpoint continued, the process then remained in `Zombie` state (which means waiting for parent to read the exit code).
With this informat

[2015-12-17 23:00] lukehoban opened #320 "Test failure due to `map[string]int` not found?"
When I pull in the latest from master into the Windows PR, I'm seeing a test failure in `TestEvalExpression` on this case:

[code]

Instead of the expected error, I'm seeing "function calls are not supported".

This appears to be because the type `map[string]int` is not found in the call to `SeekToTypeNamed`.  Browsing through the types that are available in the DWARF metadata, I see `map[string]i

[2015-12-17 23:00] lukehoban commented on #320
/cc @aarzilli

[2015-12-18 13:08] samuell opened #321 "Support request: A line or two about how and why to set GO15VENDOREXPERIMENT"
Would be useful to have this info right there in the "how to build" docs, rather than needing to google around.

[2015-12-18 16:23] aarzilli commented on #320
Here's my guess. The type `map[string]int` is in the linux/os x builds because some arch specific thing uses a `map[string]int` variable but the windows equivalents don't.

Pull Request #322 could fix this.

[2015-12-18 21:32] derekparker commented on #316
Thanks for the stack trace.

[2015-12-18 22:05] lukehoban commented on #320
Ahh - yeah, that would make sense.  Thanks for taking a look.

[2015-12-19 14:16] ignatov opened #325 "panic: runtime error: invalid memory address or nil pointer dereference"
Trying to debug a small program with a breakpoint on line 12:
[code]
and got:
[code]

[2015-12-21 06:40] #316 closed

[2015-12-23 11:18] fsomers opened #327 "EvalExpression(i2 == 2.0) returned an error - can not convert 2 constant to int"
I've just done a clean install of 1a4250f (at Dec 19 14:57:48 2015 +0100) on OSX 10.11.2 (El Cap)
Cert setup and build completed as per https://github.com/derekparker/delve/wiki/Building

I decided to run the tests, and got a test failure in TestEvalExpression as shown below.

$ CERT=dlv-cert make install
go install -ldflags="-s -X main.Build=1a4250fb5147a9a06f608a5e89dccc4f62fd20c5" github.com/de

[2015-12-23 11:30] aarzilli commented on #327
See #323

[2015-12-23 13:14] kostya-sh commented on #327
It might be a regression in Go 1.6, I've created https://github.com/golang/go/issues/13719

[2015-12-23 13:21] fsomers commented on #327
clarification: sory - I meant to add I am using go 1.6beta1 via homebrew

[2015-12-25 10:44] sokoow opened #328 "Doesn't build on armhf"
Getting following when trying to build on armhf with go 1.5.1:

go test  -ldflags="-X main.Build=1a4250fb5147a9a06f608a5e89dccc4f62fd20c5" github.com/derekparker/delve/cmd/dlv github.com/derekparker/delve/config github.com/derekparker/delve/dwarf/frame github.com/derekparker/delve/dwarf/line github.com/derekparker/delve/dwarf/op github.com/derekparker/delve/dwarf/reader github.com/derekparker/delv

[2015-12-26 22:48] #320 closed

[2015-12-26 22:50] #325 closed

[2015-12-27 09:31] aarzilli commented on #327
Should be fixed by c859a880b69bed3f630d57d23f3be508a93dc67c

[2015-12-27 09:31] #327 closed

[2015-12-27 09:31] aarzilli commented on #318
Reverted by 17b39b789d992d37961a2161a257cba8050980fc

[2015-12-27 09:31] #318 closed

[2015-12-27 12:48] fsomers commented on #327
Thanks for the fix!

[2015-12-28 22:32] dlsniper opened #332 "could not find FDE for PC"
Hi,

Using go 1.5.2, delve d4bfd25a28cab4589808471d987e28ae6c6175c6 and the code sample from here: http://play.golang.org/p/GDQCFi8dgn

- set a breakpoint on line 8
- try to use `si` a couple of times
- then use `n` a few times
- eventually `Command failed: could not find FDE for PC 0xc8200601a0` (or some other address).

Please let me know if you need any further details.

(Original issue at http

[2015-12-30 09:12] aarzilli commented on #296
Closed by b5cf1572f812031801f5d77940aa149c8c840c6a

[2015-12-30 09:12] #296 closed

[2015-12-30 09:16] nkev commented on #321
Agree. Also, nowhere in the OSX install section does it tell you how and where to install delve itself! Stepping through the code only works intermittently on my MBPR Yosemite... shame.

[2015-12-30 09:17] aarzilli commented on #308
This should be fixed by 2deb7fba2021437c0831dae7736a46efd0aecb03, please reopen if this is not the case.

[2015-12-30 09:17] #308 closed

[2015-12-30 14:27] aarzilli commented on #294
@gtaylor does it happen systematically or only sometimes? I can't reproduce this on linux.

[2015-12-30 20:55] lloiser opened #336 "int slice nonsense"
![image](https://cloud.githubusercontent.com/assets/3003233/12057296/a480627a-af3f-11e5-8275-f14120361d4d.png)

Can someone explain me why `testSorted` contains this nonsense before it is used and `sorted` in the other file seems correct?

note: it occurred while debugging my server, so it is not `dlv test` related but also happens for `dlv debug` ...

[code]

gist for copy/paste: https://gist.git

[2015-12-31 07:11] aarzilli commented on #336
Because `testSorted` contains uninitialized memory at that point but `sorted` gets initialized as the first thing in `Weird`. It's evident if you disassemble them (with gdb, delve doesn't have a disassembler yet).

[2016-01-01 18:04] lloiser commented on #336
thanks for the explanation!

[2016-01-01 18:04] #336 closed

[2016-01-02 03:04] derekparker commented on #321
This information what actually already on the wiki [here](https://github.com/derekparker/delve/wiki/Building) but I went ahead and updated it with details and links on how to opt into Go 1.5 vendor experiment and what it is. I also made it more clear in the actual step by step installation instructions, adding it to the command line examples.

@nkev Not sure what you mean here, the OS X section co

[2016-01-02 03:04] #321 closed

[2016-01-02 03:14] derekparker commented on #200
@Karthic-Hackintosh are you s till experiencing this issue?

[2016-01-02 03:29] nkev commented on #321
Sorry, I may be doing misunderstanding the steps as a newby, but in the third last OSX bullet point:

* [At least on Yosemite:] In keychains select category Keys -> dlv-cert -> right click -> GetInfo -> Access Control -> select "Allow all applications to access this item" -> Save Changes.

I could not find "Access Control" in the `Get Info` dialog box in my MBP (Yosemite), so I had to skip this st

[2016-01-02 21:21] mistbow-git opened #337 "How to build Windows version?"
Hi!
How can I build windows version from the sources?
[code]
@lukehoban

[2016-01-03 00:59] mistbow-git commented on #337
Sorry! This is my mistake. I ran build from my lukehoban/delve, and derekparker/delve was a newer version from github ...)
Now was built successfully!
And now I need to build an itellij idea golang plugin! )

[2016-01-03 23:44] gtaylor commented on #294
Looking very spotty at the moment. I can't figure out any patterns. It's been working all day, but my latest debugger run showed the behavior again. Reverting the code doesn't seem to fix it.

[2016-01-03 23:47] gtaylor commented on #294
I did notice that we've got some processes hanging around. These were launched by PyCharm and the golang-idea plugin:

[code]

The appearance of these roughly coincides with when the breakage re-occured.

[2016-01-04 16:22] #337 closed

[2016-01-04 16:26] kolkov opened #340 "One test failed when merging master into luckhoban/windows"
https://github.com/lukehoban/delve/pull/1

One test failed, and I don't know why... (
But build and run successfully
I try to solve problem.
Need help!

[2016-01-04 16:52] lloiser commented on #164
@joefitzgerald have you made any progress? it seems that the development on https://github.com/atom-community/debugger has stopped a while ago ...

Btw I have created a package around the rpc server over the last few days and it works fine. I will create a github and atom package for it in the next few days. Maybe I will try to integrate the chrome dev tools too ...

[2016-01-04 18:06] joefitzgerald commented on #164
@lloiser frankly the debugger project remains a placeholder - I never got the time to make progress there. I would be happy to review a pull request / add you as a contributor to that project.

[2016-01-06 03:26] Karthic-Hackintosh commented on #200
I had given up on solving it and had started using GDB, I'll give it a try and ping back, thank you for the response.

[2016-01-07 10:57] fsomers opened #341 "Hang on some breakpoints"
This appears to be similar to #203 "Hang when using breakpoints" (linux kernel)

Delve: git d4bfd25
go version go1.5.1 darwin/amd64
OSX 10.10.5

Similar to #203, I can run the program cleanly under the debugger, with no breakpoints.
I can set some breakpoints - eg early in main() and in some utility functions.  When I run with these, the debugger stops / works as expected. (I've only tried a few s

[2016-01-07 23:21] chancez opened #342 "Delve freezes/stops when stepping into breakpoint"
https://gist.github.com/ecnahc515/74d85ca61e1decb003ab

This is from the `wip` branch on my fork of the `authclub/billforward` bindings: https://github.com/ecnahc515/billforward/tree/wip

I ran `delve debug --log=true` within the `example/` directory of the repo.

Version info:
[code]
Go 1.5:
[code]

OS X Yosemite 10.10.5 (14F27)

[2016-01-07 23:22] ecnahc515 commented on #342
Here's the stack trace after running `pkill -ABRT dlv`:

[code]

[2016-01-09 21:46] #262 closed

[2016-01-10 06:49] aarzilli commented on #305
Is this still happening?

[2016-01-10 06:54] aarzilli commented on #241
I think this should be closed now.

[2016-01-10 06:54] #241 closed

[2016-01-10 07:00] aarzilli commented on #251
Expression evaluation was merged a while ago, we have issues #119 and #59 tracking missing features. I'm going to close this, if there is some feature that's needed a new issue specific to that should be opened.

[2016-01-10 07:00] #251 closed

[2016-01-10 07:00] kostya-sh commented on #305
Yes, but it fails differently. For example:

    $ dlv test
    Type 'help' for list of commands.
    (dlv) b vlq_test.go:8
    Breakpoint 1 set at 0x47de90 for github.com/kostya-sh/sandbox/vlq.TestVarInt ./vlq_test.go:8
    (dlv) c

         7:
    =>   8:	func TestVarInt(t *testing.T) {
         9:		tests := []struct {
    (dlv) n

         7:
    =>   8:	func TestVarInt(t *testing.T) {

[2016-01-10 07:00] #96 closed

[2016-01-10 10:10] #341 closed

[2016-01-10 10:22] derekparker commented on #299
Delve should handle this, I'll look into it.

[2016-01-10 10:28] derekparker commented on #299
@ignatov can't reproduce locally. Please reopen if this is still an issue w/ Delve.

[2016-01-10 10:28] #299 closed

[2016-01-10 10:31] derekparker commented on #340
@kolkov if this test fails also on the windows branch, after being rebased onto master, please post the failure output into #198. @lukehoban should be able to help fix the failure so we can get that branch merged.

[2016-01-10 10:31] #340 closed

[2016-01-10 10:48] aarzilli commented on #305
Fixed however it still [won't do what you think it should](https://gist.github.com/aarzilli/ef9f946b0262dd509078): the problem is that the breakpoint is set on the function prelude and it takes multiple steps to get through it (it's a loop)

[2016-01-10 12:28] fsomers commented on #341
Thanks for the fix!

[2016-01-13 20:17] ryanfollmer opened #347 "Unable to run dlv on MaxOSX"
Delve Version: [0.10.0-alpha] 2015-10-04
Go 1.5: go version go1.5.2 darwin/amd64
OSX Yosemite:  10.10.5 (14F1509)

Followed installation instructions to install and sign the binary.

When attempting to run dlv in terminal, it returns: -bash: dlv: command not found

I tried running this from the /GoWorkspace/src/hello folder and also from the /GoWorkspace/bin folder.

Here is a screenshot of my wor

[2016-01-13 20:50] derekparker commented on #347
This doesn't seem like an issue with Delve. It seems like there is an issue with your $PATH or something. What happens if your in your `GoWorkspace/bin` directory and you run `./dlv` (i.e. invoke relative to current path)?

[2016-01-13 20:58] ryanfollmer commented on #347
Thank you for the quick response! That worked!

![screen shot 2016-01-13 at 3 57 22 pm](https://cloud.githubusercontent.com/assets/2651539/12307617/6238d666-ba0e-11e5-9a4a-d631a409669e.png)

[2016-01-13 20:58] #347 closed

[2016-01-14 21:51] lukehoban opened #348 "Flakiness in TestNextConcurrent on OSX?"
Is there expected flakiness in `TestNextConcurrent` and `TestNextConcurrentVariant2` on OSX?

I am seeing two variants of failures that occur periodically (each ~10% of the time).  I was seeing these on the Windows branch initially, and was unable to track down the root cause, but then testing on OSX I saw similar failures.

The two failure scenarios are:

1. `proc_test.go:355: Program did not con

[2016-01-14 21:59] lukehoban commented on #348
/cc @aarzilli.

[2016-01-14 22:01] derekparker commented on #348
Hey,

Yes unfortunately there is known flakiness with those 2 tests, only on OSX (apparently Windows as well, but not on Linux). @aarzilli sent in a patch recently that fixed one error case, however as you found there are still those 2 that still happen somewhat regularly.

@aarzilli any chance the 2 commits that were left out of the skip breakpoints branch address either of these issues? I know y

[2016-01-15 01:16] lukehoban commented on #348
Great - good to know these are known issues. I'll not worry about them specifically on Windows for now.

Would you like to leave this active?  Or split into two seperate tracking issues?

[2016-01-15 07:45] aarzilli commented on #348
All 3 commits are merged actually, the first two fused into 4da4aea89c4fe6106fa2ef0666f284ba6752d701. I thought that's what we agreed on, maybe I misunderstood.

I don't think I've ever seen (1) on my VM. I have seen (2) once or twice but not with this frequency and never after 42664795317b64db273b422cd6fde49eb4809705, but I guess it was just a coincidence.

I'd try to run with `GOTRACEBACK=2` may

[2016-01-15 18:53] aarzilli commented on #348
On second thought this is stupid and should be disregarded.

The SIGSEGV is happening at `parallel_next.go:8 +0x1`, that's one byte into the function prologue of `main.sayhi` there's no way there's other frames below that. I disassembled `main.sayhi` with `lldb`:

[code]

I think the problem is that a thread gets stopped on this insruction by a breakpoint (which overrides the first byte of this in

[2016-01-15 22:25] derekparker commented on #348
No, you're fine, I was remembering incorrectly.

Good thoughts, I'll investigate on my hardware.

[2016-01-18 05:36] #305 closed

[2016-01-20 20:28] derekparker opened #352 "Eliminate cgo wrappers for OSX syscalls"
Instead of having a bunch of C functions that essentially wrap the calling of mach syscalls on OSX, we should investigate using `syscall.Syscall6` or similar function to invoke the syscalls directly from Go.

[2016-01-21 09:54] antonikonovalov opened #354 "panic: runtime error: makeslice: len out of range"
when debug of gorilla mux

run from idea go plugin 0.11.1026 in idea 16 last  eap
[code]

GO version 1.5.3
Idea plugin last version
[code]

[2016-01-21 13:26] OneOfOne opened #355 "panic: send on closed channel"
Let me know if you need anything else.

	➜ dlv version; go version
	Delve Debugger
	Version: 0.10.0-alpha
	Build: 98ae684096d7fd15942bdee9c30f70a9a4f07613
	go version devel +32fa667 2016-01-16 03:14:41 +0200 linux/amd64

	➜ dlv test -- -test.run=.
	Type 'help' for list of commands.
	(dlv) r
	Process restarted with PID 31868
	(dlv) c
	PASS
	Process 31868 has exited with status 0
	(dlv) bt
	panic: s

[2016-01-21 13:29] OneOfOne commented on #354
I ran into the same bug, slightly different output:

	➜ dlv version; go version
	Delve Debugger
	Version: 0.10.0-alpha
	Build: 98ae684096d7fd15942bdee9c30f70a9a4f07613
	go version devel +32fa667 2016-01-16 03:14:41 +0200 linux/amd64

	Process restarted with PID 31440
	(dlv) threads
	* Thread 31440 at 0x45aad0 /usr/src/go/src/runtime/rt0_linux_amd64.s:8 _rt0_amd64_linux
	(dlv) bt
	panic: runtime er

[2016-01-21 19:31] derekparker commented on #355
Thanks for reporting. All commands should first check if the process has exited and return an error / message to the user. That's essentially what is causing this.

[2016-01-22 08:18] kolkov opened #356 "Debugger returns only only first Item from slice"
https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/2266
The following code snippet demonstrates the problem:
[code]
![image](https://cloud.githubusercontent.com/assets/3740898/12431980/9b6919d2-bf09-11e5-955a-f7eaf44998df.png)
![image](https://cloud.githubusercontent.com/assets/3740898/12432130/8687bd06-bf0a-11e5-86c1-9577049a3f18.png)

[2016-01-22 10:31] sub-mod opened #357 "[OSX10.11.3] Can't debug : could not launch process: could not fork/exec"
$ codesign -s dlv-cert $(which dlv)
/Users/mememe/development/golang/bin/dlv: is already signed

$ go build hello.go

$ dlv debug hello.go
could not launch process: could not fork/exec

[2016-01-22 12:24] aarzilli commented on #357
See Issues #300, #159, #134. Basically, it's not a bug with delve, you either you made a mistake following the install procedure correctly or the gods of OS X codesigning aren't smiling upon you.

Don't feel bad, I had to do it three times before getting it to work.

[2016-01-22 12:45] sub-mod commented on #357
Thanks,
good to know it is not issue with delve.

I had to follow the steps again, But wherever i could see a "Trust” item I  set  to “Always Trust”.
This works now
:+1:

[2016-01-22 12:45] #357 closed

[2016-01-22 13:43] aarzilli commented on #357
good.

[2016-01-22 15:48] asampaleanu commented on #198
Is there a writeup on the steps to build this? I switched to the Windows branch and tried to build as per readme, but got:
[code]

[2016-01-22 15:55] asampal commented on #198
Or, if building on Windows is still not doable, does the CI box produce usable artifacts for this? I didn't see any at a glance.

[2016-01-22 16:02] zanven42 commented on #198
You Should look at the wip windows pull request.

[2016-01-22 16:55] asampal commented on #198
I did, but how does that help? I tried what @joelday and@kolkov mentioned they did and still get output similar to the above.

[2016-01-22 17:05] zanven42 commented on #198
It's 4am for me. I'm sure if you write your exact issue someone will help you. #276 should have enough info to setup a build.

Just make sure lukehoban's windows branch is in the correct folder and not the master branch. Since the above errors I saw when I did not use the windows build.

[2016-01-22 18:23] aybabtme opened #358 "step out of a function"
Heyo!

it would be cool to have the inverse of `step`, something that steps out of the current function.

[2016-01-22 18:27] aybabtme opened #359 "`n` should be short-hand for `next`"
Alike in GDB, `c` is shorthand for `continue`, `s` is shorthand for `step`, ...

It would be cool if `n` was shorthand for `next`.

[2016-01-22 18:28] #359 closed

[2016-01-22 18:28] aybabtme commented on #359
im dumb dumb sorry

[2016-01-22 23:56] derekparker opened #360 "Step into function"
We should replace the default behavior of `step` to be step into function, and have another command for stepping a single CPU instruction.

[2016-01-23 02:33] kolkov commented on #198
@asampal @asampaleanu  I do not use vendor and GO15VENDOREXPERIMENT=1.
I only go to cmd/dlv folder and run go build. May be it's wrong? but it's worked for me!

[2016-01-23 05:56] asampal commented on #198
@kolkov, I am using the Windows branch on @lukehoban's repo, but as you'll note above, the complaint comes from @derekparker's source. Thanks for the pre-built binary you provided in the Google group. I'd still like to be able to build this myself, though.

@zanven42 all I'm doing is cloning @lukehoban's repo, switching to the Windows branch, and following the build steps there for Linux, but usin

[2016-01-23 06:09] lukehoban commented on #198
@asampal The errors you are seeing suggest that you haven't correctly checked out the `windows` branch from my fork.  Both of those errors refer to things which are in master but not in the PR branch.

[2016-01-23 06:25] asampal commented on #198
@lukehoban does this look OK?
[code]

[2016-01-23 06:37] zanven42 commented on #198
Put lukehobans files in Derek's folder and replace them. You are still building master and not the windows build.

[2016-01-23 08:02] asampal opened #361 "Step over goes off into space"
Using a newly built delve under Windows 10 64 bit, Visual Studio Code with the [vscode-go](https://github.com/Microsoft/vscode-go) extension.

Aafter placing a breakpoint on line 42 with `listener, e := net.Listen("tcp", ":4321")` of this small SO example, delve stops at the breakpoint, but when step over (F10) is invoked, the debugger goes off somewhere, pause becomes enabled, and doesn't come ba

[2016-01-23 22:27] kolkov commented on #198
@asampal
![image](https://cloud.githubusercontent.com/assets/3740898/12533200/6f331b00-c239-11e5-966d-d8274f448380.png)
![image](https://cloud.githubusercontent.com/assets/3740898/12533205/883798e2-c239-11e5-9f67-e07309abca4b.png)

[2016-01-24 02:21] andradei commented on #216
I'm getting this problem with go1.5.3 on OSX 10.11.2
I went through all of the steps to get certs setup before running `GO15VENDOREXPERIMENT=1 CERT=dlv-cert make install`

[2016-01-24 02:32] andradei commented on #216
Deleting $GOPATH/bin/dlv and running `GO15VENDOREXPERIMENT=1 CERT=dlv-cert make install` again solved the issue for me.

[2016-01-24 04:05] #198 closed

[2016-01-24 04:26] derekparker commented on #293
@aarzilli seems like https://github.com/derekparker/delve/pull/362 should help clear this up?

[2016-01-24 04:31] derekparker commented on #200
Going to close this, please re open if it is still an issue.

[2016-01-24 04:31] #200 closed

[2016-01-24 04:49] derekparker opened #363 "Remaining Windows work"
- [x] **TestDebugLinePrologueParser**
  Only on some  machines and Go versions.  Appears to be because of buffers in the debugline data which are larger than they should be in Windows binaries?  I suspect there is a bug in the Go compiler on Windows that we'll need to work around.
- [x] **TestNextConcurrent flakiness**
  Occasional occurrences of the following errors:
  `proc_test.go:355: Program

[2016-01-24 04:57] lukehoban commented on #198
Windows support is now available in master. :zap:

I've updated the wiki with build instructions for Windows: https://github.com/derekparker/delve/wiki/Building#windows.

There are a handful of known issues and not yet implemented features - which are being tracked in https://github.com/derekparker/delve/issues/363.  But generally speaking, the majority of Delve's functionality should be working o

[2016-01-24 05:05] lukehoban commented on #363
This is updated in the wiki now at https://github.com/derekparker/delve/wiki/Building#windows.

[2016-01-24 06:57] aarzilli commented on #293
Yes.

[2016-01-24 08:06] uuf6429 commented on #363
@lukehoban Regarding the wiki update, there are at least two issues:
1. This is not valid for Windows:
    $ GO15VENDOREXPERIMENT=1 make install
Instead, it should be something like this:

2. after installing MinGW-W64, from the suggested link, `make` is still missing. Maybe we need a different toolchain install?

[2016-01-24 09:14] mantzas commented on #363
@uuf6429 first i installed mingw with the following setting(which make nore sense): arch x86_64, threads:win32,exception:seh. Then u can find a make executable named mingw32-make.exe which worked.

[2016-01-24 09:41] hatuan commented on #198
I have a problem with delve on WebStorm 11.0.3, breakpoint in HelloController it don't work.

/*------ main.go ---*/
router := routers.InitRoutes()
router.PathPrefix("/").Handler(http.StripPrefix("/", fileHandler))

n := negroni.Classic()
n.UseHandler(router)

/*--- route.go ---*/
func InitRoutes() *mux.Router {
	router := mux.NewRouter()
	router = SetAuthenticationRoutes(router)
	router = SetHell

[2016-01-24 10:04] kolkov commented on #198
@hatuan what version of plugin you are using?

[2016-01-24 10:11] hatuan commented on #198
@kolkov I have used both Go-0.10.SNAPSHOT.zip (http://kolkov.ru/share/dlv/dalve.rar) and update 0.10.607

[2016-01-24 10:30] kolkov commented on #198
https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1922#issuecomment-174260756
I think it's not a delve issue. It's plugin issue.
24 янв. 2016 г. 1:11 PM пользователь "Tuan Hoang Anh" <
notifications@github.com> написал:

[2016-01-24 11:23] uuf6429 commented on #363
@mantzas funny I didn't see those options back when I was installing it. I'll try again in a couple of hours.
Also, nice job on the port... Can't wait to get it working on my system!

[2016-01-24 19:44] lukehoban commented on #363
@uuf6429 and @mantzas Thanks - I've updated the wiki page with more complete/correct instructions.

[2016-01-24 20:28] asampal commented on #363
@lukehoban, it might be better to include separate instructions depending if one is building from the Windows command prompt (typically cmd.exe) or a Unix-y shell such as Bash which will be available if MSYS (or MSYS2) is installed along with MinGW (as is also very typical). If the latter shell is being used, then the instructions you had for Linux should also apply here. Also, make is one of the

[2016-01-24 23:42] #356 closed

[2016-01-25 00:05] #360 closed

[2016-01-25 00:11] derekparker opened #368 "Display disassembly of a function"
We should have a command to display the assembly for a given function. Most likely the easiest path forward is to simply have Delve invoke `go tool objdump -s <symname>`. Either that or take a look at that tool and see if we can use the code there as a package and do it all programmatically.

[2016-01-25 03:55] jussij opened #369 "Windows Build"
As per the Windows build instruction I downloaded and installed mingw-w64 (Windows 10, x64 machine)

I selected the options as per the Wiki, 5.3.0, x86_64, posix and seh.

I had the installation run into this folder location which is also in the PATH:

    C:\Program Files\mingw-w64\x86_64-5.3.0\mingw64\bin

But when I try to run the make it fails with these linker errors:

    C:\go\src\github.co

[2016-01-25 04:10] derekparker commented on #293
Fixed as of https://github.com/derekparker/delve/pull/362.

[2016-01-25 04:10] #293 closed

[2016-01-25 04:13] derekparker commented on #292
@tleyden would you mind verifying that this is still an issue?

[2016-01-25 06:18] aarzilli commented on #369
cc: @lukehoban

[2016-01-25 18:04] tleyden commented on #292
@derekparker yup, will do.

[2016-01-25 18:20] tleyden commented on #292
@derekparker I just retested and the problem is fixed!

[2016-01-25 18:20] #292 closed

[2016-01-26 02:32] jussij commented on #369
I am closing this issue as it can be put it down to user error ;)

For those other user who are new to Go this is what I did wrong.

The compiler I installed was definitely the x64 version:

    C:\go\src\github.com\derekparker\delve>gcc --version
    gcc (x86_64-posix-seh-rev0, Built by MinGW-W64 project) 5.3.0
    Copyright (C) 2015 Free Software Foundation, Inc.
    This is free software; see t

[2016-01-26 02:32] #369 closed

[2016-01-26 02:34] lukehoban commented on #369
@jussij Good to hear you figured this out.

[2016-01-26 05:53] jussij opened #370 "Breakpoint Locations should be case insensitve on Windows"
I'm looking to add support for Delve to the Zeus IDE and came across the following issue.

As a test I create a Windows test Go application here:

    C:\Go\src\github.com\jussij\DelveTest\main.go

When I tried to set a breakpoint in that file at line 15 it failed because of the Windows (i.e non unix) format of the file name.

    break C:\Go\src\github.com\jussij\DelveTest\main.go:15

That was ea

[2016-01-26 06:36] aarzilli commented on #370
The go compiler probably.

[2016-01-26 06:37] lukehoban commented on #363
@asampal Makes sense - added a note about MSYS2 / CYGWIN in the wiki page.

[2016-01-26 06:56] lukehoban commented on #370
Yeah, the casing and path structure in the elf/dwarf symbols come from the Go compiler.

This same issue was raised by a user of the vscode Go plugin today as well.

I expect there is an additional case conversion needed on Windows to make sure paths are case insensitive in marching break points.

If you haven't tracked down the root cause of this yet, I'll take a look myself tomorrow.

[2016-01-26 07:36] jussij commented on #370
If all the file names used for the breakpoints were made lower case (or uppercase) that would work, as the same logic could be applied at the IDE side.

As a 'quick and dirty' work around, I'm just making the first five characters lower case and this is working great :)

But naturally, a cleaner solution is needed.

[2016-01-26 12:58] uuf6429 opened #371 "Cannot build on Windows"
I'm building delve on Windows (10 Pro 64bit) on a 2nd machine (the first one worked perfectly).

I'm getting this error message when I run `mingw32-make install`:

The makefile itself calls uname directly and unconditionally:
https://github.com/derekparker/delve/blob/master/Makefile#L2

Of course, command `uname` is not available on Windows, so I'm actually surprised this worked on my first machin

[2016-01-26 13:13] jussij commented on #371
Just a few hours ago I ran into build issues, that turned out to be nothing but user error.

The details of that experience are described here: https://github.com/derekparker/delve/issues/369

As someone who works a lot on Windows, one of the issues with Windows is no two Windows machines are the same and as such there are lots of these types of issues.

But the fact you have one Windows 10 machin

[2016-01-26 13:25] uuf6429 commented on #371
I've been able to compile now, but I needed to have the `uname.bat` hack. I suspect it is only being used to discriminate against OSX (Darwin) and hence why it didn't break anything else.