[2016-01-26 13:27] jussij opened #372 "Step Command Hangs"
On Windows I am able to hang the debugger using the step command as described below.

1) Start the debugger:

    C:\Go\src\github.com\jussij\DelveTest>dlv.exe debug main.go
    Type 'help' for list of commands.

2) Issue the step command:

    (dlv) step

At that point the debugger hangs.

But I I continue to wait for a few minutes the debugger does return with this output:

    C:\Go\src\github.

[2016-01-26 13:40] vornet opened #373 "Breakpoints linespec in Windows is case-sensitive"
When adding breakpoints, if the casing does not match exactly "d:/go_dev/src/github.com/vornet/hello/hello.go" vs "D:/go_dev/src/github.com/vornet/hello/hello.go", the breakpoint will not be added, erroring out with: Command failed: Location "xxx" not found.

On other OSes, case sensitivity is expected, but on Windows, it should not be case-sensitive.

For full filepaths, the workaround is to make

[2016-01-26 13:43] aarzilli commented on #372
Since you did not set any breakpoint the `continue` behaviour is obviously correct.

`step` will single step the current thread until it reaches a different source line, the thread you are on after attaching to the process is probably a system thread that never gets to any source line so `step` will just take you out of the process, just more slowly, since it's single stepping the thread.

There i

[2016-01-26 13:44] vornet commented on #371
The easiest way for me to get it to work is to install tdm64-gcc-5.1.0-2.exe from http://tdm-gcc.tdragon.net/download and run:

go get -v -u github.com/peterh/liner github.com/derekparker/delve/cmd/dlv

[2016-01-26 13:51] jussij commented on #370
This is getting a bit strange :(

Where as earlier on the breakpoint code appeared to prefer this as the file prefix:

    c:/go/src

Now just a few hours later and it appears that prefix no longer works and now this is the preferred prefix:

    C:/Go/src

These earlier commands worked but now they don't:

    break c:/go/src/github.com/jussij/DelveTest/main.go:12
    Command failed: Location "c:

[2016-01-26 13:52] jussij commented on #373
I think this is the same as an issue I raised earlier: https://github.com/derekparker/delve/issues/370

[2016-01-26 14:01] aarzilli commented on #373
Closing this as duplicate of #370.

[2016-01-26 14:01] #373 closed

[2016-01-26 14:04] jussij commented on #372
I have a top end machine with lots of ram and plenty of hertz to burn.

Running that single step command took 50 'cats and dogs' (about 50 seconds) before I got any any feedback that anything was happening, and I was only debugging a 10 line Go program.

I actually only noticed this because I was typing in the bug report ;)

If it had not been for that I would have killed the debugger long before,

[2016-01-26 14:22] aarzilli commented on #372
You are underestimating how much code needs to run in the kernel to get through a small program one instruction at a time.

Automatically continuing until `main.main` was something that was considered, it wasn't done because `main.main` isn't the entry point for a go program and the user could be interested in debugging a package's `init` function.

Maybe we could normally continue until `main.mai

[2016-01-26 18:36] derekparker commented on #371
Seems resolved so I will close. I am open to Makefile improvements as well.

@vornet, you shouldn't have to install `liner` explicitly, it should be vendored.

[2016-01-26 18:36] #371 closed

[2016-01-26 18:52] derekparker opened #374 "Explore better starting points for debugged process"
Currently, we stop the process as soon as it is `exec`ed, so it really isn't anywhere useful. The reason we do not continue directly to `main.main` is because that would skip package init functions, which users may want to debug. Possible solutions include:

1) Continue directly to `main.main`, but optionally provide a flag to prevent this
2) Continue directly to `runtime.main` which would not be

[2016-01-26 18:53] derekparker commented on #372
Going to close this as it is not necessarily a bug, as @aarzilli mentioned.

Also, this problems exists for the reasons that were mentioned as well. I've created https://github.com/derekparker/delve/issues/374 to track the issue of a more user friendly startup procedure.

[2016-01-26 18:53] #372 closed

[2016-01-26 18:55] derekparker commented on #361
@asampal can you verify if this is still an issue? `step` command has actually been reworked, I think just after this issue was posted.

[2016-01-26 21:19] lukehoban commented on #370
@jussij I've opened a PR (https://github.com/derekparker/delve/issues/375) which should address this.  If you have a chance, feel free to try this out in your environment and let me know if you still see any issues.

[2016-01-27 00:14] jussij commented on #361
I have the Delve code from about two days ago and I can replicate this issue in an even simpler example as described below.

I have this simple test file:

	// main.go
	package main

	import "fmt"

	type User struct {
		FirstName string
		LastName  string
	}

	func (user User) String() string {
		return fmt.Sprintf("%s %s", user.FirstName, user.LastName)
	}

	func main() {
		user := User{
			First

[2016-01-27 00:39] derekparker commented on #361
Just tested this out on my machine (OSX) using @jussij example and got an error, although different. In my case trying to step causing the target program to panic for some reason. Will dig in further.

[2016-01-27 00:41] derekparker commented on #361
Update: I actually think I may know what's causing this, hopeful to have a fix up soon.

[2016-01-27 00:46] derekparker commented on #361
@jussij @asampal can you both try building off of this branch: https://github.com/derekparker/delve/pull/376 and let me know if the issue is resolved?

[2016-01-27 01:26] jussij commented on #361
Using the changes from above fixes my earlier example.

Looking good :)

[2016-01-27 01:44] #361 closed

[2016-01-27 02:51] #370 closed

[2016-01-27 07:06] dlsniper commented on #369
If others bump into this, I've made a small PowerShell script to install everything needed to compile delve on a Windows machine: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1922#issuecomment-175333420

Maybe not the best script there is but it's my first PowerShell script. Hope it helps.

[2016-01-27 20:02] gertcuykens opened #378 "dlv --log: method Run has wrong number of ins"
This works without errors (mac os) in code that contains `http.ListenAndServe`
[code]

This works but displays the following errors
[code]
(https://github.com/Microsoft/vscode-go/issues/175)

[2016-01-28 07:16] mattn commented on #363
One more task.

https://github.com/golang/proposal/blob/master/design/12416-cgo-pointers.md

[code]

[2016-01-28 17:46] sub-mod opened #379 "How to set break points in dependency code"
Can I step into a dependency code ?
I tried to step into a method(which was from another package) in my test code and it didnt work.
Is this feature supported ?

[2016-01-28 18:35] OneOfOne commented on #354
Still the same, trying to run `bt` crashes.

[code]

[2016-01-28 19:47] aarzilli commented on #354
@OneOfOne the patch hasn't been merged in master yet, you would have to check out my branch to test it.

[2016-01-28 19:58] aarzilli commented on #379
It should work, could you describe what you did and what happened? Thank you.

[2016-01-29 13:56] #354 closed

[2016-01-29 13:57] derekparker commented on #354
@OneOfOne patch just landed, please pull, build and try again. Reopen if still an issue.

[2016-01-29 16:27] #378 closed

[2016-01-29 19:29] OneOfOne commented on #354
Works perfectly, thank you.

[2016-01-29 21:41] gertcuykens opened #383 "Extend Delve backend RPC API to be able to make a Delve REPL front-end console in a IDE"
Some commands are better in a console interface, to create a console in a IDE it would be much easier if the API has also REPL front-end support.

Example: https://github.com/Microsoft/vscode-go/issues/186

Please discuss with @lukehoban I am just the ticket man :)

[2016-01-29 21:58] lukehoban commented on #383
Thanks @gertcuykens.

To provide some more technical details on the issue here:

IDE integrations make calls through the RPC API, so ensure that they can programmatically invoke commands and read results in a structured way.

However, in some cases, the IDE integration may want to support also allowing users to drop into a REPL where they can send commands to the current instance of `dlv` using th

[2016-01-30 05:57] aarzilli commented on #383
Would it be unacceptable to run a dlv frontend with `dlv connect` and communicate with it using pipes?
It seems that the biggest problem is that the API is not reentrant, especially `Command`, so you would have to make sure no two calls are ever made simultaneously.

[2016-01-30 17:36] asampal opened #384 "Panic: runtime error: makeslice: len out of range"
delve at commit fb7210934d7bba9b57ae5b7c7e73d34e2cab6631
Visual Studio Code 0.10.6, Windows 10 64 bit, vscode-go 0.6.22

When I place a breakpoint at `s := S{}` in the code below, the debug console shows: `panic : runtime error: makeslice: len out of range`.
[code]

[2016-01-30 19:55] britannic opened #385 "=>no source available"
Delve Debugger
Version: 0.11.0-alpha
Build: d756eba13a4fbde34cea847276b3f5ce044ce916

OS X 10.11.3

Debugging any *.go program (dlv debug hello.go) and using "ls" to list source, displays:

(dlv) ls
Stopped at: 0x7fff68e39000
=>no source available

Other errors:
(dlv) break 13
Command failed: could not determine current location (scope is nil)
(dlv) ls 13
Command failed: could not determine curren

[2016-01-30 20:13] aarzilli commented on #385
set a breakpoint using the filename `break hello.go:13` or a function name `break main.main` then `continue`. Once the breakpoint is hit the other commands will work, it's just that you aren't stopped at a meaningful address.

Duplicate of #374.

[2016-01-30 20:15] britannic commented on #385
Brilliant, that wasn't clear to me in the write up. Thanks for the rapid follow up!

[2016-01-30 20:20] aarzilli commented on #385
No problem.

[2016-01-30 20:20] #385 closed

[2016-01-30 21:19] aarzilli commented on #384
Can not reproduce on linux, tagging this as windows specific.
@asampal: could you copy the stack trace here? Thank you
cc: @lukehoban.

[2016-01-30 21:47] asampal commented on #384
here you go:
[code]

[2016-01-31 00:44] #355 closed

[2016-01-31 05:06] lukehoban commented on #384
Strange.

I can confirm that this only appears to repro on Windows, I wasn't able to repro on OSX either.

The repro steps are:

[code]

What's odd is that just making the following change, which should have no operational impact on the code (and doesn't appear to have any significant unexpected impact on the compiled instructions), causes the error to not occur.

[code]

I'll try to narrow this d

[2016-01-31 06:15] lukehoban commented on #384
So the problem also only occurs when the breakpoint it before `st` is initialized, so it's related to eval'ing that local when it's in an uninitialized state.

Adding some tracing, I see the following in the case where it doesn't fail:

[code]

And this in the case where it does fail:

[code]

In the first case, `typestring.Addr == 0` causes `loadInterface` to fail with `"invalid interface type"`.

[2016-01-31 06:34] lukehoban commented on #383
@aarzilli

Good suggestion - connecting with `dlv connect` would be an acceptable solution I think.

Unfortunately, it doesn't seem to work when connecting to a headless server that is in the middle of a debug session that has been accepting RPC requests from another client.  I tried this, and I can connect, but any commands I try to execute hang `dlv`.

[code]

If I then continue the other client

[2016-01-31 08:51] derekparker opened #387 "proc: next while nexting"
Running into an issue, testing out 'next'ing with multiple goroutines, and eventually I end up on the wrong goroutine, and when I try and 'next' again, I get the error: 'next while nexting'.

I have been able to repro on my OSX machine and a Linux VM.

Example code:

[code]

Set a breakpoint on `dostuff` and then print id, next, print id, next and usually the third time it happens.

cc: @aarzilli

[2016-01-31 09:00] derekparker opened #388 "Print return values of traced functions"
We need to parse and display the return values of traced functions.

[2016-01-31 09:15] derekparker opened #389 "Trace sometimes shows duplicate entries"
When running the `trace` subcommand, sometimes trace shows duplicate entries for a traced function.

Given the following code:

[code]

And running:

`$ dlv trace callme`

Can result in the following output:

[code]

[2016-01-31 09:43] derekparker commented on #389
I have tested this on OSX, not sure if it shows on Windows / Linux yet.

[2016-01-31 12:02] aarzilli commented on #384
Go doesn't export detailed variable scope information so sometimes we end up reading uninitialized memory, that's expected.

The issue here is that v.Len is a very large negative number that overflows the size argument of cacheMemory. This problem was introduced by my memory prefetch patch, the check can otherwise be implicit.

[2016-01-31 12:31] aarzilli commented on #387
I don't think this is a bug. `next` restarts all threads, if another goroutine hits a breakpoint before one of the temp breakpoints set by `proc.(*Process).Next` are hit you get a stop for that breakpoint.

Since a "next operation" is already in progress you can't `next` again, you have to `continue` until one of the breakpoints set by `next` is reached.

I don't think there is a way out of this,

[2016-01-31 19:07] #389 closed

[2016-01-31 19:24] #384 closed

[2016-01-31 19:39] derekparker commented on #387
@aarzilli yeah, you're absolutely correct about the root cause. However, hitting the pre-existing breakpoint should not prevent executing further `next` commands. I think this warrants a bit of discussion from a usability standpoint. What's the better user experience while stepping through this type of code? Given, this example is pretty contrived (cooked it up for a talk, heh), it is still unexpe

[2016-01-31 19:49] ignatov opened #392 "Can't build delve on Windows without godeps"
Hi, I've tried to build the latest delve from the source code with the vendoring support (and without godeps) and failed:
[code]

[2016-01-31 22:40] derekparker commented on #392
Looks like this dependency was never actually vendored. Probably an oversight from the original patch, which makes me wonder how this is working in CI. I will submit a patch shortly to vendor it properly.

[2016-02-01 06:20] lukehoban commented on #392
Yeah - I'm actually not clear how this is working in CI.  But the Appveyor CI is still using godep instead of GO15VENDOREXPERIMENT, which is likely the root of the difference.

After vendoring `golang.org/x/sys/windows` per #393, we should update appveyor.yaml with:

[code]

You can either do that along with #393, or I'll open a follow-up PR later once that is merged.

I can also confirm that usin

[2016-02-01 07:58] aarzilli commented on #387
Really doing this is going to be hard, next's breakpoints are goroutine specific, if we want multiple nexts to run we need the ability to have multiple breakpoints set at the same program location, all active, and when a breakpoint is cleared the underlying `INT 3` instruction only goes away if all the breakpoints using it are cleared (reference counting?).

This is easy if we do it in `terminal/c

[2016-02-01 08:10] #392 closed

[2016-02-01 10:18] aarzilli commented on #383
It seems the server only accepts one connection, probably the correct behavior give how the API works. I've added a flag to allow multiple clients in PR #395.

[2016-02-01 10:59] aarzilli opened #396 "`proc.(*Process).FunctionEntryToFirstLine` can hang forever"
For example:

[code]

will hang forever because calling `FunctionEntryToFirstLine` never returns when called on `main.init`. The problem is that main.init doesn't have any lines.

[2016-02-01 11:00] aarzilli opened #397 "trace subcommand leaves terminal with echo disabled"
Probably introduced by the trace refactoring, I didn't notice during the review.

[2016-02-01 14:27] derekparker commented on #397
I'm only able to reproduce on Linux. Will take a look at the diff and see what could have caused this.

[2016-02-01 15:01] aarzilli commented on #397
I haven't tested it but we probably just need to close the line reader initialized by liner.

[2016-02-02 04:16] jussij opened #398 "On Windows the debug file is not deleted"
In this file: delve\cmd\dlv\main.go

At line 101 this code creates the debug file:

[code]

Then at line 113 in that same file this code does a deferred delete of that file:

[code]

That code does not appear to be working on Windows and here is a simple example.

Initially there is no debug file:

[code]

Next, just start Delve and exit the debugger:

[code]

Now the debug file exists:

[code]

S

[2016-02-02 13:59] jussij opened #402 "Step Command Not Working"
This issue is in regard to Delve running on Windows.

Consider this main.go example file:

    // main.go
    package main

    import "fmt"

    type User struct {
        FirstName string
        LastName  string
    }

    func (user User) String() string {
        return fmt.Sprintf("%s %s", user.FirstName, user.LastName)
    }

    func main() {
        user := User{
            FirstName: "J

[2016-02-03 04:59] jussij commented on #374
Speaking as a Windows user, my preference would be for the the debugger to stop on main.main entry point, only because this mimics how the Visual Studio debugger works.

However, to also let developers debug the earlier startup process, I would expect the debugger also stops on any breakpoints set in that startup code (once again mimicking how the Visual Studio debugger works).

Using this approac

[2016-02-04 18:04] #397 closed

[2016-02-05 08:28] ignatov opened #403 "Can't build delve on Mac due to Xcode deps"
[code]
3ca1dd35cac94cc8be851eebfa5365075d53826e

[2016-02-05 20:05] derekparker commented on #374
@jussij that seems reasonable to me, overall. Default to stopping at main, if you want to checkout an init function or something, then you can set a breakpoint there.

[2016-02-05 20:22] derekparker commented on #403
This is just a documentation problem. I'll update the wiki shortly noting this as a requirement.

[2016-02-05 20:28] derekparker commented on #387
No, that's not what I meant, I just think that when we hit a breakpoint, and we decide to stop at said breakpoint (and expose the prompt to the user) they should not be prevented from `next`ing again. So, in order to do this, we must ensure that all temp breakpoints have been removed before showing prompt to user. This essentially "cancels" the next that _was_ in progress.

Hmm... that seems reaso

[2016-02-05 20:34] ignatov commented on #403
So, I need to have an Xcode installation for delve building?

[2016-02-05 20:39] derekparker commented on #403
You may be able to get away without a full xcode install. The issue is simply that by default OSX doesn't ship with a proper compiler toolchain (accessible from the command line) and needs to be installed (generally using xcode tools). I haven't had to mess around with this in a very long time so I'm fuzzy on the specifics but there is documentation online regarding this.

[2016-02-05 23:07] chancez commented on #403
IIRC it's just `xcode-select --install`. This install the command line tools (basically just compiler stuff), but not the full GUI.

[2016-02-06 15:28] britannic opened #406 "Printing a variable causes: panic: runtime error: index out of range"
Mac OS X 10.11.3
Code that causes panic: [Go Playground](https://play.golang.org/p/qnvETiq85g)
go version go1.6rc2 darwin/amd64

Delve Debugger
Version: 0.11.0-alpha
Build: 06bba9b7a9ad0e06f4d74bf71f7667d24872a838

To reproduce:

1. set breakpoint: b cfg_parser.go:146
2. Print variable: p cfgtree

Output and stack trace attached
[delve_panic.txt](https://github.com/derekparker/delve/files/120317/d

[2016-02-06 18:53] derekparker commented on #406
Thanks for reporting this bug! Next time if you could upload gists instead that would be a lot easier to take a look at the provided examples (the playground is better for smaller, runnable examples).

@aarzilli seems the code path that is panic-ing assumes that `Variable` will have a child, since it's in the `unsafe.Pointer` branch of the switch. Is there any reason off the top of your head an un

[2016-02-06 20:14] britannic commented on #406
Will do! Appreciate the quick follow up. Delve is an awesome contribution, thanks very much.

[2016-02-06 20:15] britannic commented on #406
Despite the panic, I was still able to find the bug with Delve, really saved some time.

[2016-02-06 20:48] aarzilli commented on #406
I'll debug this tomorrow.

[2016-02-08 20:52] dlsniper opened #408 "Delve crashes when receiving command on a non-stopped process in server mode"
Hi,

We've had this issue, https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/2218, in the Go plugin for a while but I've now managed to fully replicate it.

What happens is that the IDE doesn't wait until the response from all commands is received before resuming the process which leads to the process crashing and leaving the debugged process running.

Log from the plugin: http://pa

[2016-02-09 01:32] alexbrainman opened #409 "dlv.exe is crashing with "bad pointer in frame github.com/derekparker/delve/proc.registers" on windows"
To reproduce

[code]

I think it is crashing because latest version of Go has stricter cgo rules (see https://tip.golang.org/doc/go1.6#cgo for details). And, indeed, setting GODEBUG=cgocheck=0 environment variable makes crash go away.

Alex

[2016-02-09 01:51] lukehoban commented on #409
I'll take a look at this.  I'll bet it's related to https://github.com/derekparker/delve/issues/363#issuecomment-176024926.

[2016-02-09 01:55] alexbrainman commented on #409
Would you like me to try and get rid of that bit of cgo code altogether?

Alex

[2016-02-10 12:01] krhubert opened #411 "Panic on next command"
[code]

[2016-02-10 16:26] #409 closed

[2016-02-10 16:28] #406 closed

[2016-02-11 06:29] alexbrainman opened #412 "use syscall to call into Windows instead of cgo"
Use syscall to call into Windows instead of cgo (as per conversation here https://github.com/derekparker/delve/pull/410#issuecomment-182455076)

This issue is to track the conversion.

Alex

[2016-02-11 10:11] krhubert opened #414 "panic: runtime error: invalid memory on step command"
[code]

[2016-02-11 18:03] derekparker commented on #414
@krhubert can you provide some more information along the lines of steps to reproduce? What `s` the first command you entered into the Delve prompt?

[2016-02-12 01:19] derekparker opened #415 "Allow user to specify syntax flavor in disassemble command"
Should have a flag to specify output syntax flavor of assembly in the `disassemble` command.

[2016-02-12 04:42] asampal opened #416 "panic: runtime error: cgo argument has Go pointer to Go pointer"
Windows 10 64 bit, Visual Studio Code 0.10.8, dlv 3360a2e997bf0554e840dde1b83422fabce11ae2

When I run the following code, it completes with the expected output. If I insert a breakpoint on line 15, `field := st.Field(0)`, the panic in the title happens.

[code]

The debugger console shows:
[code]

[2016-02-12 08:26] aarzilli commented on #402
This should be fixed by b370e20cd5e8a8b1fc110b41f30a21315c8f78cc.

[2016-02-12 10:36] krhubert commented on #414
@derekparker  here you go. I will try to reduce step to reprocue it.

source code [math.go]
[code]
build
[code]

debugging
[code]

[2016-02-12 17:06] derekparker commented on #402
@jussij please verify this is fixed as of the commit @aarzilli referenced and if so please close out the issue. Thanks!

[2016-02-12 17:37] lukehoban commented on #416
This is related to https://github.com/derekparker/delve/issues/412 and https://github.com/derekparker/delve/issues/363#issuecomment-176024926.

I believe the fix for #412 should address all three of these issues.

[2016-02-13 02:03] jussij commented on #402
I can confirm this is now working. Excellent  :)

    C:\Go\src\github.com\jussij\DelveTest>dlv debug main.go
    Type 'help' for list of commands.
    (dlv) break main.go:21
    Breakpoint 1 set at 0x4012be for main.main C:/Go/src/github.com/jussij/DelveTest/main.go:21
    (dlv) continue

        16:         user := User{
        17:                 FirstName: "John",
        18:

[2016-02-13 02:03] #402 closed

[2016-02-14 16:13] dlsniper opened #419 "Panic on signal handling"
Hi,

On the following program:
[code]

Simply compile it to a binary and then run `dlv exec <binary>`. In delve issue the `continue` command, with no breakpoint or anything else set. Then, after the `Start` text appears on screen, simply `CTRL+C` the app and it will give the following crash:

[code]

Full stack here: http://pastebin.com/gP6L1qtJ

The sample is taken from: https://github.com/go-lan

[2016-02-16 00:16] dlsniper opened #422 "How to run a single test from a package / file?"
How should the command to run a single test via delve be like? I've tried both:
- ` dlv --build-flags="-run ^TestHello$" test github.com/dlsniper/u/tmp/mypack -- `
- ` dlv test github.com/dlsniper/u/tmp/mypack -- -run ^TestHello$ `
but without luck (all the tests in the package run for both of them).

I can upload the test example if needed.
Thank you!

[2016-02-16 00:26] dlsniper commented on #422
Nevermind, I've finally figured it out, I need to run something like this:

[code]

Sorry for noise

[2016-02-16 00:26] #422 closed

[2016-02-16 00:36] dlsniper opened #423 "Running debugger requires the working directory to be the same as the package / file directory"
Hi,

It seems that delve needs the working directory to be same as the directory where the package / file is located in otherwise it produces the following error:
[code]

[2016-02-16 02:35] derekparker commented on #423
@dlsniper this is a UX rough edge that needs to finally be taken care of.

I will submit a patch shortly to allow specifying a package to build and attach to, so delve doesn't assume current dir.

[2016-02-16 18:17] #423 closed

[2016-02-17 10:21] tpltnt commented on #213
For completeness sake, retrieving the dependencies fails like this:
[code]
The issue seems to be:
[code]

Cheers,
tpltnt

[2016-02-17 13:21] dlsniper opened #426 "Print / get the value of unsafe.Pointer"
Hi,

In the following program:
[code]

it is not possible to get the value of `c.data.ptr` as `ptr` is an `unsafe.Pointer` type.
Would it be possible, for a not so near release of delve, to have delve evaluate the pointer and return the information for it?

(related issue: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/2347, cc @kolkov)

Thank you.

[2016-02-18 01:22] derekparker opened #427 "Build debug binary in /tmp not workdir"
When Delve builds a binary, currently it will build in the current working directory and cleanup when done. We should instead build somewhere in /tmp and set the working directory of the binary correctly when we spawn the process.

[2016-02-18 01:22] derekparker commented on #427
@dlsniper creating this issue to track your feedback on the other PR that landed.

[2016-02-18 09:16] aarzilli commented on #342
I've tested this with `step` and `step-instruction` and I can't reproduce it, I think it was fixed by 39bc379dd29f72138c1f7587fe42925d68ca1469.
Reopen if you still encounter this issue. Thank you.

[2016-02-18 09:16] #342 closed

[2016-02-18 09:28] aarzilli commented on #368
Implemented in e7a9a3ea9a72d943a9e9012977d28419933f5896, Issue #415 tracks remaining feature request.

[2016-02-18 09:28] #368 closed

[2016-02-18 09:38] aarzilli commented on #150
This doesn't happen when using go1.5 or go1.6. It sounds like it might have been a bug with go1.4 compiler.

[2016-02-18 09:38] #150 closed

[2016-02-18 10:07] aarzilli commented on #120
Implemented by 3be65a4c1f80ea71acde4b2b2195b168b14a348d

[2016-02-18 10:07] #120 closed

[2016-02-18 10:07] aarzilli commented on #109
Implemented by 3be65a4c1f80ea71acde4b2b2195b168b14a348d

[2016-02-18 10:07] #109 closed

[2016-02-18 17:11] #396 closed

[2016-02-18 17:16] #332 closed

[2016-02-19 02:17] jussij opened #430 "Delve panic on Windows 10 (x64) using Go 1.6"
I built the latest Go 1.6 from source:

    C:\Go\src\github.com\jussij\hw>go version
    go version go1.6 windows/amd64

I also built Delve using the make.cmd batch file using the latest Git source:

    C:\Go\src\github.com\jussij\hw>dlv version
    Delve Debugger
    Version: 0.11.0-alpha
    Build:

I have this simple Go test file:

    C:\Go\src\github.com\jussij\hw>type main.go
    package m

[2016-02-19 02:37] lukehoban commented on #430
This is the same issue as #416.  It will be fixed once #425 is merged.

[2016-02-19 06:29] aarzilli commented on #430
Closing as duplicate.

[2016-02-19 06:29] #430 closed

[2016-02-19 16:27] #412 closed

[2016-02-19 16:27] #416 closed

[2016-02-20 14:06] aarzilli commented on #408
Could you see if #421 improves anything?

[2016-02-23 13:03] orsonwang commented on #134
In my case, in addition to "Allow all access" at private key.
<img width="526" alt="screen shot 2016-02-23 at 20 57 45" src="https://cloud.githubusercontent.com/assets/422107/13252267/bd4926aa-da70-11e5-9210-99b503218387.png">
I have to set "Alway Trust" at certificate.
<img width="758" alt="screen shot 2016-02-23 at 20 58 48" src="https://cloud.githubusercontent.com/assets/422107/13252280/d6dffe2

[2016-02-24 05:55] alexbrainman opened #436 "delve prints ←[34m in Windows command window"
CC @lukehoban

To reproduce do this:
[code]

I see that delve determines wether to print escape codes or not by checking `strings.ToLower(os.Getenv("TERM")) == "dumb"`. Perhaps it is OK on non Windows OS. But Windows command line output doesn't do escape codes. Windows also normally does not set TERM environment variable. I propose to change windows code to assume terminal is "dumb" also if TERM e

[2016-02-24 14:28] dlsniper commented on #408
@aarzilli sorry for delay in response, I'm a bit busy currently. I'll try and see in the coming days. Thank you!

[2016-02-25 01:51] #408 closed

[2016-02-25 01:51] #419 closed

[2016-02-25 02:29] jussij commented on #436
I'm running Windows 10 and it is handling those escape codes correctly.

[2016-02-25 14:02] ajpen commented on #27
I just came across this issue when trying to debug a 'non-main' package. That's likely the cause.

[2016-02-25 20:29] derekparker commented on #27
@ajpen if you want to debug a non-main package (that has tests) you can use `dlv test <pkg>`. If that doesn't work please submit a new issue.

[2016-02-26 01:46] ajpen commented on #27
@derekparker Good to hear from you Derek. I just placed that comment up to give some context for anyone else that might run into it and find themselves here. Thanks

[2016-02-26 08:35] laher commented on #134
I should note that delve now works for me on my mac, since about 2 months
ago.
I did nothing except to get-latest, and rebuild. ¯\_(ツ)_/¯

On Wed, Feb 24, 2016 at 2:03 AM, Orson Wang <notifications@github.com>
wrote:

[2016-02-26 09:31] orsonwang commented on #134
That's good. it's only the record of I trying to figure out how to making it work on my OSX 10.11.4 Beta and golang 1.6.

[2016-02-26 19:43] lukehoban commented on #436
Yeah - I hadn't seen this myself since I'd been on Win10 builds, but recently did see this on a Win2k8 server VM during some testing.

I'm not sure what the best approach is here.  I wouldn't want to lose the escape codes for Win10 or ConEmu users, but I don't know of any way to test whether the console host supports these to reliably suppress them in pre-Win10 conhost environments.

[2016-02-27 07:30] alexbrainman commented on #436
As I understand it every version of Windows before Windows 10 is affected. I think we should disable  printing escape codes for all users running on Windows versions before Windows 10 - output colour is not as important as being able to understand what your program says. Disable printing escape codes by default. Perhaps we should allow some way for user to control if delve outputs escape codes or

[2016-02-27 23:04] #411 closed

[2016-02-27 23:21] #414 closed

[2016-02-28 17:37] jhowardmsft commented on #436
@alexbrainman Alex - it is possible to infer whether or not the console being used supports ANSI sequences. We do this in docker. For example, https://github.com/docker/docker/blob/master/pkg/term/term_windows.go#L40-L55 looks at various environment variables. In addition, see the code in https://github.com/docker/docker/blob/master/pkg/term/term_windows.go#L103-L173 for the *NativeConsole functio

[2016-02-28 17:40] jhowardmsft commented on #436
Should have added, the probing is necessary as on Windows 10, it is still possible to turn off the new ANSI-capable console support through this checkbox on a cmd windows properties:

![consolemode](https://cloud.githubusercontent.com/assets/10522484/13380778/4c427d66-ddff-11e5-8346-cf457ab0d8e8.JPG)

[2016-02-29 00:54] derekparker commented on #149
Will be fixed due to changes in Go compiler by 1.7. See https://github.com/derekparker/delve/pull/437 for details.

[2016-02-29 00:54] #149 closed

[2016-02-29 01:11] alexbrainman commented on #436
I will have a look at your code @jhowardmsft . Thank you.

Alex

[2016-02-29 01:23] johnjaylward opened #438 "OSX `make install` fails when CERT name has spaces"
[code]

the Makefile should quote the certificate name when passing it to the codesign program.

[2016-02-29 01:33] johnjaylward commented on #438
patch
[code]

[2016-02-29 02:54] derekparker commented on #438
@johnjaylward that patch LGTM. Mind submitting a PR? I would gladly merge that.

[2016-02-29 03:02] johnjaylward commented on #438
PRs for 2 lines of change is a lot of work for 1-time contribs. Just merging the patch should have contrib'd me well enough

[2016-02-29 16:21] #438 closed

[2016-03-01 14:03] ajpen opened #440 "Add support for passing command line arguments"
I've been looking around the documentation and I don't see any mention of how to pass command line arguments. I tried passing command line arguments using GDB syntax (using `c arg1 arg2` as the dlv equivalent) and delve ignored the arguments passed.

[2016-03-01 14:35] aarzilli commented on #440
Put them after `--`:

[code]

[2016-03-01 17:55] ajpen commented on #440
@aarzilli Thanks. That worked. Where in the documentation can I find it though?

[2016-03-01 18:16] derekparker commented on #440
@ajpen the docs have recently been converted and this isn't specified in them. I will update today.

[2016-03-02 05:12] jussij commented on #217
This reads a lot like the #372 Step Command Hangs issue which was closed and replaced by #374.

[2016-03-02 19:11] andradei opened #441 "Can't set breakpoint on certain valid lines"
After running:
`thread XXXXX`
to switch the another goroutine, the command
`break file.go:xx`
produces the following error:

`Command failed: no code at /path/to/file.go:xx`

[2016-03-02 19:17] derekparker commented on #441
Did that break point command work prior to switching threads?

[2016-03-02 19:19] andradei commented on #441
Yes. After a few more tries, I found out that it is the lines that are a bit off, for example:
In my code I want the breakpoint to be on _line 29_ (which is a valid line of code), in delve I need to actually run `break file.go:30` (line + 1).

This behavior started after using delve for several minutes.

[2016-03-02 19:21] derekparker commented on #441
Do the correct line numbers _become_ invalid after a while of using Delve, or are _already_ invalid at startup?

Any chance you could submit a gist of the output of a debug session in which this happens?

[2016-03-02 19:27] andradei commented on #441
Here's how it is behaving right now. I edited the output to hide full paths.
Notice that I tried to set breakpoints at some places that are actually valid, as the output at the end shows (like line 47). But only one breakpoint worked (line 43), which I don't know why it worked versus the others.

[code]

[2016-03-02 19:34] andradei commented on #441
More output detail:

[code]

So delve said the breakpoint at line 47 failed, but it is listed as one of the breakpoints.

[2016-03-02 19:39] derekparker commented on #441
This actually seems like reasonable behavior. In the instances the `break` command seems to fail, it's because you're trying to set a break point on the closing bracket of a block, which technically doesn't exist except for in the source code (does not compile into any instructions), so there really isn't anywhere to set a break point.

IIRC GDB may try and "figure it out" by setting a break point

[2016-03-02 19:41] andradei commented on #441
Actually. Let me apologize, the program is running as expected right? Line 47 was set before (according to the output), I didn't know that a `restart` would keep the breakpoints around.

Also, other attempts like `b connection.go:27` and `b connection.go:28` are an empty line, an `if` declaration respectively. I was under the impression a breakpoint could be set on `if condition {` lines.

I belie

[2016-03-02 19:43] derekparker commented on #441
@andradei you should be able to set a break point on the _conditional_ line of an if statement, i.e. the actual source line where `if <condition> {` occurs, just not the closing bracket.

[2016-03-02 19:48] andradei commented on #441
Hmmm.
Am I missing something?

<img width="569" alt="screen shot 2016-03-02 at 12 46 13 1" src="https://cloud.githubusercontent.com/assets/2653546/13473051/da52321e-e074-11e5-8228-3053b7c32be3.png">

[code]

[2016-03-02 20:16] derekparker commented on #441
Hmm. How are you starting delve?

[2016-03-02 20:19] derekparker commented on #441
In the master branch of that repo, for that file:line that happens to be a end block bracket: https://github.com/quickfixgo/quickfix/blob/master/connection.go#L28. Is it possible your accidentally debugging an old binary or something?

[2016-03-02 21:01] andradei commented on #441
I'm modifying the file and running `dlv debug` on my terminal at the root of the mentioned project.

[2016-03-03 16:35] derekparker commented on #441
@andradei yes, that's correct. I'll label this as a bug and try to reproduce locally. Can you provide more details such as Go version, operating system, and the output of `dlv version`, please?

[2016-03-03 17:46] andradei commented on #441
Sure. Thank you and contributors for the amazing work with delve.

__delve__
Version: 0.11.0-alpha
Build: 6774a6c782b2f321bed46b32af45a882d55287ad

__Go__
go1.6 darwin/amd64

__OS__
OS X 10.11.3 El Capitan

[2016-03-03 19:41] welemon opened #443 "Win32 panic slice bounds out of range"
This issue is noticed with intelliJ Go plugin 0.10.1164, while try to debug whole package (instead of single go file), windows dlv.exe panic saying

panic: runtime error: slice bounds out of range

goroutine 34 [running]:
github.com/derekparker/delve/dwarf/frame.parseFDE(0xc0824080c0, 0xb9ddf0)
	C:/BuildAgent/work/gopath/src/github.com/derekparker/delve/dwarf/frame/parser.go:74 +0x406
github.com/d

[2016-03-04 15:21] loganjspears commented on #159
I had the same issue and it was related to **taskgated**.  I just restarted and everything worked.

[2016-03-06 02:01] jkowalski commented on #159
FWIF I had similar issue today:

"sudo dlv exec ./blah" worked fine, but "dlv exec ./blah" would print the dreaded "could not launch process: could not fork/exec".

I double checked that the certificate was configured properly and that dlv was properly signed. Restarting taskgated did not help in my case.

What helped was - surprisingly - starting XCode. Apparently the first time it starts, it ins

[2016-03-07 04:13] helinwang commented on #159
Make sure each time you try the code sign, run `sudo pkill taskgated` first.

[2016-03-07 16:09] joegrasse commented on #20
Just ran into this. Any progress on this front?

Also, it might be nice to make the 64bit requirement more prominent in the docs.

[2016-03-07 16:32] derekparker commented on #20
@joegrasse as far as I'm aware nobody is working on this, but I agree it is important. I also agree we should point out in installation docs the processor requirements. I'll update the documentation shortly.

[2016-03-09 06:23] alexbrainman commented on #436
I tried following @jhowardmsft suggestion (not completly), and I got this https://github.com/alexbrainman/delve/commit/3fdfa4e164c50ed61e550196e2a175a70fa426a9 . But I don't have Windows 10 computer to test it. @jussij and @lukehoban would you mind trying my change?

Thank you.

Alex

[2016-03-10 00:06] lukehoban commented on #436
@alexbrainman On my Windows 10 laptop, I'm still seeing the console colors as expected.  When I turn on the "Use legacy console" setting that @jhowardmsft shows in the cmd.exe properties UI, I no longer see colorization.  So this looks good to me.

[2016-03-10 00:07] jhowardmsft commented on #436
Yay :)

[2016-03-10 00:48] alexbrainman commented on #436
Thanks for checking. I have create a PR.

Alex

[2016-03-10 03:36] jussij commented on #374
I tried out this auto-advance change on Windows 10 and it is working perfectly. Great stuff :)

[2016-03-11 16:29] joegrasse commented on #209
@derekparker I created #453 to fix this issue.

[2016-03-12 00:44] Nuclearfossil opened #454 "Are there any better/more current/working OSX installation instructions?"
Hey all,

Trying to install dlv on OSX 10.11.3 and having a hell of a time just getting it running.

1. This is off the master branch
2. followed the OSX instructions here (https://github.com/derekparker/delve/wiki/Building) however to explicity restate them:
  - created the cert as outlined.  Called it 'delve'.
  - rebooted
  - git cloned the delve repo
  - ran ```GO15VENDOREXPERIMENT=1 CERT=delv

[2016-03-12 01:08] Nuclearfossil commented on #454
So, may have gotten it going now on OSX without having to git clone.

1. from you current GOROOT
  - go get -v -u github.com/peterh/liner github.com/derekparker/delve/cmd/dlv
  - codesign -s delve bin/dlv
2. you should now be able to bin/dlv debug something.go

[2016-03-12 02:26] derekparker commented on #454
This seems like a GOPATH issue to me, is the layout of `/Users/amatheson/Code/research/delve` correct, with a `src` dir, etc?

[2016-03-12 02:28] Nuclearfossil commented on #454
delve has no src folder in the repo

[2016-03-12 02:30] derekparker commented on #454
@Nuclearfossil right, so your $GOPATH should not be set to the Delve repo location, it should be set to a valid Go workspace directory. See https://golang.org/doc/code.html#GOPATH.

[2016-03-12 03:03] Nuclearfossil commented on #454
I'm very confused.  How does that build the dlv binary?

[2016-03-12 03:08] Nuclearfossil commented on #454
OK. So it doesn't put it into $GOROOT/bin, it puts it into each Go Project.

That could stand more clarification in the docs.

[2016-03-13 01:48] gotschmarcel opened #455 "Unable to print map[string]interface{}"
Hi,

I'm using delve 0.11.0-alpha and Go 1.5 on OS X 10.11.3. It seems that currently the debugger is not able to print maps of type `map[string]interface{}`:

[code]

[2016-03-13 14:39] ashvin-bhuttoo opened #456 "go get github.com/derekparker/delve/cmd/dlv fails with an error"
When i do 'go get -v -u github.com/derekparker/delve/cmd/dlv' it fails with the following error (see bold):

github.com\derekparker\delve (download)
github.com/derekparker/delve/proc
**..\..\proc\disasm.go:9: undefined: ArchInst**

I am running windows 7 x64 and using go1.6, how do i fix it ?

[2016-03-13 15:09] lukehoban commented on #456
It sounds like you must have a 32bit Go tool chain installed. Delve doesn't build for 32bit architectures currently. What is your `go env`?  If you set GOARCH to `amd64` can you successfully build?

That said, it would be nice if the `go get` failure were somehow clearer about what was wrong here.

[2016-03-13 15:20] ashvin-bhuttoo commented on #456
You are right, i have 32bit Go installed, i'll try with 64bit

**go env output:**
set GOARCH=386
set GOBIN=C:\Go\bin\
set GOEXE=.exe
set GOHOSTARCH=386
set GOHOSTOS=windows
set GOOS=windows
set GOPATH=C:\Go\
set GORACE=
set GOROOT=c:\go
set GOTOOLDIR=c:\go\pkg\tool\windows_386
set GO15VENDOREXPERIMENT=1
set CC=gcc
set GOGCCFLAGS=-m32 -mthreads -fmessage-length=0
set CXX=g++
set CGO_ENABLED=1

[2016-03-13 15:50] ashvin-bhuttoo commented on #456
Just installed 64bit Go and the following packages

github.com/golang/lint/golint
github.com/peterh/liner
github.com/derekparker/delve/cmd/dlv

Debugging works fine in Visual Studio Code when i run it as administrator.

[2016-03-13 15:50] #456 closed

[2016-03-14 07:40] aarzilli commented on #317
Implemented by c4797ea44506e0501376bd7e99ec9f35ffdd0769

[2016-03-14 07:40] #317 closed

[2016-03-14 07:41] aarzilli commented on #455
This is fixed by #434

[2016-03-14 15:34] derekparker commented on #454
Going to close this as not a Delve issue. I think you have your local setup configured incorrectly. Your $GOPATH should include a `src`, `pkg` and `bin` directory, into which Delve will be installed. `make install` will install into `$GOPATH/bin`. Programs that you build yourself should never end up in `$GOROOT/bin`, that's for the go tool, etc.

[2016-03-14 15:34] #454 closed

[2016-03-14 15:37] Nuclearfossil commented on #454
I would disagree, I don't want to rebuild delve each time I create a new
project, which is what you're saying with this response.
On Mar 14, 2016 8:35 AM, "Derek Parker" <notifications@github.com> wrote:

[2016-03-14 15:43] derekparker commented on #454
That is only a symptom of using GVM (as far as I can tell). I haven't used it before, but the typical Go development setup is a single $GOPATH where all your source is stored in `$GOPATH/src` and programs are compiled into `$GOPATH/bin`. Please refer to: https://golang.org/doc/code.html#Workspaces.

[2016-03-14 15:45] Nuclearfossil commented on #454
Yes, for one project. I have many projects on the go which requires
changing the go path multiple times during the day. This means that for
each project you must rebuild and re sign the delve executable. That feels
incredibly wasteful imo.
On Mar 14, 2016 8:43 AM, "Derek Parker" <notifications@github.com> wrote:

[2016-03-14 15:48] derekparker commented on #454
@Nuclearfossil no, in a typical setup you would not change your `$GOPATH` at all. You have a single `$GOPATH` which holds all of your projects. You don't need a `$GOPATH` per project. What your doing is closer to something like https://getgb.io/ which takes a project based approach to building Go programs.

[2016-03-14 16:34] Nuclearfossil commented on #454
Yeah, that's very close to what I'm working with.  Using a single $GOPATH
and stuffing everything into it will not work for our organization (each
project has dependencies on separate external docker services such as
redis, kafka, zookeeper, etc) and what you propose simply will not work at
that scale. eg: project A requires redis, project b require
Zookeeper/kafka. For dev/test environments, they

[2016-03-14 16:46] #209 closed

[2016-03-14 20:09] derekparker opened #457 "proc: Use PT_ATTACHEXC on darwin"
When attaching to an existing process, use PT_ATTACHEXC instead of just PT_ATTACH.

[2016-03-14 21:57] derekparker opened #458 "Consider other install locations"
Currently, `make install` will build into `$GOPATH/bin` as normal, however that may not be condusive to all workflows. We should consider other targets that will either build into `$GOPATH/bin` or `$PROJECT/bin`, etc.

[2016-03-14 21:57] derekparker commented on #454
I've created [this issue](https://github.com/derekparker/delve/issues/458) to track this, we can continue discussion there.

[2016-03-15 08:53] aarzilli commented on #436
Fixed by ff0ec8ce00fbac7f84859cf420b31bc3a513e43c

[2016-03-15 08:53] #436 closed

[2016-03-16 14:04] asampal opened #461 "Run to cursor leaves the debugger in limbo"
Using IntelliJ Idea 15.0.4, Go 1.6, go-lang plugin 0.10.1189, Windows 10 64 bit, JDK 1.8.0_74, delve ff0ec8ce00

I was stopped at a breakpoint. I placed the cursor on a line of code past the breakpoint and selected "run to cursor" from the context menu. Delve started execution again, all frames were removed from the debugger view and the program seemed to be in an indeterminate state, not running

[2016-03-16 14:26] aarzilli commented on #461
The plugin for IntelliJ is developed [here](https://github.com/go-lang-plugin-org/go-lang-idea-plugin).

cc @dlsniper

[2016-03-16 14:28] dlsniper commented on #461
Please provide more context for the issue, especially a reproducible sample. And since the issue is opened here, can you replicate this with Delve or only in IntelliJ? Thank you.

[2016-03-17 16:26] dwbuiten opened #462 "Delve cannot attach and debug a simple http service"
## 1. What version of Delve are you using (`dlv version`)?

[code]

Git revision: ff0ec8ce00fbac7f84859cf420b31bc3a513e43c

## 2. What version of Go are you using? (`go version`)?

[code]

## 3. What operating system and processor architecture are you using?

[code]

## 4. What did you do?

[code]

I also tested with `go build -gcflags '-N -l'`.

## 5. What did you expect to see?

A backtrace.

##

[2016-03-17 18:33] aarzilli commented on #462
There is a problem with stacktraces, they work fine for threads that are running goroutines, but apparently there is a bug for threads that aren't running any goroutine.

Anyway:

[code]

[2016-03-17 18:34] aarzilli commented on #462
PS. you should either let dlv compile the program or use `-gcflags='-N -l'`

[2016-03-17 18:55] dwbuiten commented on #462
Not sure I entirely understand (shouldn't every system thread have at least one goroutine attached?), but hopefully it can be fixed.

As noted, I did try to compile with `-gcflags='-N -l'` :wink:.

I'd like to note however that requiring this diminishes the usefulness of delve for certain usescases, e.g. allowing you to attach to a broken long running process in a production environement, which is

[2016-03-17 19:02] aarzilli commented on #462
Goroutine 0 is different

Re. gcflags: you don't have to use them but if you don't you'll get code with inline calls and registerized variables.

[2016-03-17 19:05] dwbuiten commented on #462
Gotcha.

[2016-03-17 22:25] derekparker commented on #462
FWIW the same restriction applies to _any_ debugger. Currently the Go compiler does not emit correct DWARF information for the optimizations it performs. This should be fixed soon.

Definitely fixable. I will dig into it as soon as I can, unless @aarzilli beats me to it.

[2016-03-18 15:54] derekparker commented on #348
This should be (mostly) fixed now, several patches ago. Going to close this issue.

[2016-03-18 15:54] #348 closed

[2016-03-18 15:56] derekparker commented on #461
@asampal can you provide any more information, and whether this can be replicated by using Delve in CLI mode?

[2016-03-18 15:58] derekparker opened #464 "proc: Fix Launch race condition on OSX"
The current implementation of fork/exec'ing the child process, and then trying to parse information out of the running process seems to be racy. It seems the child process is not fully initialized when we try and parse information from it.

We seem to get errors similar to:

`could not launch process: Could not determine version number: could not read string len could not read memory`

[2016-03-18 15:58] derekparker commented on #464
I am working on a fix for this, I hope to have up soon.

[2016-03-18 16:45] asampal commented on #461
I think I should've opened this against the go-lang-plugin. My first thought was that it was a debugger related issue, but obviously a command-line tool like delve doesn't have the concept of a cursor so I'm not sure what I could attempt to replicate using the CLI. Doh!

[2016-03-18 16:45] #461 closed

[2016-03-18 16:50] asampal commented on #461
Opened https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/2401

[2016-03-18 17:53] #403 closed

[2016-03-18 17:58] derekparker commented on #461
@asampal most likely what the plugin is doing under the hood is using the Delve API to reconcile a give file:line to a PC that it can set a break point on. What I would do to test this (to see if it is a Delve issue or not) is to try and manually set a break point where you had your cursor set at, continue, and see what happens.

If the program hangs or you get some sort of unexpected behavior we

[2016-03-18 19:56] asampal commented on #461
@derekparker when you say manually set a breakpoint, you mean to do it with the CLI, right?

[2016-03-18 22:59] derekparker commented on #461
@asampal correct.

[2016-03-19 15:37] MariMurotani commented on #159
I have same problem that I get error below except root user.
could not launch process: could not fork/exec
I killed taskgated just before make, but taskgated restarts after make process.

OS: OSX Yosemite 10.10.4
Darwin Kernel Version 14.4.0

[2016-03-21 09:10] eungjun-yi opened #467 "Some externally linked binaries have .eh_frame section instead of .debug_frame"
1. What version of Delve are you using (`dlv version`)?

   Delve Debugger
   Version: 0.11.0-alpha
   Build:
2. What version of Go are you using? (`go version`)?

   go version go1.6 linux/amd64
3. What operating system and processor architecture are you using?

   OS: Linux 4.4.5-1-ARCH
   processor arch: x86_64
4. What did you do?

   I ran `dlv attach 7741` to debug a running [docker](https://

[2016-03-21 09:12] npcode commented on #467
Do I need to compile docker by delve instead of go compiler?

[2016-03-21 10:01] aarzilli commented on #467
What's the output of `ls -l /proc/7741/exe` (where 7741 is the pid you are trying to attach to)?

[code]

not necessary.

[2016-03-21 12:02] npcode commented on #467
@aarzilli

`lrwxrwxrwx 1 nori users 0  3월 21 18:06 /proc/7741/exe -> /usr/bin/docker`

[2016-03-21 12:29] aarzilli commented on #467
It seems that the docker binary has a `.eh_frame` section instead of `.debug_frame`.

More information:

http://www.airs.com/blog/archives/460
https://refspecs.linuxfoundation.org/LSB_3.0.0/LSB-PDA/LSB-PDA/ehframechpt.html

[2016-03-22 04:57] npcode commented on #467
workaround: Build docker binary by `DOCKER_DEBUG=1 make binary`. It adds "-ldflags -w" option to go compiler so that the docker binary has .debug_frame.

[2016-03-22 05:46] npcode opened #468 "Command failed: no G executing on thread 0"
1. What version of Delve are you using (`dlv version`)?

   Delve Debugger
   Version: 0.11.0-alpha
   Build:
2. What version of Go are you using? (`go version`)?

   go version go1.6 linux/amd64
3. What operating system and processor architecture are you using?

   OS: Linux 4.4.5-1-ARCH
   processor arch: x86_64
4. What did you do?
   1. Run `dlv attach 1` to debug a running [docker](https://git

[2016-03-22 05:58] semistone commented on #464
Hi
   I face some similar issue in mac
when start debug by dlv, it only work sometimes.

I trace syscall in dlv process, it will received the request  like

`{"method":"RPCServer.CreateBreakpoint","params":[{"file":"/Users/yinchin.chen/go/src/demo/test/test.go","line":11}], "id":1}
{"method":"RPCServer.Command","params":[{"Name":"continue"}],"id":2}`
and never response.
But if I run dlv manually l

[2016-03-22 18:23] cjrd opened #471 "Create breakpoint from source file"
Is it possible to create a breakpoint from within a source file, e.g. equivalent to Python's `pdb.set_trace()`? If this is not possible, it would be a much-appreciated enhancement.

[2016-03-22 18:24] derekparker commented on #471
Yes, you can use the stdlib `runtime.Breakpoint` function.

[2016-03-22 18:24] #471 closed

[2016-03-23 05:46] asampal commented on #461
I tried the CLI and that went OK. Looks like the plugin is doing something not quite right.

[2016-03-23 10:52] aarzilli commented on #468
Apparently in the docker binary the G offset is completely different

[code]

just compiling something with cgo still produces the good old:

[code]

Hard to say what causes this since docker build process involves downloading a whole operating system.

The `thread 0` thing is just cosmetic and I will push a fix for that.

[2016-03-24 05:05] 3JIou opened #474 "Problem with work dlv"
I was make it -
[code]
in my $GOPATH dir and get dlv, next i make [cert](http://take.ms/svzGo) and sing dlv like that:
[code]
and now I have a problem:
[code]
dlv version - latest
go version - go version go1.6 darwin/amd64
OS and processor architecture - Darwin alahd-mac-batman 15.3.0 Darwin Kernel Version 15.3.0: Thu Dec 10 18:40:58 PST 2015; root:xnu-3248.30.4~1/RELEASE_X86_64 x86_64 i386
Sorry

[2016-03-24 10:40] aarzilli commented on #474
You either made a mistake creating the certificate or didn't restart taskgated. Try following [this video](http://www.youtube.com/watch?v=4ndjybtBg74) again. Good luck Mr. Wayne.

[2016-03-24 14:14] 3JIou commented on #474
ok. I did as shown in the video and have new problem! Now with banana taste!

[2016-03-24 14:18] 3JIou commented on #474
oh... i make mistake.
[code]
now all work. thanks for the help

[2016-03-24 14:21] aarzilli commented on #474
Great.

[2016-03-24 14:21] #474 closed

[2016-03-25 01:45] dotNetDR commented on #467
@npcode
I got the same problem(dlv exec docker ...  ->  could not find .debug_frame section in binary)
can i see your go build docker args?

my go build
[code]

[2016-03-25 02:01] dotNetDR commented on #467
1. What version of Delve are you using (dlv version)?

  Delve version: 0.10.0-alpha

2. What version of Go are you using? (go version)?

  go version go1.4.2 linux/amd64

3. What operating system and processor architecture are you using?

  OS: CentOS Linux release `7.1.1503` (Core)
  Kernel: 3.10.0-229.el7.`x86_64`

4. What did you do?

[code]

5. What did you expect to see?

  enter dlv debug m

[2016-03-25 05:31] aarzilli commented on #467
@dotNetDR `-ldflags -w` disables DWARF generation, I'm not surprised we can't find `.debug_frame`, not much we can do about that (the binary would also lack `.debug_info` anyway). I bet -lptrace is responsible for the placement of g struct in FS.

[2016-03-25 09:39] npcode commented on #467
@dotNetDR Sorry, I don't know how do I get the arguments used while running `go build`. I just ran `DOCKER_DEBUG=1 make binary` to compile the docker binary which contains .debug_frame.

[2016-03-25 09:40] dotNetDR commented on #467
@aarzilli
i remove -ldflags `-w` args, it's working.

thank you for your help.

[2016-03-25 12:22] aarzilli commented on #467
@dotNetDR you should be running into the same problem that @npcode had in issue #468. Did you not?

[2016-03-26 02:21] ttllyy opened #477 "could not launch process: could not find symbol value for runtime.buildVersion"
dlv version:
Delve Debugger
Version: 0.11.0-alpha
Build: cf3a07b584847e25aa95e8663c2d99cf5d9c7cd4

Operation systerm: win7

go version:
go version go1.5.1 windows/amd64  or  go version go1.6 windows/amd64

idea version: 16
idea golang plugin version: Version: 0.11.1149

Some beego project debug lauch error, but not all project.

could not launch process: Could not determine version number: could n

[2016-03-26 03:53] ttllyy commented on #477
import “github.com/mattn/go-sqlite3” will debug error
if I delete import “github.com/mattn/go-sqlite3” ,  no error.
I install github.com/mattn/go-sqlite3 command: go get github.com/mattn/go-sqlite3

[2016-03-28 07:59] dotNetDR commented on #467
@aarzilli

my docker version is 1.8.3
Does not exist that code
[code]

[code]

[2016-03-28 08:15] dotNetDR commented on #467
@npcode
at [/hack/make/binary](https://github.com/docker/docker/blob/v1.8.3/hack/make/binary#L11-L18)

you can print it on build time. (e.g. [binary](https://github.com/dotNetDR/docker/blob/Branch_v1.8.3/hack/make/binary#L3))

[2016-03-28 16:03] #462 closed

[2016-03-30 19:53] sectioneight opened #481 "Incomplete vendoring of dependencies"
I'm packaging delve for our private debian mirror so the tool is available on our machines. I noticed you are vendor-ing dependencies (which is good), but they seem incomplete. Specifically, when I do a clean build, it seems like not all of the required source is available.

I worked around this by doing a `godep save ./...` and committing the result to our internal git mirror where we build debia

[2016-03-30 19:56] sectioneight commented on #481
Hmm actually, it looks like I was trying to build more than just the `dlv` command. When I restrict the debian to only that target, everything works fine.

[2016-03-30 19:56] #481 closed

[2016-03-30 21:46] LakeIshikawa commented on #477
Just to add some info: exact same error seemingly happens whenever trying to use any library that has native bindings of a particular C library (tried with https://github.com/gotk3/gotk3 and https://github.com/go-gl/gl).

The error goes away and the debugger works when the libraries are not imported.

[2016-03-31 12:46] joegrasse commented on #20
I was taking a look at this for 32bit linux, but there are a couple things I can't seem to locate.

For example, does anyone know what the following should be for 32bit linux?

https://github.com/derekparker/delve/blob/e7a9a3ea9a72d943a9e9012977d28419933f5896/proc/registers_linux_amd64.go#L71

Also, here.

https://github.com/derekparker/delve/blob/e7a9a3ea9a72d943a9e9012977d28419933f5896/proc/arch

[2016-03-31 14:07] joegrasse commented on #468
@aarzilli just curious, how did you produce the output to show the G offset in https://github.com/derekparker/delve/issues/468#issuecomment-200294856?

[2016-03-31 14:08] aarzilli commented on #20
I don't but disassembling a go program compiled for 32bit linux will probably reveal it (I also do not know how segments work in protected mode, I skipped that section of the intel manual).

[2016-03-31 14:37] aarzilli commented on #468
`disasm -l main.main`, but it's the first instruction of almost any function.

[2016-03-31 15:27] joegrasse commented on #20
I have delve partially working on 32bit linux and based on your comment here https://github.com/derekparker/delve/issues/468#issuecomment-203968010, I get the following output.

32bit
[code]

64bit
[code]

Looks like it isn't quite as straight forward on 32bit.

[2016-04-03 18:13] Wizermil opened #483 "runtime.mach_semaphore_wait()"
1. What version of Delve are you using (`dlv version`)?
    Delve Debugger
    Version: 0.11.0-alpha
    Build: cfe0e52d040955efc34e7b34ef41313f03fe4864

2. What version of Go are you using? (`go version`)?
    go version go1.6 darwin/amd64

3. What operating system and processor architecture are you using?
    Max OS X 10.11.4
    Darwin Sarge.local 15.4.0 Darwin Kernel Version 15.4.0: Fri Feb 26

[2016-04-04 07:06] aarzilli commented on #483
`^C` gets intercepted by delve causing it to stop the program. The code you are seeing is in fact legit, it's just part of runtime: use the commands `goroutines` and `stack` to find out what the program is doing.

If you want your program to receive SIGINT you should try sending SIGINT directly to the target process using `kill`, that will work on linux but I don't know if it will work on OS X.

[2016-04-04 08:13] Wizermil commented on #483
I tested this morning and it seems to be ok, SIGINT is handled as expected.

So it's a SIGINT issue with delve how can I help?

[2016-04-04 09:16] aarzilli commented on #483
Delve interrupting the process when ^C is pressed is not an issue, it's intended behavior.

[2016-04-04 17:33] derekparker opened #484 "Allow a 'run' command"
I like being able to start a debug session and simply type "continue" to continue the process, but that does not allow you to provide arguments to the process before starting it. You can provide args using `dlv debug -- your args`, however if you want to provide different args after using the `restart` command for instance, it's currently impossible. You would have to exit Delve and restart, and t

[2016-04-04 18:19] joegrasse commented on #484
For what it is worth, I like the idea of keeping it as similar to gdb as possible.This would make it easier to use for those coming from gdb.

So for example

run arg1 arg2
set args arg1 arg2

[2016-04-05 01:49] alexbrainman commented on #477
I am pretty sure this bug is because Go does not include DWARF information into Windows executable it builds if program uses CGO. See golang/go#10776 for details.

Alex

[2016-04-05 02:13] alexbrainman commented on #443
It would help to see your executable file C:\Users\leewi\AppData\Local\Temp\clm-adls0go. It would be even better if you can provide instructions on how to build C:\Users\leewi\AppData\Local\Temp\clm-adls0go. Thank you.

Alex

[2016-04-06 07:59] aarzilli commented on #484
The least disruptive way to do this would be to add command line arguments to the `Restart` API call and to the `restart` command then implement `run` as:

[code]

[2016-04-06 08:18] aarzilli commented on #443
One possible explanation for that panic would be a FDE in debug_frame containing no instructions.

[2016-04-06 08:31] aarzilli commented on #20
It's not that different. The big problem is that ptrace on 86x64 does not return the base address of the GS segment.
Apparently to read it you have to do [something like this](http://reverseengineering.stackexchange.com/a/4046) which involves calling `PTRACE_GET_THREAD_AREA` which `golang.org/x/sys/unix` does not currently implement :(

[2016-04-06 11:58] aarzilli commented on #483
Closing this given that it's working as intended.

[2016-04-06 11:58] #483 closed

[2016-04-06 12:41] joegrasse commented on #20
@rsc is there an easy way to get the base address of the thread local storage memory on 386 linux in Go? On 64bit linux it looks like you can just use PtraceRegs.Fs_base.

[2016-04-06 18:30] Wizermil commented on #483
Hey @aarzilli,

There was something fishy related to delve and SIGINT it took me ages to pin point it but I finally found a way to reproduce it.

When running under delve your program can't receive SIGINT signal more than once.

Here is my simple test.go file that can help you reproduce the issue
[code]

after a simple
[code]

then on another terminal

[code]

here is the result on the first termi

[2016-04-07 04:46] ngocthanhpham opened #488 "cant run process when install"
dlv version pre 1.0
go version 1.6
win 10 pro 64
when i install my cmd notify this:
"** process_begin: CreateProcess(NULL, uname, ...) failed.
mingw32-make: Makefile:7: pipe: No error
process_begin: CreateProcess(NULL, uname, ...) failed.
mingw32-make: Makefile:22: pipe: No error
go install -ldflags="-X main.Build=e60942a39d2485275cc75f9518932a8208dc5e2d" github.com/derekparker/delve/cmd/dlv
can't

[2016-04-07 05:26] aarzilli opened #489 "On OS X only the first SIGINT received by inferior is delivered to it"
dlv version: 0.11.0-alpha Build: e60942a39d2485275cc75f9518932a8208dc5e2d
go version: go version go1.5.2 darwin/amd64

On OS X only the first SIGINT received by inferior is delivered to it.

Example program:

[code]

Run the program inside dlv then send SIGINT twice to it from another terminal.

This bug was [originally reported](https://github.com/derekparker/delve/issues/483#issuecomment-2065053

[2016-04-07 05:27] aarzilli commented on #483
Ok that's a bug, thanks.

[2016-04-07 05:47] aarzilli commented on #488
If you run `uname` do you get anything?

[2016-04-07 06:46] ngocthanhpham commented on #488
i got clone to my local driver D, please help me, i just study golang

[2016-04-07 07:03] aarzilli commented on #488
Did you put it inside `D:\Source\Golang\src`?

[2016-04-07 07:06] ngocthanhpham commented on #488
yes, my directory D:\Source\Golang\src\delve

[2016-04-07 07:08] aarzilli commented on #488
It needs to be `D:\Source\Golang\src\github.com\derekparker\delve`. Please read this: https://golang.org/doc/code.html

[2016-04-07 07:51] ngocthanhpham commented on #488
i do that but now it notify
" D:\Source\Golang\src\github.com\derekparker\delve>mingw32-make install
process_begin: CreateProcess(NULL, uname, ...) failed.
mingw32-make: Makefile:7: pipe: No error
process_begin: CreateProcess(NULL, uname, ...) failed.
mingw32-make: Makefile:22: pipe: No error
go install -ldflags="-X main.Build=e60942a39d2485275cc75f9518932a8208dc5e2d" github.com/derekparker/delve/

[2016-04-07 08:32] aarzilli commented on #488
Did it build `dlv` in `D:\Source\Golang\bin\dlv`?

[2016-04-07 08:39] ngocthanhpham commented on #488
yes, dlv.exe already but why it notify failed, i dont understand

[2016-04-07 09:26] aarzilli commented on #488
Because `uname` doesn't exist on windows? I think this was already known. It shouldn't matter.

[2016-04-07 09:26] #488 closed

[2016-04-08 01:16] shackra opened #492 "I'm developing Go software in a 32bit machine, which means I can't install Delve"
I'm experiencing the issue #456

The reply there was that Delve doesn't compile in 32bits architecture. Well, I'm someone developing software on a IBM ThinkPad T60, and right now I have no money to buy a more modern laptop. If there nothing developers can do for me, what options do I have in terms of debugging tools?

[code]

[2016-04-08 12:31] joegrasse commented on #492
There is already issue #20 filed for this.

[2016-04-08 16:20] davisford opened #493 "Question re: number of active dlv processes"
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.

1. What version of Delve are you using (`dlv version`)?

Delve Debugger
Version: 0.11.0-alpha
Build: 43c27a40cbdf449bded129a4a0cd293875710dc8

2. What version of Go are you using? (`go version`)?

go version go1.6 darwin/amd64

3. What

[2016-04-08 16:56] aarzilli commented on #493
Is atom still running? Last time I tried atom the process didn't quit when I closed the window, that was on linux but maybe the behavior is the same on OS X. If atom is still running and go-debug doesn't properly reap its children processes then that's expected.

[2016-04-08 21:09] derekparker commented on #492
Closing as duplicate of #20. Please note this is something being worked on and not ignored.

[2016-04-08 21:09] #492 closed

[2016-04-08 21:11] derekparker commented on #493
Going to close this as it shouldn't be a Delve issue, but likely an issue with the plugin. Feel free to reopen if you can reproduce it as specifically a problem with Delve, otherwise I'd file an issue against the plugin.

[2016-04-08 21:11] #493 closed

[2016-04-09 03:07] davisford commented on #493
@derekparker -- understood.  FWIW, several hours later, zombies are still there (call rick grimes?)

`atom.io` is most def killed, which means the parent is something else.  I grabbed [pstree](http://linux.die.net/man/1/pstree) and ran it to try to figure out who the parent is, and it turns out to be `launchd`, so I don't *think* the issue is coming from the atom plugin, but I could be wrong.  I m

[2016-04-11 19:02] joefitzgerald opened #494 "Release Compiled Binaries With Each Release"
It would be wonderful if you could release compiled binaries along with your version tags at https://github.com/derekparker/delve/releases.

There are multiple editor packages that make use of Delve, and there is a desire to automatically install a binary in a user's `$GOPATH/bin` or somewhere else on their `$PATH` to obviate the need for the user to build from source (which has varying degrees of

[2016-04-11 19:06] derekparker commented on #494
@joefitzgerald I completely agree. I hope to have this in place before cutting the next release. This will be one of a few improvements to the release process that I have planned.

[2016-04-11 19:20] joefitzgerald commented on #494
@derekparker Wonderful news - thank you! Any idea on timeframe for the next release (don't want to hold you to anything, just want to determine if we should write code to download from https://bintray.com/jetbrains/golang/delve/view in the interim).

[2016-04-11 19:28] derekparker commented on #494
@joefitzgerald the plan is to cut a release this week, but no hard time frame at the moment. However, following this release we will start cutting releases at a specified cadence. I will keep this thread updated on progress.

[2016-04-11 19:58] lukehoban commented on #494
@derekparker Out of curiosity - is your plan to publish signed binaries for OS/X?

[2016-04-11 22:53] derekparker commented on #494
@lukehoban that would be ideal, however I haven't looked into it and am unsure of what all would be involved. Definitely something I will look into before next release is cut.

[2016-04-12 20:53] clnperez opened #495 "no code block shown with step or list"
1. What version of Delve are you using (`dlv version`)?

Delve Debugger
Version: 0.11.0-alpha
Build: 26ce16f1db3fdd6fdd915f2ec7d11e4bfe72baed

2. What version of Go are you using? (`go version`)?
go version go1.6 linux/amd64

3. What operating system and processor architecture are you using?
Fedora 23, x86_64

4. What did you do?

terminal A:
$ sudo dlv attach <pid>
$ break <path:file:linenum>
$ c

[2016-04-12 20:55] clnperez commented on #495
Interestingly, I do see the arrow for a some assembly, so I'm not sure what I'm missing:

[code]

[2016-04-13 02:58] sodre opened #496 "Can't debug github.com/hashicorp/terraform"
1. What version of Delve are you using (`dlv version`)?
   Delve Debugger
   Version: 0.11.0-alpha
   Build: 26ce16f1db3fdd6fdd915f2ec7d11e4bfe72baed
2. What version of Go are you using? (`go version`)?
   go version go1.6 darwin/amd64
3. What operating system and processor architecture are you using?
   OS X
4. What did you do?
   I tried to debug hashicorp/terraform application.

[code]
1. What

[2016-04-13 09:45] luweijie007 opened #497 "delve on window no support "step out", why?"
I use delve as plugin of visual studio code
 I dot not kown how to check version of delve on win7(who can tell me?)
 go version go1.6.1 windows/amd64
I can use "step into " into funtion
but I can not "step out" and print this log: Step out is not yet supported

Is that delve not support "step out" or I need to other?

[2016-04-13 11:47] dlsniper commented on #496
Terraform uses plugins by executing them via shell. The plugins are different running processes than what binary you are launching. As such you need either to attach to the new process or execute the plugins with delve

[2016-04-13 12:30] aarzilli commented on #497
Duplicate of #358.
Not implemented yet, I'm working on it.

[2016-04-13 12:30] #497 closed

[2016-04-13 12:37] aarzilli commented on #496
@sodre If you compile `github.com/hashicorp/terraform` and run it what happens?

[2016-04-13 12:53] aarzilli commented on #495
I can't reproduce this. When you see the breakpoint notification:

[code]

This should be followed by the listing with `=>` on the current instruction. Do you see it or not? Can you confirm that `/path/filename.go` exists? Whats the output of the `goroutines` command inside `dlv`?

[2016-04-14 01:26] sodre commented on #496
@aarzlli I thought that is what `dlv debug github.com/hashicorp/terraform -- apply` was doing for me.

@dlsniper you are correct. I added a runtime.Breakpoint() line to where I was trying to debug but that just caused the separate program to crash -- I assume because I was not fast enough to attach to it. I could put the code in an controlled loop  near where I want to debug but that sounds like a

[2016-04-14 02:46] luweijie007 commented on #497
@aarzilli thanks your answer and your work on this tools

[2016-04-14 06:32] aarzilli commented on #496
@sodre I was trying to determine if the problem is the `"provider triton couldn't be found"` error or the fact that we don't follow `exec`s.

[2016-04-14 12:29] sodre commented on #496
@aarzilli got it! I'll see how that can be done.

[2016-04-14 13:11] dlsniper commented on #494
I'll ping @ignatov for this to track as well.

[2016-04-14 16:04] wangxingge opened #499 "Not Support build file or package likes liteide."
2. What version of Go are you using? (`go version`)?
go 1.6
3. What operating system and processor architecture are you using?
windows 7, i7(x64)
4. What did you do?
Click Run-> Run
5. What did you expect to see?
Click Run-> Build current file or current folder.
6. What did you see instead?
Always let me build main.go and run main.go.

I'm really don't need always build main.go, just need build cu

[2016-04-14 16:09] #499 closed

[2016-04-16 09:48] aarzilli commented on #119
Comment moved here from PR #331:

I did think a bit about calling functions (without writing any code so this is purely philosophical) this is what I thought would be the pain points:

a. panics
b. breakpoints getting hit while evaluating a function
c. our goroutine getting scheduled out -- which makes (b) worse.

Regarding (a), one solution is to set a breakpoint on panic and abort the evaluation

[2016-04-17 17:33] kkdai opened #502 "Suggest Makefile codesign should use $GOBIN not $GOPATH/bin"
1. What version of Delve are you using (`dlv version`)?
0.11.0-alpha

2. What version of Go are you using? (`go version`)?
go1.6 darwin/amd64

3. What operating system and processor architecture are you using?
Mac OSX 10.11.4

4. What did you do?
run `GO15VENDOREXPERIMENT=1 CERT=dlv-cert make install`

5. What did you expect to see?
work with no error.

6. What did you see instead?
`No such file o

[2016-04-18 15:49] derekparker commented on #502
Thanks for filing an issue. My concern here is that we cannot rely on `$GOBIN` having been set by the user, since it's not required in the same way that `$GOPATH` is. I think the way to fix this issue is to do something like: `codesign -s "$(CERT)" $(which dlv)`. This obviously relies on `which` being available on the users machine, but it should be present on OSX machines.

[2016-04-18 16:07] derekparker commented on #494
Just wanted to update folks who are following this thread: was not able to get everything in for a release last week, so I'm aiming for cutting a release today or tomorrow. The plan is to include pre-compiled binaries along with that release.

[2016-04-18 16:17] joefitzgerald commented on #494
@derekparker thanks for the update! Had a chance to investigate signing the OS X binary?

[2016-04-18 16:25] derekparker commented on #496
On Linux where we use `ptrace(2)` for process manipulation this can be achieved very easily by ensuring we always set the `PTRACE_O_TRACEFORK` option.

However, for OSX and Windows I am not so sure. Windows may have something for this in their debug APIs. For OSX, since we're dealing mostly with mach exceptions, and lower-level syscalls for process manipulation, we need a way to determine when the

[2016-04-18 16:47] ignatov commented on #494
BTW, we're at JetBrains use our developer certificate for signing Delve Mac OS binaries.

[2016-04-18 16:50] derekparker commented on #494
@joefitzgerald @ignatov yeah I think the only solution is to cough up $99 to enroll in their developer program and get a developer cert I can sign the binaries with.

[2016-04-18 17:04] kkdai commented on #502
Thank you for your reply, I agree it would be better to change to `$(which dlv)`.

[2016-04-18 17:06] joefitzgerald commented on #494
@derekparker got anywhere we can send you some cash?

[2016-04-18 18:54] derekparker commented on #494
@joefitzgerald thanks for asking. Not currently, but that would be very helpful. I will look into getting something set up, and post some information regarding explicitly what the funds are used for.

[2016-04-18 20:31] sodre commented on #496
Derek,

Thanks for looking into this, would dtrace be a better equivalent in the OS X world?
A quick search on dtrace and fork  on google brought up this link from sun.com (oracle.com)

https://community.oracle.com/thread/1921595?start=0&tstart=0

Patrick

[2016-04-19 03:37] tupunco opened #505 "windows 'dlv debug' include 'exec.LookPath(os.Args[0])' error"
1. What version of Delve are you using (`dlv version`)?

`master`
1. What version of Go are you using? (`go version`)?

`1.6/windows`
1. What operating system and processor architecture are you using?

`windows 10`
1. What did you do?

`dlv debug`
1. What did you expect to see?

`current exe path`
1. What did you see instead?

`error`
# Detailed instructions

**Demo code**

[code]

**Problem code*

[2016-04-19 08:50] aarzilli commented on #505
Sounds reasonable, You can make a Pull Request if you want, if you do include a regression test.

[2016-04-19 09:43] liumuqi opened #506 "when make return error"
past main
foo
hi 8
hi 7
hi 7
hi 6
--- FAIL: TestNextConcurrent (0.99s)
        proc_test.go:395: Program did not continue to correct next location expected 10 was panic.go:507
hi 7
hi 3
hi 1
hi 8
--- FAIL: TestNextConcurrentVariant2 (0.29s)
        proc_test.go:63: failed assertion at proc_test.go:435: EvalVariable - could not find symbol value for n
foo
Hello, World!
bye
hi
--- FAIL: TestCGONext

[2016-04-19 23:02] clnperez commented on #495
@aarzilli, thanks for the quick response. I didn't get a notification so sorry for the delay.

No, I don't see the listing with => on the current instruction. I don't see a listing at all.

My harddrive died and I set this up again on the new one, and it's working. I have a theory that because I built the binary in a container and the source locations weren't the same, that that was my issue. I'm

[2016-04-19 23:02] #495 closed

[2016-04-20 05:20] aarzilli commented on #495
@clnperez: that would do it. It can still set breakpoints because that's done by the backend and it just needs to read the executable file.

[2016-04-20 09:06] aarzilli commented on #383
Closed by c277b2715750a46153b2974f66eec84d438f669c

[2016-04-20 09:06] #383 closed

[2016-04-20 09:09] aarzilli commented on #379
@derekparker: this issue is inscrutable to me and @sub-mod has not provided a way to reproduce the problem. Should we adopt a policy of closing such issues after a delay?

[2016-04-20 14:48] aarzilli commented on #506
What version of go are you using? What version of Mac OS X?

[2016-04-20 15:11] sub-mod commented on #379
Sorry for delay.
I find this working for me now.

[2016-04-20 15:11] #379 closed

[2016-04-20 16:45] steeve opened #508 "[contrib] Homebrew formula"
Hey folks,

I just did a formula to install delve via homebrew:
[code]
or
[code]

The formula lives at https://github.com/steeve/homebrew-delve and I'd be happy to transfer if need be.

It generates and properly codesigns the binary using a cert named `dlv-cert`.

[2016-04-20 20:30] robpike opened #509 "command/debug: Unexpected error when 'main' package doesn't exist in current directory"
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.

1. What version of Delve are you using (`dlv version`)?
Delve Debugger
Version: 0.11.0-alpha
Build: f454207a340cc6b16b69f5924c647938b3c1a771
2. What version of Go are you using? (`go version`)?
go version devel +b57ac33 Wed Apr 20 15:31

[2016-04-20 21:09] aarzilli commented on #509
Just tested this with go1.6.1 and I think the problem is just that there is no main in go/src/fmt. `dlv test` should be used instead of `dlv debug` (the error message could use improvement, though).

[2016-04-20 21:36] steeve commented on #509
In case this is a code signing issue, I made a homebrew formula that solves it once and for all at https://github.com/derekparker/delve/issues/508

[2016-04-20 21:43] derekparker commented on #509
@aarzilli sounds right, we need to do a better job of detecting this and reporting the error.

@steeve although this isn't a codesign issue, I appreciate your work in packaging Delve for HomeBrew! Should hopefully make it easier for folks to get started with Delve on OSX. Also, for the next release we plan on including binaries along with the release, and hope to include a binary for OSX signed wi

[2016-04-20 23:28] derekparker commented on #506
@liumuqi there are a few tests on OSX which are flaky, which I have been working to fix. I'm going to close this issue as it does not provide much information. Feel free to open another issue regarding OSX test flaky-ness with more information, please.

[2016-04-20 23:28] #506 closed

[2016-04-20 23:37] derekparker opened #510 "area/cli: Frame command has inaccurate/incomplete docs and should have different UX"
The current help output contains the following for frame:

`frame ----------------------- Sets current stack frame (0 is the top of the stack)`.

It does not mention that the command in fact accepts 2 arguments, both of which are (currently) required. We need to update the help output, and additionally I think it's worth taking a look at how the `frame` command behaves.

For instance, currently it

[2016-04-20 23:37] derekparker commented on #510
cc: @aarzilli

[2016-04-21 03:26] ebenoist commented on #508
This works great! Thanks!

[2016-04-21 08:04] aarzilli commented on #508
I took a look at the formula, I don't use OS X anymore and never used homebrew, but if I understand it correctly you aren't just downloading and signing delve, you are also creating the certificate if it doesn't exist.

If that's correct I think this should at least be mentioned [in the documentation](https://github.com/derekparker/delve/blob/master/Documentation/installation/osx/install.md), a lo

[2016-04-21 08:10] steeve commented on #508
I'll add it to the `README` of `homebrew-delve`.
However, the formula clearly says it when it creates and installs it:
https://github.com/steeve/homebrew-delve/blob/master/Formula/delve.rb#L37
https://github.com/steeve/homebrew-delve/blob/master/Formula/delve.rb#L43

Also, it will sudo, so it needs one's password.

[2016-04-21 08:42] aarzilli commented on #508
I meant to say that it (i.e. installing with homebrew) should be mentioned in *our* (i.e. delve's) documentation, not yours. Thank you for doing this.

[2016-04-21 09:27] aarzilli commented on #510
This is the old discussion about this: https://github.com/derekparker/delve/pull/205.

[2016-04-22 03:04] alexbrainman commented on #494
`go get` works for me fine on Windows.

[code]

Alex

[2016-04-22 14:48] wader commented on #474
@3JIou I have the same issue. What was the mistake?

[2016-04-22 15:01] aarzilli commented on #474
@wader: [try using homebrew](https://github.com/derekparker/delve/issues/508)

[2016-04-22 23:50] derekparker commented on #494
Another update on this thread:

It's looking like I will not be cutting a new release this week. However, on the bright side, it's because I'm working on some major changes, including a pretty significant refactor, and I'm hopeful that the next release will essentially be either 1.0.0.rc1 or very close to that. The plan is for the next release to include the new API changes @aarzilli has been work

[2016-04-22 23:56] dlsniper commented on #494
If you'll need help with testing the changes, feel free to ping me. Thank you for your work!

[2016-04-24 17:18] #164 closed

[2016-04-24 17:26] #502 closed

[2016-04-24 23:20] #387 closed

[2016-04-25 00:36] dlsniper opened #513 "ListLocalVars potentially broken when using API v2"
1. What version of Delve are you using (`dlv version`)? c4e01da5cab0afbf895d7513b5fdc514c06e20f2
2. What version of Go are you using? (`go version`)? go1.6.2 linux/amd64
3. What operating system and processor architecture are you using? Kubuntu 16.04 amd64
4. What did you do? Running ListLocalVars from RPC server via API v2
5. What did you expect to see? String values when running the call
6. What

[2016-04-25 00:43] dlsniper commented on #513
This also seems to be the case only for strings, ints, structs and other types are working correctly.

[2016-04-25 00:45] dlsniper commented on #513
Scratch that. Structs are also affected by an issue, they are reported like this:

[code]

[2016-04-25 06:36] aarzilli commented on #513
Wireshark says your plugin is sending this request:

[code]

for comparison this is the request sent by our frontend (without -v):

[code]

Also you may want to know that both the requests for ListLocalVars and ListFunctionArgs are repeated twice every time.

[2016-04-25 07:17] shehantissera opened #514 "Failed to continue: "Cannot find Delve debugger. Ensure it is in your `GOPATH/bin` or `PATH`.""
I am new to VSCode. I want to debug Golang with **Delve**. I have been searching for days about this issue and there is no proper documentation where I could get this working.

I have installed the required components as displayed on the following link [here](https://github.com/derekparker/delve/blob/master/Documentation/installation/windows/install.md).

Finally on the instructions it says;
2) Ma

[2016-04-25 07:44] aarzilli commented on #514
You probably just need to run the command from `%GOPATH%/src/github.com/derekparker/delve/`

[2016-04-25 07:48] dlsniper commented on #513
Hi, thanks for feedback.
What is / where is / how can I run this frontend you've mentioned? It could be useful to compare the implementation parts.
I'll test out the same values that you suggested but I'm not sure if it will help (iirc I've done something similar).
As for sending the requests twice, that's the IDE itself doing it but it should still not affect how we get the values back.
I'll repl

[2016-04-25 07:51] aarzilli commented on #513
`dlv` in normal mode (not headless) is the frontend in question. It still runs the server and uses api v2.
If you notice the Cfg field is completely missing from the requests your plugin is sending.

[2016-04-25 07:54] dlsniper commented on #513
That's correct, the copy I've provided doesn't sebd those. Before opening the issue I did tried with those values as well but maybe I did something wrong. I'll check it again, make sure I send the same request and see what happens.
Thanks.

[2016-04-25 08:09] alexbrainman commented on #514
If you run
[code]
it will build dlv.exe and copy it into your %GOPATH%\bin directory.

Once that works, you would have to add %GOPATH%\bin directory to you PATH so VSCode (and other programs) can find dlv.exe. Alternatively you could copy dlv.exe from %GOPATH%\bin into another directory that is already in your PATH.

Alex

[2016-04-25 08:58] shehantissera commented on #514
Thanks **alexbrainman!** that worked!! This part is not available in any of the links I checked.

[2016-04-25 09:19] dlsniper commented on #513
I've had a quick look at this in the train and the situation improves a bit
sending those. I get back the values for the struct (even if they are
broken, they display the type of fields not the value of fields for
structs).
Unfortunately for strings this stays the same.
I've uploaded the new build of the plugin the same place (and pushed the
code for it).
Thanks.

On Mon, Apr 25, 2016 at 8:52 AM A

[2016-04-25 11:19] aarzilli commented on #513
This is what Wireshark shows me now:

[code]

The Cfg parameter is inside the Scope parameter when it should be a sibling:

[code]

[2016-04-25 11:40] 3JIou commented on #474
I did as shown in the [this video](http://www.youtube.com/watch?v=4ndjybtBg74)

[2016-04-25 11:51] dlsniper commented on #513
Oh my... I'm stupid.
Indeed that's working. Ok, false alarm then. Thank you for helping out.
As for the values of the struct, I guess we need to do a better job on client side to represent those as this is something that happens in v1 as well.
Thank you once again for being so responsive.
Have an excellent week.

[2016-04-25 11:51] #513 closed

[2016-04-25 14:37] wader commented on #474
@3JIou I think i follow the same guide on the delve homepage but must have done something wrong 😞
@aarzilli Tried it but get same error... i guess something is left since i followed the guide how to do it manually

[2016-04-25 14:38] aarzilli commented on #474
Try with homebrew: #508

[2016-04-25 17:35] #514 closed

[2016-04-26 01:22] dlsniper commented on #455
I think this can be closed (the commit missed the `fix` from name to close it automatically)

[2016-04-26 05:20] aarzilli commented on #455
I'd keep this open, ideally we should be able to do the conversion from expression to "type name as serialized by cmd/compile" ourselves.

[2016-04-26 20:32] ctaggart opened #515 "Ubuntu, could not launch process: fork/exec ./debug: operation not permitted"
I'm on Ubuntu 14.04 and I am not sure what I'm doing wrong to get this error when I run `dlv debug`:
[code]

I'm simply following the instructions at:
https://github.com/derekparker/delve/wiki/Building#linux

[code]

[2016-04-26 20:44] derekparker commented on #515
The updated install instructions for Linux now live [here](https://github.com/derekparker/delve/tree/master/Documentation). Can you verify that after following those directions you still experience this issue? Try using the `make install` command from within the repo.

I'm running Ubuntu 16.04 and Go 1.6.2 and cannot reproduce with the `gorename` cmd.

[2016-04-26 20:57] corvino commented on #464
Saw some work happen on this recently and just wanted to offer encouragement. Would be great to see this issue resolved. Thanks!

[2016-04-26 21:01] derekparker commented on #464
Currently working on this issue as we speak. I have some OSX fixes and
general refactoring / code cleanup patches I'll be submitting soon.
On Tue, Apr 26, 2016 at 1:58 PM Nathan Corvino <notifications@github.com>
wrote:

--
- Derek

[2016-04-26 21:04] ctaggart commented on #515
Same result with https://github.com/derekparker/delve/blob/master/Documentation/installation/linux/install.md.

[code]

[2016-04-26 21:07] derekparker commented on #515
I assume from your example output that you are within the `~/go/src/golang.org/x/tools/cmd/gorename` directory, which should contain `main.go` representing the `main` package, correct?

Can you run `file $(which dlv)` and paste the output, please?

[2016-04-26 21:08] ctaggart commented on #515
[code]

[2016-04-26 21:10] derekparker commented on #515
@ctaggart and if you run `go build -ldflags="-N -l"` within that dir, are you able to run the resulting binary?

[2016-04-26 21:13] ctaggart commented on #515
[code]

[2016-04-26 21:13] derekparker commented on #515
@ctaggart updated the above comment, I meant `-gcflags` not `-ldflags`, please try again with `-gcflags`, sorry.

[2016-04-26 21:16] ctaggart commented on #515
Yes.
[code]

[2016-04-26 21:51] ctaggart commented on #515
I tagged what I currently have as 0.0.2. You can reproduce and troubleshoot directly on the docker image. Here are the steps:

[code]

[code]

The relevant build files are:

[2016-04-26 22:40] moolo opened #516 "disasm.go:9: undefined: ArchInst"
disasm.go:9: undefined: ArchInst

why??

[2016-04-26 22:42] derekparker commented on #516
Please provide more details including your operating system and CPU architecture. Please use the provided template when creating issues next time.

[2016-04-26 22:50] derekparker commented on #515
Alright, so you're running within a Docker container. Docker has security settings preventing `ptrace(2)` operations by default with in the container. Pass ` --security-opt=seccomp:unconfined` to `docker run` when starting.

[2016-04-26 22:50] #515 closed

[2016-04-26 23:30] derekparker commented on #516
Going to close this issue as it does not provide enough information. Please feel free to open a new issue providing all information outlined in the (template)[https://github.com/derekparker/delve/blob/master/ISSUE_TEMPLATE.md].

[2016-04-26 23:30] #516 closed

[2016-04-27 01:49] derekparker commented on #508
Thanks for this, I appreciate you automating the signing process, that is huge for new users!

I'm interested in incorporating this in our documentation, and possibly moving the formula into this repo or (finally) creating an org for delve and having our own tap which includes this formula.

Do users have to tap anything currently in order to use your formula?

[2016-04-27 03:08] ctaggart commented on #515
Thank you!
[code]

[2016-04-27 06:34] steeve commented on #508
Thanks for the kind words

They can add the tap, but it is done with brew install

Nothing else to do than brew install really (as in doc)

I'd be happy to move the repo into the organization.

However, the formula cannot live in this repo, as the repo has to be
prefixed by "homebrew-". Org is fine though.
On mer. 27 avr. 2016 at 03:50, Derek Parker <notifications@github.com>
wrote:

[2016-04-27 15:08] dr2chase opened #517 "OS X El Capitan install instructions ambiguity"
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.
1. What version of Delve are you using (`dlv version`)?
   Version: 0.11.0-alpha
   Build: c4e01da5cab0afbf895d7513b5fdc514c06e20f2
2. What version of Go are you using? (`go version`)?
   go version devel +4d27f8e Tue Apr 26 11:59:01 201

[2016-04-27 15:21] aarzilli commented on #426
Unsafe pointers do not have type information so we can not print nothing more than their address. If the user happens to know what the unsafe.Pointer happens to point to a type cast can be used

[code]

if we are unable to resolve the type expression into a type name double quotes can be used:

[code]

introduced in a7a0cc75e128c696af0d90a811cd7235339074db.

[2016-04-27 15:21] #426 closed

[2016-04-27 15:23] aarzilli commented on #517
Do you have homebrew? If you do: https://github.com/derekparker/delve/issues/508

[2016-04-27 16:22] dlsniper commented on #426
I wonder if we (the delve "consumers") can automate that given we should know information about the type of pointers. What would be the API call in this case? `Eval`?

[2016-04-27 17:17] aarzilli commented on #426
Yes, `Eval`. But in general you don't know the type either, unsafe.Pointer could contain an entirely arbitrary value.

[2016-04-27 17:37] dlsniper commented on #426
Fair enough, I haven't read how that lib works until now. Thanks!

[2016-04-28 10:26] fsomers opened #519 "Tests hanging / failing on OSX Yosemite"
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.
1. What version of Delve are you using (`dlv version`)?
   Version: 0.11.0-alpha
   Build: c4e01da5cab0afbf895d7513b5fdc514c06e20f2
2. What version of Go are you using? (`go version`)?
   go version go1.6.2 darwin/amd64
   (via homebrew)

[2016-04-28 19:18] derekparker commented on #519
Thanks for reporting this. I'm working on some patches / refactoring right now that should clean up the test flakyness on OSX. I hope to resolve this issue shortly.

[2016-04-28 23:34] derekparker commented on #508
@steeve I'm going to create an org next week (somebody has the username delve on github so I'm talking with him now about letting us grab that for an org name), and then it would be great to transfer the formula to the org.

[2016-04-29 02:14] ctaggart commented on #295
@yuntan What do we need to do to move this forward? It would be super helpful to have when using Visual Studio Code with Go. Can you create a pull request and mark it as work in progress. I can test it in Mac on my iMac.

[2016-04-29 14:28] nkbai opened #522 "panic: runtime error: slice bounds out of range on win7 64bit os with dlv 0.11.0-alpha"
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.
1. What version of Delve are you using (`dlv version`)?
   Version: 0.11.0-alpha
   Build: 63a660820e7beef3b4870922e25897887392b188
2. What version of Go are you using? (`go version`)?
   1.5.1
3. What operating system and processor arch

[2016-04-29 14:50] aarzilli commented on #522
Probably a duplicate of #443. However this is more detailed.

[2016-04-29 16:43] steeve commented on #508
Sounds like a plan, ready when you are

[2016-04-30 22:42] zolotov opened #523 "service/rpc: RPC server should serve requests consequently"
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.

1. What version of Delve are you using (`dlv version`)? 82ece54

2. What version of Go are you using? (`go version`)? 1.6.2

3. What operating system and processor architecture are you using? osx/windows

4. What did you do? use rpc pro

[2016-05-01 00:14] alexbrainman commented on #522
@nkbai I followed your instructions,

[code]

but I see no crash. What do you do different so it crashes?

Can you make delve crash by passing precompiled binary hello.exe to it? If you can, please, post copy of hello.exe somewhere - maybe I would be able to make delve crash this way.

Thank you.

Alex

[2016-05-05 21:15] joefitzgerald commented on #494
Anything we can do to unblock things @derekparker?

[2016-05-05 23:46] derekparker commented on #494
@joefitzgerald nothing in particular, unfortunately. The next release is blocked on an ambitious refactor I'm playing on top of some OSX fixes, and it's just a matter of me getting it over the finish line. I'm nearly there, and the next release should be out within the next few days.

[2016-05-06 12:14] joegrasse commented on #494
@derekparker, just curious if this coming release will include 32bit support?

[2016-05-06 17:41] derekparker commented on #494
@joegrasse no, next release will not, but we should be set up to get that feature added within the next 2 releases. The next release will focus on all patches already merged, plus OSX stability fixes and code cleanup.

[2016-05-09 18:57] derekparker commented on #508
@steeve I've created the `go-delve` org which I plan on moving the Delve repo over to this week. Can you transfer the homebrew formula over to that org? Then we need to make sure the docs are up to date and start pushing for folks to use the formula in all our official documentation.

[2016-05-09 19:48] derekparker commented on #494
Update: making great progress on refactor. Spoke with @aarzilli and we are planning on cutting a new release this week, so stay tuned.

[2016-05-10 14:55] steeve commented on #508
Sure thing

[2016-05-10 14:56] steeve commented on #508
@derekparker you will need to add me to the org so that I can transfer it

[2016-05-10 17:14] derekparker commented on #508
@steeve invitation sent.

[2016-05-10 21:26] steeve commented on #508
There we go: https://github.com/go-delve/homebrew-delve

[2016-05-11 22:04] derekparker commented on #508
@steeve awesome! Would you mind updating https://github.com/derekparker/delve/blob/master/Documentation/installation/osx/install.md with brew install instructions?

[2016-05-13 19:57] sean-jc opened #528 "Cannot set breakpoints using package/receiver name of remote packages"
When setting a breakpoint using a function name, specifying the package and/or receiver name causes the command to fail if the function is part of a remote package.  This is not a bug in Delve itself, but rather upstream in Go's `debug/gosym` package.  The functions `Sym.PackageName` and `Sym.ReceiverName` in `debug/gosym` do not account for dots in the URL of remote package and completely mangle

[2016-05-14 17:27] russmack commented on #517
It would be good to get that little bit of clarity on that little ambiguity, 'cos at the moment:
Can't brew info.
brew install fails at ==> make build BUILD_SHA=v0.11.0 with a number of missing packages.
brew install adds another, older, Go to my system, which I'd rather not.

[2016-05-16 11:52] ggndnn opened #531 "proc: Could not read process comm name when launching debugger"
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.

1. What version of Delve are you using (`dlv version`)? b9b3e4ac03c1033fe6a8866813670fe58e96e0fd
2. What version of Go are you using? (`go version`)? 1.6.2
3. What operating system and processor architecture are you using?  linux (2.6.3

[2016-05-16 14:57] JonathanRosado opened #533 "Cannot run delve against CLI app"
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.

1. What version of Delve are you using (`dlv version`)?
[code]
2. What version of Go are you using? (`go version`)?
[code]
3. What operating system and processor architecture are you using?
Ubuntu 14.04
4. What did you do?
`dlv exec ./e

[2016-05-16 15:25] cbisnett commented on #533
It looks like the issue here is that Delve is trying to interpret the arguments you intended for the debugged application. You need to separate the arguments to the application from arguments to Delve itself. Try adding `--` after any arguments to Delve but before the arguments to the debugged application. So  your command line would become `dlv exec ./executable -- --some-flag value`

[2016-05-16 15:57] JonathanRosado commented on #533
@cbisnett Thanks!

[2016-05-16 15:57] #533 closed

[2016-05-16 16:30] gotschmarcel opened #534 "Printing variable doesn't show correct value"
---

1. dlv Version: 0.11.0-alpha
2. go 1.6.2 darwin/amd64
3. OSX El Capitan, i7
4. `dlv test <pkg>` stepped into some functions and `p variable`
5. Variable is of type string and has the value `"/"`
6. dlv printed an empty string instead

---

The variable is also assigned to another variable which, when printed, shows the correct value.

[2016-05-16 16:36] gotschmarcel commented on #534
After some more testing it seems that it displays an old value. After running through the function in a loop it always prints the last value for this variable. All other variables seem to work.

[2016-05-16 17:03] aarzilli commented on #534
Without seeing the body of the function it's hard to say what could be going wrong, could be delve but it could also be the compiler. If the variable is aliased you could run into this problem. Try `locals` to see if the variable is listed multiple times.

[2016-05-16 17:07] gotschmarcel commented on #534
If i run locals it prints the name twice. The body is something like this:

[code]

`a` is defined at the top of the function and in the for loop. But shouldn't the variable inside of the for loop only be visible when I'm inside of the loop?

[2016-05-16 17:55] aarzilli commented on #534
Yes, but the compiler omits to save this detail in the executable.

If you use locals you should see one of the variables keep the initial value (set outside the for loop) and the other be updated with the value set in the loop. If you can verify that that's the case this is a duplicate of #106.

[2016-05-16 18:05] gotschmarcel commented on #534
That B**** :P. Thanks for the explanation!

[2016-05-16 18:15] aarzilli commented on #534
Duplicate of #106.

[2016-05-16 18:15] #534 closed

[2016-05-17 15:07] aodota opened #535 "disasm.go:9: undefined: ArchInst"
i install delve on my windows, i get this

1. go version: go version go1.5.2 windows/386
2. my system is: win10 64bit 1511
3. when i run `go get github.com/derekparker/delve/cmd/dlv` i got this error

please help me

[2016-05-17 20:21] aarzilli commented on #535
We do not support 32bit systems, if you have 64bit windows you should also get the 64bit version of go.

[2016-05-17 20:21] #535 closed

[2016-05-18 10:03] aarzilli commented on #523
I've been looking into this and I don't think we can do it without rewriting `net/rpc`, it can be used in one of two ways:

1. either it executes each command in its own goroutine (which means there's nothing we can do to ensure that the order we execute requests is the same as the order we received them)
2. or it waits until each command is complete before reading a new one (which means a next or

[2016-05-18 10:30] aarzilli commented on #523
For example, if you added this to the code:

[code]

to DlvDebugProcess, then added `outstandingBreakpoints.Add(1)` to DlvDebugProcess.MyBreakpointHandler.registerBreakpoint before send, and a `outstandingBreakpoinst.done()` to done and rejected in the same method. Finally add a `outstandingBreakpoints.await()` to DlvDebugProcess.command. Why wouldn't that be ok?

[2016-05-18 13:45] aodota commented on #535
thank you very much~

[2016-05-18 16:43] gertcuykens commented on #134
[code]

Only `sudo dlv debug` works for me without `sudo` I get
`could not launch process: could not fork/exec`

Also it's not clear how you can test the certificate.

[code]
Assuming if this works without sudo, all certificate steps are done correctly and it's not the certificate or the permissions of the certificate?
[code]

[2016-05-19 06:02] aarzilli commented on #134
@gertcuykens: try installing with homebrew (either the permissions on the certificate are wrong or taskgated wasn't restarted): https://github.com/go-delve/homebrew-delve

[2016-05-19 10:48] gertcuykens commented on #134
I will try that and it probably will work but aside from that in my above question, what is the reason I can use the same certificate in the same state as dlv was signed in and make a hello world app run without sudo? There must be yet another permission setting not mentioned in this thread. For me it's important that we understand all aspects of this. Not just homebrew magic :) So basicly I want

[2016-05-19 10:52] zolotov commented on #523
@aarzilli I got your point. Ok, we'll make synchronization on our side. Thank you for looking into this

[2016-05-19 11:00] ignatov commented on #523
@aarzilli @derekparker Does that mean that other RCP clients should implement their own synchronization?

[2016-05-19 13:10] aarzilli commented on #134
There is no other setting, you either missed one step or did not restart taskgated. Your helloworld example does not test the certificate because it doesn't do anything that requires a certificate.

[2016-05-19 13:16] aarzilli commented on #523
@ignatov it means that if a client is sending two requests A and B and B arrives before we responded to A then B may be executed before A. If the client wants B to be executed before A the client should wait for the response to A to be received, whether or not this implies some sort of synchronization in the client depends on how the client is implemented.

[2016-05-19 13:26] gertcuykens commented on #134
Ok make sense thank you, can you maybe add a few lines to the hello world example that would use the certificate and generate the same error? I really want to understand what is going on, and from there figure out if we could make better error messages. Just need the basics then I will direct my questions to stackoverflow to dissect more into this.

[2016-05-19 13:52] devtoro opened #538 "fork/exec permission denied"
Hello all,

I have installed GO 1.6 on an ubuntu gnome 15 machine, along with the latest version of delve. I am trying to to run **godebug run < go file >** and I get the following result:

`fork/exec /home/manolis/crypteia/gospace/src/tmp/godebug870803687/godebug.a.out: permission denied`

Any suggestions why this might happen? ( As you can see I changed the TEMPDIR, hoping that this issues will

[2016-05-19 13:55] aarzilli commented on #134
Take a look at `proc.Launch` in proc/proc_darwin.go and also `fork_exec` in proc/exec_darwin.c, that's where the message comes from. You should also check out the branch at #525 since some of this code is about to change.

You could also look at [this](http://opensource.apple.com//source/xnu/xnu-2422.1.72/tools/tests/unit_tests/ptrace_tests_10767133_src/ptrace_tests_10767133.c)

[2016-05-19 18:09] #528 closed

[2016-05-19 20:35] aarzilli commented on #538
godebug isn't delve, though...

[2016-05-19 21:07] dlsniper commented on #523
Could we have something in delve which basically forces waiting (or delaying for lack of a better term) on executing commands out of order until they are correctly received? Something like: if Delve receives B but not A, then it waits on processing B until the "current execution" can be set to "B". A further version of this could say if "A" arrives in a timely fashion (say ~1-2 seconds?) then proc

[2016-05-19 21:09] derekparker commented on #538
Closing this issue as not related to Delve. Feel free to try Delve out though and see if you have better luck!

[2016-05-19 21:09] #538 closed

[2016-05-19 22:16] gertcuykens commented on #134
`brew install go-delve/delve/delve --HEAD`

Worked, but I notice that the new key has different permission than documented

generated brew key
![image](https://cloud.githubusercontent.com/assets/863731/15411221/d16d813e-1e1e-11e6-9be1-f34817b4a92f.png)

my key
![image](https://cloud.githubusercontent.com/assets/863731/15411237/de9f9720-1e1e-11e6-917b-38e3397b587d.png)

Everything else is the same,

[2016-05-20 05:32] aarzilli commented on #523
@dlsniper: not that I can see.

[2016-05-20 05:38] aarzilli commented on #134
@gertcuykens: if you `make test` using your key does it work now?

[2016-05-20 11:25] gertcuykens commented on #134
Both certificates seem to be working now, indicating the restart taskgated was not successful the first time but still I am convinced it was restarted the first time for sure. So the question now would be can you make the brew certificate only Trust Code Signing?

[code]

[2016-05-20 11:45] zefciu opened #540 "Cannot run delve"
I am running delve Version: 0.11.0-alpha and go go1.6.1 linux/amd64 on ubuntu. I am trying to debug kubectl in kubernetes. I have GOPATH set to /home/spyzalski/Projekty. k8s in downloaded to /home/spyzalski/Projekty/src/k8s.io/kubernetes When I try to run:
`dlv debug`
in /home/spyzalski/Projekty/src/k8s.io/kubernetes/pkg/kubectl i get:
`could not launch process: fork/exec ./debug: permission denie

[2016-05-20 11:52] aarzilli commented on #540
Looking at kubernetes in github it doesn't look like that path contains a main package, you need to find the place where main is.

[2016-05-20 11:57] zefciu commented on #540
Yep. The main function is in cmd/kubectl, not in pkg/kubectl. Thank you

[2016-05-20 12:01] devtoro opened #541 "Permission denied error on debug"
##Hello,

I am running on Ubuntu Gnome 15, GO 1.6 and I have installed delve as suggested on the installation page. I try to debug using the command "dlv debug <script_file_name> and I get a permission denied error.

`dlv debug ruleset.go`
`could not launch process: fork/exec ./debug: permission denied`

I believe I did not miss anything during installation. Any suggestions?

[2016-05-20 12:17] #540 closed

[2016-05-20 14:06] aarzilli commented on #541
The argument of debug is a package, not a file.

[2016-05-20 17:33] cbisnett commented on #541
@devtoro Are you running this inside a docker container? If so check out this issue for the answer: https://github.com/derekparker/delve/issues/515.

[2016-05-20 17:55] derekparker commented on #541
@devtoro I've added some more language to the help output to clarify the usage of the commands: https://github.com/derekparker/delve/pull/543.

[2016-05-20 18:12] derekparker commented on #508
@steeve I have a PR up now to update OSX install docs: https://github.com/derekparker/delve/pull/544

[2016-05-21 02:56] qiaozhjo commented on #522
@nkbai   i face the same problem with you,and resolve it by set goenv GOARCH=amd64, check your go env and try this method.

[2016-05-21 15:57] devtoro commented on #541
No I am not running inside docker. Just ubuntu gnome installation on my laptop. I tried using the package as an arguement, still the same output.

Even if I run just `dlv debug`, with no arguments ( then I suppose the main  package of the directory I am in should start being debugged ), I still get the same error

`dlv debug`
`could not launch process: fork/exec ./debug: permission denied`

I don'

[2016-05-21 17:43] aarzilli commented on #541
@devtoro are you sure there is a main package in your current directory? If you run `go build` in that directory do you get an executable?

[2016-05-22 11:04] Haidashenko opened #545 "gb build tool compability"
Is it possible to get delve working with gb projects?

[2016-05-22 11:06] #545 closed

[2016-05-22 22:44] steeve commented on #508
LGTM ! Sorry about the lag, we launched our app last week :)

[2016-05-22 22:45] #508 closed

[2016-05-24 17:28] andrewrgoss opened #546 "Dlv commands failing: error derefing *G Only part of a ReadProcessMemory or WriteProcessMemory request was completed."
I am experiencing errors when using the Delve debugger for Go on my Windows machine. To install, I used the standard `go get` method: `go get github.com/derekparker/delve/cmd/dlv`
per the documentation for Windows: https://github.com/derekparker/delve/blob/master/Documentation/installation/windows/install.md
- I am using the following version of Delve:

[code]
- I am using this Go version: `go ver

[2016-05-25 18:19] benechols-wf opened #548 "Feature Request: convert rune slice to string in print evaluate"
Please answer the following before submitting your issue:
1. What version of Delve are you using (`dlv version`)?
   0.11.0-alpha
2. What version of Go are you using? (`go version`)?
   1.6
3. What operating system and processor architecture are you using?
   ubuntu 16.04 / x86_64
4. What did you do?

I have a rune slice in my code like so   myrunes := []rune("hello world")

Typed 'string(myrunes)

[2016-05-26 06:11] NanXiao opened #550 "The arrow points to the same line of code twice."
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.
1. What version of Delve are you using (`dlv version`)?
   0.11.0-alpha.
2. What version of Go are you using? (`go version`)?
   go1.6.2.
3. What operating system and processor architecture are you using?
   linux/amd64.
4. Issue:
   I d

[2016-05-26 06:45] NanXiao opened #551 "Can't print variable values in function."
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.

1. What version of Delve are you using (`dlv version`)?
0.11.0-alpha.

2. What version of Go are you using? (`go version`)?
go1.6.2.

3. What operating system and processor architecture are you using?
linux/amd64.

4. Issue:
I debug the

[2016-05-26 07:34] aarzilli commented on #551
I think the problem is that go links your program to a precompiled version of the standard library which is always optimized.

[2016-05-26 07:46] NanXiao commented on #551
@aarzilli So except rebuild `Go` stand libraries, is there any method to resolve it? Thanks!

[2016-05-26 09:34] aarzilli commented on #551
My guess is there isn't one. Also I wouldn't know how to rebuild go standard library with one specific compiler flag.

[2016-05-26 09:48] NanXiao commented on #551
@aarzilli Got it! Thanks very much for your comments and analysis!

[2016-05-26 09:48] #551 closed

[2016-05-26 17:23] zenyue opened #552 "fatal error: 'sys/types.h' file not found by os x brew install"
1. What version of Delve are you using (`dlv version`)?
0.11.0-alpha.

2. What version of Go are you using? (`go version`)?
go version go1.6.2 darwin/amd64

3. What operating system and processor architecture are you using?
OS X EI Capitan 10.11.5
Darwin Kernel Version 15.5.0: Tue Apr 19 18:36:36 PDT 2016; root:xnu-3248.50.21~8/RELEASE_X86_64 x86_64

4. What did you do?
brew install go-delve/delve

[2016-05-27 03:02] NanXiao opened #553 "The output of "goroutines" command is different with "runtime.NumGoroutine()"."
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.

1. What version of Delve are you using (`dlv version`)?
0.11.0-alpha.

2. What version of Go are you using? (`go version`)?
go1.6.2.

3. What operating system and processor architecture are you using?
linux/amd64.

4. Issue:
The program

[2016-05-28 02:55] NanXiao commented on #553
@aarzilli I see you tagged this issue as an enhancement. Isn't it a bug? How to understand it? Thanks!

[2016-05-28 04:37] aarzilli commented on #553
We are currently reporting the contents of runtime.allg, NumGoroutine probably filters it somehow, I need to look into it.

[2016-05-29 09:14] aarzilli commented on #553
I've looked into this.

Runtime hides from the user all goroutines matching this boolean expression:

[code]

This function is found at $GOROOT/src/runtime/traceback.go:735 for 1.6.2. If we look at the three mystery goroutines we see this:

[code]

Which means that the three mystery goroutines are forcegchelper, bgsweep and runfinq. Hiding them in delve is easy enough (we can also check StartPC) b

[2016-05-29 11:42] NanXiao commented on #553
@aarzilli Got it! Thanks very much for your detailed explanation and time!

[2016-05-29 16:26] eidmanna opened #554 "Process finished with exit code 2"
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.

1. What version of Delve are you using (`dlv version`)?
2. What version of Go are you using? (`go version`)?
3. What operating system and processor architecture are you using?
4. What did you do?
5. What did you expect to see?
6. What d

[2016-05-29 17:50] aarzilli commented on #554
Not a duplicate, can you see if #555 solves the problem.

[2016-05-29 18:00] libbkmz opened #556 "Windows dlv is not working"
I have hello world source code example, and I try to debug it, to be able to debug more complex applications.

main.go:

[code]

[code]
1. What version of Delve are you using (`dlv version`)?
   Delve Debugger
   Version: 0.11.0-alpha
   Build:
2. What version of Go are you using? (`go version`)?
   go version go1.6.2 windows/amd64
3. What operating system and processor architecture are you using?

[2016-05-29 19:02] derekparker commented on #556
@libbkmz So you are unable to continue at all? Can you try just issuing the `continue` command as soon as the debugger starts up?

[2016-05-29 19:04] libbkmz commented on #556
@derekparker did you see, I've already tried "continue", but with "c" shortcut:
[code]

[2016-05-29 19:11] #554 closed

[2016-05-29 19:28] eidmanna commented on #554
Thank you for the bugfix and for the debugger. Delve in combination with IntelliJ IDEA is awesome !!!

For some reasons IntelliJ IDEA / go plugin doesn't work with the master branch of delve?

The debugger (in IntelliJ IDEA) doesn't stop at the breakpoint ... so I can not check the bugfix

[2016-05-29 19:31] derekparker commented on #523
@aarzilli maybe we have an internal command loop, taking commands via a channel. Any command that would modify the state of the process is put into a channel and handled sequentially. Halt would be an exception, because it essentially just sends out a signal and sets an internal flag to stop a blocking wait call.

[2016-05-29 19:34] derekparker commented on #553
Closing as not a bug.

[2016-05-29 19:34] #553 closed

[2016-05-29 20:09] aarzilli commented on #523
If we ditch net/rpc we can call directly ReadRequest in jsonrpc and write our own dispatch loop that preserves ordering.

[2016-05-29 21:22] lukehoban commented on #556
I just tested this on the latest Delve master sources, with otherwise similar configuration, and I don't see the same results you see.

Could there be anything else unusual in your environment?

[code]

[2016-05-29 21:37] lukehoban commented on #546
I don't see any actual bugs here.  The trace of `dlv` running just shows the expected error because Delve starts paused before executing any code, so you can't use `next` yet.  I think there was an issue tracking whether that's the ideal behaviour and/or error message (it seems to confuse a lot of users).

You mention debugging problems in Atom/VSCode as well, but not clear those are related.

[co

[2016-05-29 21:49] lukehoban commented on #443
Looks like this is on 32-bit Go.  Pretty sure Delve doesn't support 32-bit Go installations on any platform.

[2016-05-29 21:51] lukehoban commented on #522
Per @qiaozhjo and similar to the report in #443 (https://github.com/derekparker/delve/issues/443#issuecomment-222384847), this is most likely a case of using a 32-bit Go installation on Windows, which is not supported.

[2016-05-30 02:28] redhatlinux10 opened #559 "failed to compile delve when go get -u -v github.com/derekparker/delve/cmd/dlv"
1. What version of Delve are you using (`dlv version`)?

2. What version of Go are you using? (`go version`)?

3. What operating system and processor architecture are you using?

4. What did you do?

github.com\derekparker\delve (download)
github.com/derekparker/delve/proc
\# github.com/derekparker/delve/proc
d:\GOPATH\EXT\src\github.com\derekparker\delve\proc\disasm.go:9: undefined: ArchInst

5.

[2016-05-30 03:47] aarzilli commented on #443
Ah, didn't catch that. Closing as duplicate of #20. Thanks, @lukehoban.

[2016-05-30 03:47] #443 closed

[2016-05-30 03:49] aarzilli commented on #546
It seems that on `continue` he's getting the:

[code]

like #556.

[2016-05-30 04:00] aarzilli commented on #559
Delve doesn't not have support for 32bit systems at the moment.

Duplicate of #20.

[2016-05-30 04:00] #559 closed

[2016-05-30 07:04] libbkmz commented on #556
I'm not sure, but I think only environment variables could be different:
[code]

[2016-05-30 14:04] alexbrainman commented on #443
Shouldn't Delve recognize this situation and stop debugging with a nice error message, instead of confusing us all?

Alex

[2016-05-31 17:54] andrewrgoss commented on #546
@aarzilli @lukehoban that is precisely it, exactly like [#556](https://github.com/derekparker/delve/issues/556). again, this is a very vague error so I have no idea how to troubleshoot it:

[code]

[2016-05-31 18:16] derekparker commented on #552
@zenyue  Can you try running `xcode-select --install` and see if this resolves your issue?

[2016-06-01 13:58] zenyue commented on #552
Thank you! the problem is solved.
Run `xcode-select --install` will update the command line tools for xcode.
After updated run `brew install go-delve/delve/delve` succeed.

[2016-06-01 13:58] #552 closed

[2016-06-02 10:14] NanXiao opened #560 "How to set breakpoint for function whose name may be ambiguous?"
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.
1. What version of Delve are you using (`dlv version`)?
   0.11.0-alpha
2. What version of Go are you using? (`go version`)?
   1.6.2
3. What operating system and processor architecture are you using?
   linux/amd64
4. Issue: Can't set b

[2016-06-02 10:21] NanXiao opened #561 "proc.(*Process).Step doesn't make progress when on a CALL instruction where a breakpoint is also set"
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.

1. What version of Delve are you using (`dlv version`)?
0.11.0-alpha

2. What version of Go are you using? (`go version`)?
1.6.2

3. What operating system and processor architecture are you using?
linux/amd64

4. Issue: When debug `swar

[2016-06-02 10:27] NanXiao opened #562 "How to pass arguments to debugged program?"
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.

1. What version of Delve are you using (`dlv version`)?
0.11.0-alpha

2. What version of Go are you using? (`go version`)?
1.6.2

3. What operating system and processor architecture are you using?
linux/amd64

4. Issue: How to pass argu

[2016-06-02 10:48] aarzilli commented on #560
This is caused by a bug in go standard library: #528

[2016-06-02 10:51] aarzilli commented on #562
Put them after a double dash

[code]

[2016-06-02 10:51] #562 closed

[2016-06-02 14:37] joefitzgerald commented on #494
@derekparker is there some way to just cut a release (manually) based on the most recently released version (January) that has signed OS X binaries? I totally understand the desire to cut one based on the latest bits, but it feels like a moving target that may still be weeks or months away?

[2016-06-03 09:45] keshavab commented on #126
This still does not work if the compiled binary has args of the form --<arg>
e.g
dlv exec ./hello server --config conf/config.toml
Usage:
  dlv exec [./path/to/binary] [flags]

Global Flags:
      --build-flags="": Build flags, to be passed to the compiler.
      --headless[=false]: Run debug server only, in headless mode.
      --init="": Init file, executed by the terminal client.
  -l, --listen

[2016-06-03 16:03] derekparker commented on #126
@keshavab arguments are different than flags. For flags, please ensure you use this form:

[code]

[2016-06-03 20:43] alvarolm commented on #358
first thanks @derekparker @aarzilli and everyone who has contributed to delve, out of curiosity, its there a date or timeline to merge @aarzilli s work ?

[2016-06-06 03:55] keshavab commented on #126
Thanks @derekparker. That helped.
It's not documented or may be i did not find it. I can send a PR if its not there.

[2016-06-06 04:00] keshavab opened #567 "Debugger crashes when printing vars"
Please answer the following before submitting your issue:

$ go version go1.6 darwin/amd64
$ Delve Debugger
Version: 0.11.0-alpha
Build: v0.11.0
$ Darwin KEHP-M-X03J 14.5.0 Darwin Kernel Version 14.5.0: Thu Apr 21 20:40:54 PDT 2016; root:xnu-2782.50.3~1/RELEASE_X86_64 x86_64
4. What did you do?
vars
5. What did you expect to see?
all variables around current breakpoint.
6. What did you see instead

[2016-06-06 05:15] aarzilli commented on #567
This looks like a duplicate of #554, it should be fixed on master already.

[2016-06-06 05:16] #567 closed

[2016-06-06 16:34] genez commented on #464
Hello, any progress on this issue?
I am experiencing the same problem with my IntelliJ IDE on my Mac (go development)
Even a workaround should be enough until it's fixed

Let me know if I can help with testing

Thanks for your work

[2016-06-06 18:14] aarzilli commented on #546
@andrewrgoss if you run a `go build` in the same directory the executable you get is 32bit or 64bit?

[2016-06-06 18:59] andrewrgoss commented on #546
The executable file is 64bit, as is my machine:

[code]

[2016-06-07 18:09] derekparker commented on #494
@joefitzgerald sorry for the late response, I have been swamped lately. With the homebrew installation method we have now, which will self-sign the binary upon installation, is there still a lot of benefit for shipping signed binaries? For example, would it still be too much to ask to have a user run `brew install go-delve/delve/delve`?

Just putting that out there, not ruling out shipping signed

[2016-06-07 20:09] RoarkeRandall opened #568 "fatal error: concurrent map writes"
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.

1. What version of Delve are you using (`dlv version`)? 0.11.0-alpha
2. What version of Go are you using? (`go version`)? 1.6.2 darwin/amd64
3. What operating system and processor architecture are you using? Mac OSX 11.11.4
4. What did

[2016-06-09 07:48] heretic13 opened #569 "Build delve failed"
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.

1. What version of Delve are you using (`dlv version`)?
ede880134c0997ee18355cc20d85a8ca96512356 (actual for 2016.06.09)

2. What version of Go are you using? (`go version`)?
go version go1.6.2 windows/386

3. What operating system and

[2016-06-09 12:24] joegrasse commented on #569
32bit isn't suppored.

[2016-06-10 18:37] lfrdreamman commented on #358
thanks all, when the step out can work?

[2016-06-11 11:46] aarzilli commented on #568
This was caused by `debugger.(Debugger).CreateBreakpoint`  being executed simultaneously by two goroutines, my guess is that this bug happened with some editor plugin, not with the dlv command line client. Regardless since 82ef3cce7802cfd518fafa9f809fa3ff47e5fa30 `debugger.(Debugger).CreateBreakpoint` acquires a mutex, fixing this bug.

[2016-06-11 11:46] #568 closed

[2016-06-11 13:29] rytutis opened #570 "Building Delve on Windows"
Hi,

As instructed I set GO15VENDOREXPERIMENT=1 and try to get Delve to build. Is there something more that needs doing? I'm on Windows 8, Go 1.6.

Thank you

C:\Users\Rytis>go get github.com/derekparker/delve/cmd/dlv
 github.com/derekparker/delve/proctl
E:\Projects\goenv\src\github.com\derekparker\delve\proctl\proctl.go:38: undefined: OSProcessDetails

C:\Users\Rytis>echo %GO15VENDOREXPERIMENT%
1

[2016-06-11 16:16] aarzilli commented on #570
I think you have a very old version of delve already downloaded, I suggest either deleting it or using `go get -u`.

[2016-06-11 18:29] rytutis commented on #570
That was it! Thank you very much.

I can debug Go :astonished:

[2016-06-11 18:29] #570 closed

[2016-06-13 11:50] zefciu opened #571 "Cannot connect remotely to delve"
Hello running delve 0.11.0-alpha with go 1.6.1 on ubuntu amd64
I run k8s api server with command:

[code]

Now I connect with:
[code]
What I get however if I try to execute any dlv command is:
[code]
The output of `tcpdump -ilo -X` is:
[code]
So the problem must originate on the server side. But I don't know what is exactly happening here. There seems to be a correct JSON in the request.

[2016-06-13 18:56] aarzilli commented on #571
Pass `--api-version=2` to the server.

[2016-06-14 11:44] zefciu commented on #571
Thank you. This fixes this problem (I believe however, that it's still a bug)

[2016-06-14 11:55] zefciu opened #572 "Cannot set a breakpoint if copy-pasting a function from funcs output"
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.
Using dlv 0.11.0-alpha with go 1.6.1 on ubuntu. After attaching to k8s apiserver I issue:
[code]
so the `funcs` finds a function Name() with a certain signature. However then I issue:
[code]
Now the function cannot be found. In general I

[2016-06-14 19:55] zefciu commented on #572
Sorry, didn't see this is a duplicate

[2016-06-14 19:55] #572 closed

[2016-06-15 11:03] joefitzgerald commented on #494
@derekparker no I don't think homebrew will supplant the need for signed release binaries as many OSX users (rightly or wrongly) don't use homebrew.

And I totally understand - you don't have to apologize. I also do this on the side, and am making no demands :)

[2016-06-15 11:03] dlsniper commented on #494
Maybe using the BinTray repo JetBrains has is an option? But ask them first as I don't speak for them :)

[2016-06-15 11:08] joefitzgerald commented on #494
That's already happening, but the releases belong here.

[2016-06-15 15:32] dr2chase opened #573 "Step into runtime.duffzero (and runtime.duffcopy) continues instead"
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.

1. What version of Delve are you using (`dlv version`)?
Version: 0.11.0-alpha
ede8801 Add support for Appengine; parsing Appengine Go custom version (#566)

2. What version of Go are you using? (`go version`)?
go version devel +af0fc83

[2016-06-16 16:57] mikepc commented on #160
I'm on 10.9.5, I have followed all of the instructions and I'm still receiving this error. Looking for ideas.  I signed dlv successfully but it is still giving me the same issue. Works fine on my later version mac at home, but at work (I work for Nordstrom corporate) we are locked on OS 10.9.5

I receive the same error when I run as root as well as sudo.

- The private key is accessible by all app

[2016-06-16 17:07] britannic commented on #160
If you haven't already checked, make sure you don't have multiple versions of dlv installed, "which -a" is very useful, e.g.:

`| => which -a dlv
/usr/local/bin/dlv
/usr/local/bin/dlv
/usr/local/go/bin/dlv
/usr/local/go/bin/dlv`

[2016-06-16 17:18] mikepc commented on #160
x74f@M00973121:~$ source ~/.terminal_startup
x74f@M00973121:~$ cd $GOPATH/src/asf
x74f@M00973121:~/goapi/src/asf$ dlv debug
could not launch process: could not fork/exec
x74f@M00973121:~/goapi/src/asf$  which -a dlv /usr/local/bin/dlv /usr/local/bin/dlv /usr/local/go/bin/dlv /usr/local/go/bin/dlv
/usr/local/bin/dlv
/usr/local/bin/dlv
/usr/local/bin/dlv
x74f@M00973121:~/goapi/src/asf$ codesign -s d

[2016-06-16 17:20] britannic commented on #160
Is " /usr/local/go/bin/dlv" signed also? Its possible that when you execute dlv, " /usr/local/go/bin/dlv" get called before your signed version (if it isn't already signed the same as "/usr/local/bin/dlv").

[2016-06-16 17:23] mikepc commented on #160
Sorry, there is only one, that was part of the other one

x74f@M00973121:~/goapi/src/asf$ which -a dlv
/usr/local/bin/dlv
x74f@M00973121:~/goapi/src/asf$

[2016-06-16 17:25] mikepc commented on #160
sudo GOPATH=/Users/x74f/goapi dlv debug
Password:
could not launch process: invalid magic number in record at byte 0x0

[2016-06-16 17:26] mikepc commented on #160
Reading https://github.com/derekparker/delve/issues/474 now

[2016-06-16 17:31] mikepc commented on #160
I uninstalled all versions of delve, and deleted the certificate starting over with a HomeBrew installation.

Now I get the could not launch process: invalid magic number in record at byte 0x0 error consistently.

[2016-06-16 17:37] mikepc commented on #160
Native only.

[2016-06-16 17:41] mikepc commented on #160
I *am* able to run dlv exec to get the (dlv) prompt, I just can't run dlv debug

[2016-06-16 18:50] mikepc commented on #160
Found it.. package main

I'm good to go. Thank you!

[2016-06-16 21:37] rakyll opened #576 "proc: cannot launch without absolute path to the binary"
Consider the following program where runv is a go program:

[code]

If fails with the following. Expected behavior is to be able to fork runv which is in my PATH.

[code]

[2016-06-17 19:58] integrii opened #577 "macOS Sierra: could not launch process: could not get thread count"
1. What version of Delve are you using (`dlv version`)?
[code]

2. What version of Go are you using? (`go version`)?
`go version go1.6.2 darwin/amd64
`
3. What operating system and processor architecture are you using?
`macOS 10.12 Beta (16A201w)`

4. What did you do?
`dlv debug *.go`

5. What did you expect to see?
dlv prompt

6. What did you see instead?
`could not launch process: could not get

[2016-06-17 20:04] aarzilli commented on #572
It's also [in the documentation](https://github.com/derekparker/delve/blob/master/Documentation/KnownBugs.md). You can still set a breakpoint using the file:line syntax.

[2016-06-17 23:30] evantorrie commented on #523
@aarzilli I agree that you probably need to ditch net/rpc.  When looking at the implementations of `gdb` and `lldb` client/server, they both explicitly allow for `NOTIFY` style packets that are not part of a request/response model.

In addition, it appears that all explicit debugger commands from the client are executed synchronously on the server and the client waits for a response, *except* for

[2016-06-21 06:48] lloiser opened #579 "exit kills attached process"
1. What version of Delve are you using (`dlv version`)?

[code]
2. What version of Go are you using? (`go version`)?

[code]
3. What operating system and processor architecture are you using?

[code]
4. What did you do?

   Built (`go build -gcflags '-N -l'`) and started a simple web server

[code]

   Attached to it using `dlv attach <pid> --log` and entered `continue` to start waiting

[code]

[2016-06-21 10:35] navonod commented on #178
Hi All.

The App we want to debug accepts a -key=value pairing as the command line argument. Delve does not seem to pass this string to the app correctly, as no Flags are received by the app when run from the debugger. Could this be because of unrecognised characters (e.g. =)? Is there a work-around?

[2016-06-22 12:36] aarzilli commented on #178
@navonod: `dlv debug -- -key=value` seems to work for me.

[2016-06-22 18:34] johnlockwood-wf opened #580 "`debug` too generic default - conflicts with package/dir named `debug`"
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.
1. What version of Delve are you using (`dlv version`)?
   Delve Debugger
   Version: 0.11.0-alpha
   Build: 82ece54737fb247eb71c71a2658b68123b4fd1a7
2. What version of Go are you using? (`go version`)?
   go version go1.6.2 darwin/amd64

[2016-06-22 18:36] johnlockwood-wf commented on #580
maybe choose `delve_debug` or `__delve_debug` as a build target to greatly decrease the odds for a conflict with a codebase.

[2016-06-24 17:54] derekparker opened #581 "Step on parked goroutine only goes to current PC"
Stepping on a parked goroutine should continue to the next line, not just the current PC (making the goroutine active).

[2016-06-24 17:58] derekparker commented on #581
Bug only valid after https://github.com/derekparker/delve/pull/563 is merged.

[2016-06-26 06:27] aarzilli opened #582 "Next steps into function calls to deferred functions even when they are called normally"
Given this program:

[code]

this happens:

[code]

expected behaviour: program continues to nextdefer.go:9
what happens: program continues to nextdefer.go:4

The temp breakpoint we set for deferred functions should check that the function call was made either by (a) a panic or (b) runtime.deferreturn.

The (not yet merged) stepout command should behave similarly but only accept calls from panic.

[2016-06-29 00:49] alexbrainman commented on #556
@libbkmz please build and executable out of your main.go program, like
[code]
and post a.exe somewhere so we could look at it.

Also what happens if you run a.exe on your computer? What does it outputs?

Thank you.

Alex

[2016-06-29 00:51] alexbrainman commented on #546
@andrewrgoss please post copy of gocode_print_yyyymmdd.exe somewhere so we could try debugging it on our computers. Thank you.

Alex

[2016-06-29 07:02] libbkmz commented on #556
@alexbrainman It prints "test", so as expected.

Here is a.exe binary: https://yadi.sk/d/ChUjj7msssJHG

[2016-06-29 10:55] ci-iotsyst commented on #118
If this helps, when compiling, I get:

    src/github.com/derekparker/delve/proc/disasm.go:9: undefined: ArchInst

[2016-06-30 11:11] #509 closed

[2016-06-30 11:13] aarzilli commented on #569
Duplicate of #20

[2016-06-30 11:13] #569 closed

[2016-06-30 21:25] evantorrie commented on #523
I tried this PR in a local version of `dlv` used by the intellij golang plugin, and indeed, it now does seem to correctly obey ordering of requests such that breakpoints sent before the initial continue are now hit, rather than having the program run to completion.

So +1 from me as a user.

[2016-07-01 06:46] alexbrainman commented on #556
I don't have problem debugging your executable:
[code]

I have used 323c0450 version of dlv.exe compiled with 29f0984 version of Go.

Can you try and do what I did above with same version of Go and Delve?

Maybe you have antivirus program that prevents you from debugging?

Are you admin on your computer? I am not sure, if that is important. I would expect dlv.exe to fail with "Access denied" error

[2016-07-01 14:26] binary132 opened #584 ""Time-travel" / "reverse" / "omniscient" debugging"
This is not a bug, but a feature request / RFC.  I didn't see an Issue for it, closed or open, so pardon me if this is redundant.

A good [time-traveling debugger](http://www.gnu.org/software/gdb/news/reversible.html) would be an amazing feature for Delve.  It would also be complicated, but maybe a good MVP implementation would be very useful without too much complexity.  I have not analyzed how c

[2016-07-02 10:32] #523 closed

[2016-07-05 00:34] idcmp opened #587 "App being debugged cannot change tty parameters (via ioctl ala tcsetattr)"
Shell:
`go get github.com/jroimartin/cogui`
`cd $GOPATH/src/github.com/jroimartin/_examples`
`dlv debug demo.go`

Delve:
`break tcsetattr`
`continue`
Step or Next through until app hangs, for me it's just after:

syscall.Syscall() /usr/local/go/src/syscall/asm_linux_amd64.s:27 (PC: 0x4ac4e4)
    22:     MOVQ    $0, R10
    23:     MOVQ    $0, R8
    24:     MOVQ    $0, R9
    25:     MOVQ    trap+

[2016-07-05 10:22] aarzilli commented on #587
You can run the application on a different tty and attach to it.

[2016-07-06 09:01] goloveychuk opened #588 "problem with cgo"
1. What version of Delve are you using (`dlv version`)?

Version: 0.11.0-alpha
Build: v0.11.0
2. What version of Go are you using? (`go version`)?

go version go1.6 darwin/amd64
3. What operating system and processor architecture are you using?

mac os x 10.11.4, core i5
4. What did you do?

run debug session in vscode (I think it doesn't matter)

[code]
1. What did you expect to see?

start of de

[2016-07-06 16:56] andrewrgoss commented on #546
I posted a copy of the code when I first opened this issue, but here it is again. It is a very simple program, I just wanted to test `dlv` on it:

[code]

[2016-07-06 17:58] aarzilli commented on #546
@andrewrgoss the compiled executable, not the source.

[2016-07-06 19:53] integrii commented on #577
This is fixed in MacOS Sierra Beta 2!

[2016-07-06 19:53] #577 closed

[2016-07-07 13:41] andrewrgoss commented on #546
Compiled .exe is in this .zip file:
[gocode_print_yyyymmdd.zip](https://github.com/derekparker/delve/files/352244/gocode_print_yyyymmdd.zip)

[2016-07-07 17:31] britannic opened #589 "Minor nit: typo in terminal/terminal.go - "recieved" instead of "received""
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.

1. What version of Delve are you using (`dlv version`)? 0.11.0-alpha/build: ede880134c0997ee18355cc20d85a8ca96512356
2. What version of Go are you using? (`go version`)?
go version go1.6.2 darwin/amd64
3. What operating system and proce

[2016-07-08 05:44] alexbrainman commented on #546
Thanks for the exe. I can reproduce the issue if I change my delve version to v0.11.0-alpha

[code]

The `error derefing *G could not read memory` message is not the same, but close enough (I suspect you are running sligtly different version of delve).

If I update to the current tip:

[code]

So the error message looks different - `could not find FDE for PC 0x77af8aa1`. I don't understand what ne

[2016-07-08 10:30] xianlubird commented on #560
I happen to have the same error. How do you solve this ? @NanXiao

[2016-07-08 10:35] NanXiao commented on #560
@xianlubird #528 refers a workaround.

[2016-07-08 13:10] #589 closed

[2016-07-08 15:34] silasdavis commented on #477
I am also experiencing this issue on Arch Linux, if I run something like:

[code]
I get the following error reading `runtime.buildVerison`:

[code]

If I remove a certain import it works. I'm pretty sure I would be pulling in some code with c bindings with the import in question, but I haven't checked for sure. My go version is:

go version go1.6.2 linux/amd64

[2016-07-08 15:42] silasdavis commented on #477
I can confirm that gotk3 causes the same issue as @LakeIshikawa indicated. Reproduction here: https://github.com/silasdavis/delve-failer/blob/master/test/runner/main.go

[2016-07-08 15:45] silasdavis commented on #477
References to this info being missing seem to refer to Windows, so seems to be some other course on Linux

[2016-07-08 18:41] vazquezger commented on #464
hey, no progress on this one?

[2016-07-09 05:04] aarzilli commented on #477
@silasdavis: can't reproduce this. What version of delve are you using? Is your copy of gotk3 updated? Care to send a compiled binary?

[2016-07-10 15:53] simon-xia opened #592 "run 'dlv debug' got error `/Users/simon/go/src/internal/sys/zversion.go: no such file or directory`"
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.

1. What version of Delve are you using (`dlv version`)?

   Delve Debugger
   Version: 0.11.0-alpha
   Build: v0.11.0
2. What version of Go are you using? (`go version`)?

   go version go1.6
3. What operating system and processor archi

[2016-07-11 04:23] #592 closed

[2016-07-11 05:12] NanXiao opened #593 "Does delve have plan to support FreeBSD?"
Does delve have plan to support FreeBSD? Thx!

[2016-07-11 06:43] aarzilli commented on #593
#213, if someone helps...

[2016-07-11 06:43] #593 closed

[2016-07-11 06:47] NanXiao commented on #213
@aarzilli : It seems only need to extend content in `/proc` directory of `delve` to support `FreeBSD`. Is it right?

[2016-07-11 12:40] aarzilli commented on #213
@NanXiao yes.

[2016-07-11 14:00] silasdavis commented on #477
Hi @aarzilli I've added a binary compiled on my system (https://github.com/silasdavis/delve-failer/blob/master/bin/maindotgo) with a runner here: https://github.com/silasdavis/delve-failer/blob/master/delve-run.sh.

operating system is: Arch Linux; 4.6.3-1-ARCH #1 SMP PREEMPT x86_64 GNU/Linux
go version: go1.6.2 linux/amd64
gcc version: (GCC) 6.1.1 20160602

[2016-07-11 14:03] silasdavis commented on #477
Oh and yes, gotk is latest

[2016-07-11 15:29] derekparker commented on #588
What happens when you try and use Delve from the command line? Can you update with any output you get?

[2016-07-11 17:10] goloveychuk commented on #588
what I should run?
dlv debug produces no interesting output

[2016-07-11 22:22] dr2chase commented on #573
I refreshed the pull request and rechecked current behavior after updates to stepping.  The updated "bug" behavior is shown here:

https://gist.github.com/dr2chase/4c35b1a02bcf51b35bb9dd83592e630e

After blowing 4000 lines of perhaps-debugging-info into my terminal, it (without proposed fix) still fails to make progress.  With fix, it seems to make progress, and seems to stay in the same goroutine

[2016-07-12 09:58] aarzilli commented on #477
@silasdavis: I installed a arch vm and compiled your test program there and it worked. The most obvious difference between the binary I produced and yours is that the options `-fstack-check=specific -fstack-protector-strong` were passed to gcc when building your binary.

[2016-07-12 10:06] silasdavis commented on #477
Hm, thanks for that, did you try the binary I compiled?

[2016-07-12 10:26] aarzilli commented on #477
I did try the binary you compiled and it does have that problem for me too. Do you have any clue as to where those gcc options would come from?

[2016-07-13 14:49] silasdavis commented on #477
I have no idea where those options come from. On Arch I do see the stack-protector-strong flag set in /etc/makepkg.conf but this is related to how Arch compiles custom packages and I don't see why it would be used. I can't find any other default flag settings for GCC (open to suggestions of where to look). I also don't know how cgo/gc chooses flags for GCC. It seems that cgo uses GCC to compile a

[2016-07-13 15:04] aarzilli commented on #477
I use dwarfdump.

Yes, that's correct.

I don't know how those work exactly also whatever is adding those options could also add other protection.

`                    DW_AT_producer              GNU C11 6.1.1 20160602 -m64 -mtune=generic -march=x86-64 -g -O2 -fPIC -fmessage-length=0`

[2016-07-13 15:49] silasdavis commented on #477
Hm, this is frustrating, CFLAGS can be set like:

[code]

But there's nothing with the stack-protector-strong flag in gotk3 obviously. Also with environment variables CGO_CFLAGS, CGO_CPPFLAGS, CGO_CXXFLAGS but I have none of these set. I can't find any particularly help information on how else they get set.

[2016-07-13 16:23] silasdavis commented on #477
It seems I had managed to install a hardening-wrapper around my gcc: https://www.archlinux.org/packages/community/x86_64/hardening-wrapper/ as a dependency to something else, which is a rather nasty dependency to pull in for nginx!

I thought this was setting the stack-protector-strong. Oddly I still seem to have that being used to compile the binary, but removing the wrapper from my system does f

[2016-07-13 17:08] aarzilli commented on #477
Thanks a lot for looking into this!

[2016-07-13 20:04] producerism opened #594 "Delve getting stuck on intentional sigpanic trigger (via go-stack package)"
I'm using the [log15](https://github.com/inconshreveable/log15) package for logging, which uses the [go-stack](https://github.com/go-stack/stack) package for stack tracing.

There is a particular line/method within the go-stack package that intentionally triggers a sigpanic:

https://github.com/go-stack/stack/blob/master/stack.go#L228

Due to this line, the debugger just keeps breaking at this sam

[2016-07-14 09:34] hello-code opened #596 "How to print type of variable?"
[code]
1. What version of Delve are you using (`dlv version`)?

[code]
1. What version of Go are you using? (`go version`)?

[code]
1. What operating system and processor architecture are you using?

[code]
1. What did you do?

[code]
1. What did you expect to see?
   `type=int`
2. What did you see instead?
   `Command failed: 1:3: expected selector or type assertion, found 'type'`

[2016-07-18 15:15] andrewrgoss commented on #546
Tried updating to the latest version of `delve` and the problem remains the same as when I first opened this issue: it is not possible to step into any code using the debugger. I'm trying this with VS code, so like you said it must be a problem with the extension @lukehoban created:

[code]

[2016-07-18 15:19] andrewrgoss commented on #546
I think the core of the problem lies with the `delve` configuration on my machine as it doesn't work through the command line interface either:

[code]

[2016-07-20 10:06] NanXiao opened #597 "The dlv can't display source code"
What version of Delve are you using (`dlv version`)?

[code]

What version of Go are you using? (`go version`)?

[code]

What operating system and processor architecture are you using?
linux/amd64

What did you do?
This issue is referenced from NVIDIA/nvidia-docker#144. I modify `Dockerfile.build` to build `nvidia-docker` using following command:

[code]
But the `dlv` still can't debug `nvidia-doc

[2016-07-20 12:24] aarzilli commented on #597
I suspect the reason is that the path `/go/src/github.com/NVIDIA/nvidia-docker/tools/src/nvidia-docker/main.go` doesn't exist on your machine, am I wrong?

[2016-07-21 00:49] NanXiao commented on #597
@aarzilli Yeah, the `/go/src/github.com/NVIDIA/nvidia-docker` is specified in `nvidia-docker` Dockerfile. The simplest solution is also keeping `nvidia-docker` source code in `/go/src/github.com/NVIDIA/` path on host machine.

Thanks very much again for your great help! You can always resolve `delve` related issues!

[2016-07-21 00:49] #597 closed

[2016-07-21 04:59] alexbrainman commented on #546
That is not what I am seeing here (with current version of delve). I see this:
[code]

Please, run the commands, just like I did, and show us what your output is. Thank you.

Alex

[2016-07-21 11:46] aarzilli commented on #546
@andrewrgoss your `$` prompt looks unusual for a windows box. Are you using some kind of terminal emulator? Can you try using cmd.exe?

[2016-07-21 17:41] joegrasse commented on #20
Just curious if anyone has picked this up yet, or is this still a ways off?

[2016-07-21 20:10] #573 closed

[2016-07-22 02:49] alexbrainman commented on #20
Probably, wouldn't be difficult to implement on windows. Both amd64 and 386 use same Windows API. As long as the rest of code is not 64-bit specific, I think windows-386 part will be small.

Alex

[2016-07-22 18:53] dunmengjun opened #600 "The QQ security process actually prohibit the whole system CreateProcess DEBUG_PROCESS, leading to delve appears Access is denied"
As the title
my system is windows10
go version is go 1.7
Run go get github.com/derekparker/delve/cmd/dlv   in cmd

run delve debug --log main.go is error
that is information
`delve is debugger.go:61: launching process with args: [./debug] could not launch process: Access is denied`

Is not OSX has this problem?? window also have??
i am chinese,  English  is poor . Please help me with this problem

[2016-07-22 19:55] derekparker commented on #600
@alexbrainman @lukehoban any thoughts on this?

[2016-07-23 01:45] alexbrainman commented on #600
I cannot reproduce it here. But I use latest version of delve. You can get it if you run
[code]
I also use Windows 7, not Windows 10.

I see:
[code]

Delve uses `./debug` to launch executable. But all Windows executables have .exe extension. Maybe we should use delve.exe instead of delve for executable name. Perhaps Windows 10 refuses to run it because it has no .exe.

Perhaps you have some antivi

[2016-07-23 03:52] dunmengjun commented on #600
@alexbrainman

If I want to modify the code，Modify the generated file where the debug，Plus .exe suffix，I should be how to do, where to modify?
Be sure to help me look，Thank you

[2016-07-23 04:18] aarzilli commented on #600
@dunmengjun you could compile manually with `go build -gcflags='-N -l' main.go` then run delve with: `dlv exec <executable file>`

[2016-07-23 04:24] dunmengjun commented on #600
I modify the code  Plus the .exe suffix，The resulting file is debug.exe
then I run
`dlv debug --log main.go`
Or the error
[code]
then I modify the ./ to .\\
 Or the error
[code]
Next, I will debug.exe into tmp folder
However, I think we should still get this error
wait me
I guess, it is a permissions issue, but I still do not know the specific
Really going to cry！！！

[2016-07-23 04:25] dunmengjun commented on #600
@aarzilli
Let me try，Thank you

[2016-07-23 04:33] dunmengjun commented on #600
@aarzilli
I use
`go build -gcflags="-N -l" main.go`
then
` dlv exec main.exe`
Or the error
[code]
I'm really going to cry！！

[2016-07-23 04:44] aarzilli commented on #600
Make sure that the user you are using has the "Debug programs" right: https://technet.microsoft.com/en-us/library/dn221963(v=ws.11).aspx

[2016-07-23 05:14] dunmengjun commented on #600
@aarzilli
I do not know how I confirm that the user have the "Debug programs" right
Can you tell me how to do it? ?
and if the user is not have this
What can I do?
thank you very much

[2016-07-23 05:16] aarzilli commented on #600
follow the instructions on the link and check that the user you are using or one of the groups that user belongs to is listed after "Debug programs", I don't have a simpler way to explain it.

[2016-07-23 05:58] dunmengjun commented on #600
thank you  @aarzilli
but I'm sure this is not a problem
I look at my group policy, Debug programs value is Administrators, It is a user group includes my current login user,Even so，I tried my login users to join Debug programs.
then I repeat dlv operation
But useless，Still errors
[code]

[2016-07-23 06:58] dunmengjun commented on #600
@derekparker @alexbrainman  @aarzilli
After I carefully check the code，I found the error is generated here
[code]
sys.CreateProcess generated the error
then I find this func at https://github.com/golang/sys/blob/master/windows/zsyscall_windows.go
[code]
find
`procCreateProcessW                     = modkernel32.NewProc("CreateProcessW")`
CreateProcessW  is Access is denied
I do not know how to do

[2016-07-23 07:09] alexbrainman commented on #600
What happens if you change:
[code]
with
[code]
?

Thank you.

Alex

[2016-07-23 07:26] dunmengjun commented on #600
I change with
`err = sys.CreateProcess(argv0, cmdLine, nil, nil, true, 0 nil, nil, si, pi)`

but
[code]
the progrem is run
However, errors or

[2016-07-23 07:26] dunmengjun commented on #600
@alexbrainman

[2016-07-23 07:28] alexbrainman commented on #600
Thank you.

It seems Windows does not allow you to use DEBUG_ONLY_THIS_PROCESS flag with CreateProcess API. I do not know why. I need to think about it.

Alex

[2016-07-23 07:35] dunmengjun commented on #600
@alexbrainman If you have the answer, please be sure to tell me. thank you very much

[2016-07-23 07:40] alexbrainman commented on #600
I will not forget you. But I really do not know what to do here. Sorry.
Maybe @lukehoban knows more.

Alex

[2016-07-23 07:55] dunmengjun commented on #600
@alexbrainman  Thank you
@lukehoban please help

[2016-07-23 12:31] dunmengjun commented on #600
I guess I found out why！
Now, I have been able to run delve
The reason is that I uninstalled the 360 security guards，Then restart the computer.
360 security guards is a security software, its implementation is invaded windows kernel.
The operation of the process debugger is very dangerous, because of the uncertainty whether the operator is a dangerous software, so the 360 block of this operation

[2016-07-25 02:41] dunmengjun commented on #600
I was wrong
By chance, I found that when I play LOL, delve actually appeared Access is denied error
So, I go through repeated tests and found that safety procedures LZ actually banned CreateProcess DEBUG_PROCESS call the whole system
I have been to check how he did it, and whether there are counter-measures。
But still no gain
You, I was wrong, I was wrong 360
@alexbrainman @aarzilli @derekparker I

[2016-07-25 05:46] aarzilli commented on #600
Does LOL here stand for League of Legends?

[2016-07-25 06:01] dunmengjun commented on #600
Yes， LOL is the League of Legends
but I also was wrong
Because this problem is not caused by LOL.You know Tencent acquired LOL it?In China, LOL start at the same time will start the process QQ Safety,This is the cause of CreateProcess DEBUG mode is disabled.Because, Tencent do not want any other program to bundle its program.
Now, I have not take QQ and LOL, because I could not find a way to preve

[2016-07-25 06:02] dunmengjun commented on #600
@aarzilli

[2016-07-25 07:23] aarzilli commented on #600
Good that you figured it out, I'm closing this issue since there's nothing we can do about it.

[2016-07-25 07:23] #600 closed

[2016-07-27 03:29] czxichen opened #601 "use dlv.exe debug report “could not launch process: Access is denied.”"
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.

1. What version of Delve are you using (`dlv version`)?
C:\Users\Administrator>dlv version
Delve Debugger
Version: 0.11.0-alpha
Build:
2. What version of Go are you using? (`go version`)?
C:\Users\Administrator>go version
go version go1

[2016-07-27 04:52] aarzilli commented on #601
League of Legends? See #600 for other reasons you may be getting access is denied. If none applies reopen this issue.

[2016-07-27 04:52] #601 closed

[2016-07-27 09:27] NanXiao opened #602 "The dlv will hang when input "step" command at the beginning of debugging."
What version of Delve are you using (`dlv version`)?

[code]

What version of Go are you using? (`go version`)?

`go version go1.6.3 linux/amd64`

What operating system and processor architecture are you using?

`linux/amd64`

What is the problem?
When debugging a program, if press `s` directly, the `dlv` will hang there, like this:

[code]

Maybe it is better to prompt something instead of hangin

[2016-07-29 07:14] aarzilli commented on #602
#603 should improve this.

[2016-08-01 07:35] NanXiao opened #604 "How to display the interface value?"
What version of Delve are you using (`dlv version`)?

Delve Debugger
Version: 0.11.0-alpha
Build:

What version of Go are you using? (`go version`)?
go version go1.6.3 linux/amd64

What operating system and processor architecture are you using?
linux/amd64

Problem:

Source code is like this:

[code]

I use `dlv` to debug the program in step mode, and when there an error occurs, I find `dlv` can't

[2016-08-02 08:48] loic59 opened #605 "Problem with Go 1.6.3 & Windows"
Os : Windows
Go version : 1.6.3
Dlv version : 0.11.0-alpha

Since version Go 1.6 I encounter this error with delve :
`could not launch process: Could not determine version number: could not find symbol value for runtime.buildVersion`

Any ideas to fix the problems ?

[2016-08-02 09:22] aarzilli commented on #605
Duplicate of #477 (reopen if you aren't using cgo)

[2016-08-02 09:22] #605 closed

[2016-08-02 20:13] keith198 opened #606 "number format execption when starting delve from Intellij"
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.

1. What version of Delve are you using (`dlv version`)?
the one bundled with ij plugin C:\Users\f059375\.IdeaIC2016.2\config\plugins\Go\lib\dlv\windows\dlv.exe
2. What version of Go are you using? (`go version`)?
tired with both 1.6 and

[2016-08-02 20:17] aarzilli commented on #606
The Idea plugin is developed in another repository: https://github.com/go-lang-plugin-org/go-lang-idea-plugin
cc @dlsniper

[2016-08-02 20:20] dlsniper commented on #606
@aarzilli thanks for ping, I've opened: https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/2706 you can close this for now. @keith198 please add an example to reproduce in the at issue. Thanks all.

[2016-08-02 20:21] #606 closed

[2016-08-05 08:55] #531 closed

[2016-08-05 09:17] aarzilli commented on #604
I can not reproduce this, 0.11 is a bit old I suggest you try using a version compiled from master.
Regarding typecasts, they are supported (in a limited form) however:

1. `(PathError*)err` has two syntax errors and you didn't specify the package name, it should be `(*os.PathError)(err)`
2. It wouldn't work anyway because an interface value can not be cast to its concrete type, what you want is a

[2016-08-05 09:18] #604 closed

[2016-08-08 06:25] NanXiao commented on #604
@aarzilli I follow [Installation on Linux](https://github.com/derekparker/delve/blob/master/Documentation/installation/linux/install.md) method:

`go get github.com/derekparker/delve/cmd/dlv`

And the installed version is `0.11.0-alpha`. Is there something wrong? Thanks!

[2016-08-08 07:28] aarzilli commented on #604
Try `go get -u github.com/derekparker/delve/cmd/dlv`. See what `git log -n 1` tells you  in `$GOPATH/src/github.com/derekparker/delve/`.

[2016-08-08 07:35] NanXiao commented on #604
@aarzilli

[code]

[2016-08-08 09:52] aarzilli commented on #604
Are you 100% sure that the executable you are running was built with that code? i.e. can you reproduce the issue after doing `make build` and using the `dlv` executable in `$GOPATH/src/github.com/derekparker/delve`?

[2016-08-08 19:32] targodan opened #608 "Setting breakpoints fails when using symlinks leading out of the GOPATH"
## To tick the boxes
- dlv version: 0.11.0-alpha
- go version: go1.6.3 linux/amd64
- Running Arch Linux in an oracle VirtualBox with Windows 7 64bit as the host.

## The issue
I recently tried my luck on go-plus for atom and ran into a problem with symlinks. See lloiser/go-debug#44 for more information about it. The problem turned out to (at least partially) be in delve and not actually in go-plus

[2016-08-08 20:16] xfreshx commented on #477
Have the same issue. Every module that has c-bindings  under the hood gives me the same
 could not launch process: Could not determine version number: could not find symbol value for runtime.buildVersion

windows 8.1 x64

D:\projects>dlv version
Delve Debugger
Version: 0.11.0-alpha
Build: 142d8827997378ff84434615edeec665f0092e05

D:\projects>go version
go version go1.6.3 windows/amd64

[2016-08-09 04:07] alexbrainman commented on #477
This will not fix until golang/go#10776 is fixed.

Alternatively you could use "internal" linker like
[code]
(see `go help build` and `go tool link` command output for details).

Alex

[2016-08-09 05:45] NanXiao commented on #604
@aarzilli It seems right now. But I still have one doubt:  When executing "`go get -u github.com/derekparker/delve/cmd/dlv`", the newest `dlv` should be installed in `$GOPATH/bin`, right? If it is right, the `dlv` in master branch seems always outputs "`Version: 0.11.0-alpha`".

[2016-08-09 08:41] xfreshx commented on #477
Yea, i saw that, but neither objdump --dwarf nor gdb doesn't give me any error. However, that link option helped me. Thank you a lot, Alex!

[2016-08-09 09:36] aarzilli commented on #604
Yes, you are right about that. The commit id is only included if the binary is built with `make`.

[2016-08-09 09:46] NanXiao commented on #604
@aarzilli Got it! Thanks very much for your reply!

[2016-08-09 10:17] aarzilli commented on #608
This issue has nothing to do with $GOPATH nor with absolute paths and can be easily reproduced anywhere:

[code]

The reason is that source files go into the executable with the path the compiler found them at, not with their absolute path and we don't do any symlink resolution.

IMHO this isn't a bug, this behavior is simple and predictable and I'm not sure resolving symlinks would be as predicta

[2016-08-10 07:07] targodan commented on #608
Ok, right. I didn't think about the fact that the compiler actually saves the path into the executables debug info.

I guess that makes sense. Thanks for your time.

[2016-08-10 07:07] #608 closed

[2016-08-10 17:47] kolkov opened #609 "Why string value is truncated so?"
1. What version of Delve are you using (`dlv version`)?
[code]
[code]

2. What version of Go are you using? (`go version`)?
`go1.7rc5.windows-amd64`
3. What operating system and processor architecture are you using?
`Windows 10 64`
4. What did you do?
Debug my app
5. What did you expect to see?
![image](https://cloud.githubusercontent.com/assets/3740898/17563914/30b6f844-5f3a-11e6-818f-26d4f2765e4

[2016-08-10 17:50] dlsniper commented on #609
@kolkov does this appear appear correctly when running delve CLI without IDEA? If so then it may worth checking out the API and see if there's a difference there and if we can do anything about that. If not then it's a thing from delve and if cannot be controlled via the API then we can't do anything about it.

[2016-08-10 17:54] kolkov commented on #609
@dlsniper I do not know how to try it from the console ((

[2016-08-10 18:07] dlsniper commented on #609
run these:

[code]

[2016-08-11 11:07] kolkov opened #610 "Why map not shown in struct?"
Content of svPtr.nameMap not shown in debugger variables...

[code]

[code]

![image](https://cloud.githubusercontent.com/assets/3740898/17586789/70217d28-5fcc-11e6-89a4-5333e2cb7ea0.png)

[https://github.com/go-ozzo/ozzo-dbx/blob/master/struct.go](url)

[2016-08-11 13:32] aarzilli commented on #609
Delve only reads the first 64 characters of string, from the command line you can read the next 64 by using this syntax: `print variable[64:]`. An API client can change the maximum length of a string by passing the appropriate parameter.

[2016-08-11 13:36] aarzilli commented on #610
You just reached the maximum recursion depth, with the command line version of delve you would be able to do: `print svPtr.nameMap` to see the value of `svPtr.nameMap`, I don't know how to do it inside IntelliJ.

cc @dlsniper

[2016-08-11 13:45] kolkov commented on #609
@dlsniper ping

[2016-08-11 13:46] dlsniper commented on #609
@kolkov I'm getting all the comments in this thread, thanks for ping.
@aarzilli please feel free to close the issue here and @kolkov please open the issue in the plugin tracker with a reference to this one.

Thank you.

[2016-08-11 13:56] kolkov commented on #609
Thanks!

[2016-08-11 13:56] #609 closed

[2016-08-11 13:58] dlsniper commented on #610
I think we need to do a better job at detecting the struct type and render it.
@aarzilli I'd suggest keeping this open for now in case we want to contribute back to delve a way to just list the map and values w/o the internal structure (in order to simplify the clients).

@kolkov please open an issue in the plugin repo linked to this. Thank you.

[2016-08-11 17:20] Niondir commented on #20
I could need this as well. Would be happy to hear if someone is working on the topic.

[2016-08-11 23:09] tgrennan opened #612 "Add signal command"
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.

1. What version of Delve are you using (`dlv version`)?

2. What version of Go are you using? (`go version`)?

3. What operating system and processor architecture are you using?

4. What did you do?

5. What did you expect to see?

6. W

[2016-08-14 10:52] ahl commented on #79
I just hit this on c3ade94b86bf9033403a493977047df8dbe5ccdd (
`could not attach to pid 39933: decoding dwarf section info at offset 0x0: too short`

Even more concerning is that `dlv` killed the process I was trying to debug.

[2016-08-15 11:51] aarzilli commented on #79
@ahl do you have steps we can follow to reproduce this or a binary to examine?

[2016-08-16 21:07] ahl commented on #79
[code]

`go run test.go` and `dlv attach $(pgrep test)` on darwin:

`could not attach to pid 68703: decoding dwarf section info at offset 0x0: too short`

Perhaps you're not supposed to use `dlv` with `go run`? Irrespective "do no harm" is job one for a debugger and my process should not end up dead in any circumstance.

This also happens on a non-golang binary. Again, the debugger should **_never

[2016-08-17 10:04] aarzilli opened #614 "Delve should detach from the target process before crashing"
See https://github.com/derekparker/delve/issues/79#issuecomment-240239269

[2016-08-17 17:15] andrewrgoss commented on #546
I had been using Cygwin as a terminal emulator, but even when running this through the standard Windows command prompt I get the same error:

[code]

[2016-08-19 22:24] mcphailtom opened #616 "brew install fails on 10.12"
1. What version of Delve are you using (`dlv version`)? N/A
2. What version of Go are you using? (`go version`)? go version go1.7 darwin/amd64
3. What operating system and processor architecture are you using? macOS 10.12
4. What did you do? brew install go-delve/delve/delve
5. What did you expect to see? dlv installed
6. What did you see instead?

[code]

I'm not sure I understand the idiosyncras

[2016-08-20 06:26] debedb opened #617 "Error running with api-version=2: unknown flag: --api-version"
1. Delve version:

$ dlv version
Delve Debugger
Version: 0.11.0-alpha
Build: v0.11.0

2. Go version:

$ go version
go version go1.6.2 darwin/amd64

3. What operating system and processor architecture are you using?

OSX 10.11.2
15.2.0 Darwin Kernel Version 15.2.0: Fri Nov 13 19:56:56 PST 2015; root:xnu-3248.20.55~2/RELEASE_X86_64 x86_64

4. What did you do?

Tried running this, as instructed by ht

[2016-08-20 12:35] mcphailtom commented on #616
https://github.com/go-delve/homebrew-delve/pull/2

[2016-08-20 12:38] mcphailtom commented on #616
The Homebrew folks have added a directive to allow weak imports to be flagged. Added to PR on delve formula and tested.
https://github.com/go-delve/homebrew-delve/pull/2

[2016-08-20 17:33] handicraftsman opened #618 "Can't Install on Linux"
1. Just trying to install
2. go version go1.6.3 linux/386
3. Archlinux (manjaro repos), i686
4. Tried to go-get?
5. Blank screen?
6. ````
# github.com/derekparker/delve/proc
load/go/src/github.com/derekparker/delve/proc/disasm.go:9: undefined: ArchInst
[code]

[2016-08-20 22:06] alexbrainman commented on #618
Duplicate of #20?

Alex

[2016-08-21 06:55] aarzilli commented on #617
My guess is that you need to update your delve

[code]

[2016-08-21 06:57] debedb commented on #617
Maybe - this was installed with https://github.com/derekparker/delve/blob/master/Documentation/installation/osx/install.md instructions (via homebrew). But the version seems to be the same as the latest version tag.

[2016-08-21 07:58] aarzilli commented on #617
We haven't made a new release in a while.

[2016-08-21 08:05] debedb commented on #617
I'll try when I get a chance, thanks. Maybe a new release is warranted, given at least this feature (new api version)?

[2016-08-21 19:04] jcmontes95 commented on #20
Any news on this? It'd be really useful for me.

[2016-08-21 21:28] debedb commented on #617
That works, thanks

[2016-08-21 21:28] #617 closed

[2016-08-22 21:49] joefitzgerald commented on #494
@derekparker any updates on releasing binaries in Github releases?

[2016-08-25 13:43] jabley opened #621 "dlv crashes on Go 1.7 with "panic: runtime error: makeslice: len out of range""
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.

1. What version of Delve are you using (`dlv version`)?

Delve Debugger
Version: 0.11.0-alpha
Build: v0.11.0

2. What version of Go are you using? (`go version`)?

go version go1.7 darwin/amd64

3. What operating system and processor ar

[2016-08-25 16:10] pavel-odintsov opened #622 "Issiw with RPC: panic: runtime error: makeslice: len out of range"
Hello!

What version of Delve are you using (`dlv version`)?
[code]

What version of Go are you using? (`go version`)?

[code]

What operating system and processor architecture are you using?

Mac OS El Capitan

What did you do?

I'm trying to debug my application with Atom's go-debug plugin which uses Delve as backend. It uses RPC to Delve. Originally, this issue was sent to Go-Debug tracker: htt

[2016-08-25 16:22] pavel-odintsov opened #623 "Introduce auto-signing binaries - prevent warning about firewall at Mac OS"
Hello!

I'm debugging network application which binds on external IP's and I've been getting "Do you want the application debug to accept incoming network connections?" each time I run Delve.

I'm using Mac and I already have dlv-cert in trust store. Could you introduce option for automatic singing built binaries with this (or custom) key?

Thank you!

[2016-08-26 06:59] andrewschreiber opened #624 "Brew install failing on 10.11"
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.

1. What version of Delve are you using (`dlv version`)? N/A
2. What version of Go are you using? (`go version`)? 1.7
3. What operating system and processor architecture are you using? macOS 10.11 darwin/amd64
4. What did you do? `brew i

[2016-08-26 12:41] aarzilli commented on #624
Are you sure you are using 1.7? Your GOROOT says 1.5.1 and it doesn't seem to be using the vendor directory.

[2016-08-26 12:50] aarzilli commented on #622
Duplicate of #621

[2016-08-26 12:50] #622 closed

[2016-08-26 12:52] aarzilli commented on #621
It looks like you are using an old version of delve, I fixed a similar bug a while ago and the fix already exists in master. Can you update to master and see if the issue still exists?

[2016-08-26 12:52] aarzilli commented on #622
It looks like you are using an old version of delve, I fixed a similar bug a while ago and the fix already exists in master. Can you update to master and see if the issue still exists?

[2016-08-26 12:59] aarzilli commented on #594
What operating system are you using? Can you give me some step to reproduce this problem?
 I tried with this sample program:

[code]

but I have no problem debugging it.

[2016-08-27 07:13] jabley commented on #621
Tried with master, and that has resolved the issue. Thanks!

[2016-08-27 09:01] aarzilli commented on #621
Great, closing this then.

[2016-08-27 09:01] #621 closed

[2016-08-28 07:52] andrewschreiber commented on #624
You're right, thanks!

[2016-08-28 07:52] #624 closed

[2016-08-29 20:18] lirao opened #626 "Cannot step with "next" on OSX: "Command failed: could not suspend thread ___ (ipc/send) invalid destination port""
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.

1. What version of Delve are you using (`dlv version`)? 0.11.0-alpha f09ef23f9ec650f18f2530d7164229ea4a119700
2. What version of Go are you using? (`go version`)? go version go1.7 darwin/amd64
3. What operating system and processor arch

[2016-08-29 20:27] lirao commented on #626
logs:
(dlv) n
Command failed: could not suspend thread 50463 (ipc/send) invalid destination port
(dlv) next
Command failed: next while nexting
(dlv) restart
Command failed: could not resume task
(dlv) continue
Process 42899 has exited with status 0

[2016-08-29 20:52] lirao commented on #626
BTW, if there's any version combination of go/dlv that works on El Capitan 10.11.6, I'll be happy to downgrade :)
Some stack traces (if that helps):
(dlv) n
Command failed: could not suspend thread 19459 (ipc/send) invalid destination port
(dlv) stack
0  0x0000000000004fa5 in main.glob..func1
   at ./cmd.go:49
1  0x00000000000e2399 in <mypackage>/vendor/github.com/spf13/cobra.(*Command).execute

[2016-08-31 21:20] blacktop commented on #626
+1

[2016-09-01 06:36] beyondkmp commented on #626
+1

[2016-09-01 19:39] gabriel commented on #79
This also happens if you use `-ldflags -s` to get macOS codesigning to work https://github.com/golang/go/issues/11887

[2016-09-02 19:26] sjwl commented on #496
The limitation of tracing programs using `exec` is not just for the Terraform plugins, but also the binary itself.

Turns out the `terraform` binary also uses `exec` on itself.  From it's main routine, it ultimately spawns another instance of itself inside a wrapper like so:

https://github.com/mitchellh/panicwrap/blob/master/panicwrap.go#L143

[2016-09-08 06:48] Morrowless opened #628 "appengine local package error"
go version 1.7
dlv version 0.11.0

given package models inside root appengine directory:

`import "models"`

Appengine compiles this successfully. However delve cannot find package because root is not added to GOPATH. But, I don't want to put models inside root/src/. How can I work around this?

[2016-09-08 07:29] aarzilli commented on #628
I'm not familiar with the appengine workflow, does appengine build an executable? If it does and you can figure out a way to pass compiler flags to it then build with `-gcflags='-N -l'` then debug the executable with `dlv exec ./filename`.

[2016-09-08 17:36] jhg03a opened #629 "Command line arguments missing"
1. What version of Delve are you using (`dlv version`)?
   Delve Debugger
   Version: 0.11.0-alpha
   Build: af4798e2a91f2e57aa16fb38ba0275936cbdb2a1
2. What version of Go are you using? (`go version`)?
   go version go1.6.1 windows/amd64
3. What operating system and processor architecture are you using?
   Windows 10 Pro x64
4. What did you do?

[code]

[code]

[code]
1. What did you expect to se

[2016-09-08 17:47] aarzilli commented on #629
Is this a PowerShell thing or does it happen with cmd.exe also?

[2016-09-08 18:48] jhg03a commented on #629
It happens with both CMD and PS.

[2016-09-08 19:15] aarzilli commented on #629
Thanks.

[2016-09-08 19:24] aarzilli commented on #629
I can't reproduce this on master, can you update, rebuild and try again?

[2016-09-09 17:44] ryho opened #630 "Readily reproducible delve crash: "panic: runtime error: makeslice: len out of range""
1. What version of Delve are you using (`dlv version`)?

[code]
1. What version of Go are you using? (`go version`)?
   `go version go1.7.1 darwin/amd64`
2. What operating system and processor architecture are you using?
   OSX 10.11.6, 64 bit x86
3. What did you do?
   I'm running Delve with Visual Studio Code, here is my launch.json:

[code]

Method 1: I put a breakpoint inside the test, click r

[2016-09-09 17:47] aarzilli commented on #630
Looks like this bug https://github.com/derekparker/delve/issues/622 if it is it's already fixed on master, see if you can reproduce with delve compiled from master.

[2016-09-09 20:37] jhg03a commented on #629
It's reproducible for me with the head of master.

[2016-09-09 20:39] jhg03a commented on #629
I found this as a byproduct of trying to get things to work with go-debug, but can't get it to work right on the CLI.

[2016-09-09 21:16] aarzilli commented on #629
The commit that should fix this is 60946a759c03e68520b4e223cea9f79259612a21, the build you specified in the first message does not have that commit.

[2016-09-10 17:29] LeeWong commented on #594
I am facing the same issue on windows 10 and here is the output of go env

set GOARCH=amd64
set GOBIN=
set GOEXE=.exe
set GOHOSTARCH=amd64
set GOHOSTOS=windows
set GOOS=windows
set GOPATH=...\go
set GORACE=
set GOROOT=C:\Go
set GOTOOLDIR=C:\Go\pkg\tool\windows_amd64
set CC=gcc
set GOGCCFLAGS=-m64 -mthreads -fmessage-length=0 -fdebug-prefix-map=...\AppData\Local\Temp\go-build500025894=/tmp/go-build

[2016-09-10 17:40] aarzilli commented on #594
I'm going to assume the original issue was about windows as well.

[2016-09-12 09:00] heretic13 opened #631 "delve produce wrong binaries (cgo)"
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.

1. What version of Delve are you using (`dlv version`)?
Version: 0.11.0-alpha

2. What version of Go are you using? (`go version`)?
go version go1.7 windows/amd64

3. What operating system and processor architecture are you using?
Windo

[2016-09-12 09:03] aarzilli commented on #631
Delve just calls the normal go compiler, so I think this bug should be reported on the go repository. Running `go build -gcflags='-N -l'` manually on that file should produce the same result.

[2016-09-12 09:03] heretic13 commented on #631
If I do **go build**, that makes working binary.

[2016-09-12 09:05] aarzilli commented on #631
Did you pass `-gcflags='-N -l'`?

[2016-09-12 09:09] heretic13 commented on #631
This is related to https://github.com/Microsoft/vscode-go/issues/472

aarzilli, I'll check now

[2016-09-12 09:11] heretic13 commented on #631
d:\Projects\gopath\src\TestDB>go build -gcflags='-N -l'
invalid value "'-N" for flag -gcflags: unterminated ' string
usage: build [-o output] [-i] [build flags] [packages]

[2016-09-12 09:17] heretic13 commented on #631
d:\Projects\gopath\src\TestDB>go build -gcflags="-N -l"

d:\Projects\gopath\src\TestDB>TestDB.exe
0 こんにちわ世界000
1 こんにちわ世界001
2 こんにちわ世界002
3 こんにちわ世界003
4 こんにちわ世界004
5 こんにちわ世界005
6 こんにちわ世界006
7 こんにちわ世界007
8
...

it's working

[2016-09-12 10:46] heretic13 commented on #631
delve make binaries from command line (analized delve source code)
**go build -gcflags="-N -l" -ldflags="-linkmode internal"**
that's make broken binary

[2016-09-12 10:50] aarzilli commented on #631
Looks like that ldflags option was added to work around this issue: https://github.com/golang/go/issues/10776

[2016-09-12 10:55] heretic13 commented on #631
aarzilli, any solutions?

[2016-09-12 11:02] heretic13 commented on #631
If it helps:
**go build -gcflags="-N -l" -o debug**  6.3 Mb size
**go build -gcflags="-N -l" -o debug -ldflags="-linkmode internal"**  3.77 Mb size
I think something was missing inside binary

[2016-09-12 11:25] aarzilli commented on #631
Unless either https://github.com/golang/go/issues/13672 or https://github.com/golang/go/issues/10776 get fixed I don't think there is any solution.

[2016-09-12 11:26] heretic13 commented on #631
ok

[2016-09-13 09:20] wuceyang opened #633 "delve does not work on windows 10 with version 0.11.0-alpha."
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.

1. What version of Delve are you using (`dlv version`)?
D:\Go>dlv version
Delve Debugger
Version: 0.11.0-alpha
Build:

2. What version of Go are you using? (`go version`)?
D:\Go>go version
go version go1.7.1 windows/amd64

3. What opera

[2016-09-13 09:25] aarzilli commented on #633
The vscode plugin is developed [here](https://github.com/Microsoft/vscode-go).

[2016-09-13 09:25] #633 closed

[2016-09-13 10:24] wuceyang commented on #633
@aarzilli , but there is error while i run  "dlv debug" in command line, why?
 maybe there is a bug with devel?

[2016-09-13 10:26] aarzilli commented on #633
If there is an error when you run delve from the command line then there may be a problem with delve, you should copy the error here.

[2016-09-13 16:15] huwpascoe opened #634 "can't load package: package internal"
delve 0.11.0-alpha
go1.7 windows/amd64
Windows 10

dlv debug
"can't load package: package internal: no buildable Go source files in C:\Go\src\internal" exit code 1

[2016-09-13 18:45] sjwl commented on #496
I just returned from Hashicon and got a tip from the core Terraform team (they use delve too!).  This is how I got debugging to work with Terraform:
[code]

The key is setting the above environment variable.  I won't even try to pretend explaining why this works, but you can find where I got the mysterious values from here: https://github.com/mitchellh/panicwrap/search?utf8=%E2%9C%93&q=DEFAULT_COO

[2016-09-14 16:19] JCzz opened #635 "dlv connect : Command failed: connection is shut down"
Hi there

Basically I just wanted this sample code from [github](https://github.com/lukehoban/webapp-go/tree/debugging) to work with "$GOPATH/src/app". The sample code does work and able to debug, if I dont use "$GOPATH/src/app".

And thanks for a great debugger for go! I am having some problems connecting to a headless debugger. Hope you can reproduce or better explain why it does not work.

Than

[2016-09-14 16:56] bbatha opened #636 "Add optional -run flag to dlv test"
Please add a -run flag to dlv test to mimic the behavior of the go test command. This can be achieved through a command pass through but requires memorizing the test runner flags instead of the more common `go test` interface.

For reference, pass through looks like this (borrowed from #422):

[code]

Using the arg pass through trick also makes the pwd of the runner the shell's pwd, instead of go

[2016-09-15 00:20] derekparker opened #637 "Add wait reason to output of parked goroutines"
For any sleeping goroutine we should be able to get the wait reason as to why they are parked. We should display this information in the `goroutines` output.

[2016-09-15 18:33] tinaschrepfer opened #638 "Installing delve on Windows gives an error"
Please answer the following before submitting your issue:

C:\GoPath>go get github.com/derekparker/delve/cmd/dlv
# github.com/derekparker/delve/proc
src\github.com\derekparker\delve\proc\disasm.go:9: undefined: ArchInst

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.

1. What version of Delve are you using (`dlv version`)?
2. What version of

[2016-09-15 19:32] joegrasse commented on #638
Delve only works with 64bit not 32bit.

[2016-09-15 23:08] alexbrainman commented on #638
FYI

@tinaschrepfer given that you are running 64bit operating system (you said it is Windows 10 x64), you should be able to install Go windows/amd64 (64bit version of Go). This will allow you to run Delve debugger.

Alex

[2016-09-15 23:26] tinaschrepfer commented on #638
Thanks!  That fixed part of my issue.  When I debug on VSCode using the latest version of delve I'm getting the following error:

can't load package: package internal: no buildable Go source files in C:\GoWork\src\internal

Seems like others are having the same issue: http://stackoverflow.com/questions/39458526/how-to-fix-delve-cant-load-package-package-internal-error

I worked around it by copyin

[2016-09-16 01:26] TomasB commented on #634
just wanted to add that it seems it got broken recently:
http://stackoverflow.com/questions/39458526/how-to-fix-delve-cant-load-package-package-internal-error

[2016-09-16 02:14] alexbrainman commented on #638
If you run `go env` command what does it output?
Also, can you build some simple go programs from command line? Can you try and debug one such program from command line. Tell us what you did - what your program looks like, what output you see.

Thank you.

Alex

[2016-09-16 02:23] alexbrainman commented on #634
What are the steps for me to reproduce your problem? What did you do to install Delve? What is the program that you are debugging? Please provide full output from all commands. Thank you.

Alex

[2016-09-16 07:46] aarzilli commented on #635
The correct syntax for telnet is `telnet 127.0.0.1 2345`, the error "nodename nor servname provided, or not known" is because of that. Try again with the correct syntax.

What does the headless instance of delve print? You may need to pass `--listen=0.0.0.0:2345` to delve.

[2016-09-16 14:03] sundarv85 commented on #626
I have encountered this problem in OSX, 0.11.0-alpha build, while running trace

`dlv trace main`

It seems that too many prints are causing the issue.

[2016-09-16 16:00] tinaschrepfer commented on #638
Here's the go env output
C:\GoWork\bin>go env
set GOARCH=amd64
set GOBIN=
set GOEXE=.exe
set GOHOSTARCH=amd64
set GOHOSTOS=windows
set GOOS=windows
set GOPATH=C:\GoWork
set GORACE=
set GOROOT=C:\Go
set GOTOOLDIR=C:\Go\pkg\tool\windows_amd64
set CC=gcc
set GOGCCFLAGS=-m64 -mthreads -fmessage-length=0
set CXX=g++
set CGO_ENABLED=1

If i debug from command line using the latest delve, I get the follo

[2016-09-16 16:57] huwpascoe commented on #634
The result is the same on any program. Even the most basic
[code]

It was installed with go get.

[2016-09-16 17:52] huwpascoe commented on #634
ok I've tested it with the previous commit to head that @TomasB linked to, it seems this one is to blame for the error: https://github.com/derekparker/delve/commit/2fad5abe74b311c853838ae4e00d83b9232f1a8a

[2016-09-16 18:57] aarzilli commented on #634
@huwpascoe: Thanks.

[2016-09-16 21:21] bbartol commented on #20
This would be useful for me as well.  I am trying to debug a go program with LiteIDE on a Raspberry Pi 3.  I get a segmentation fault error when I specify gdb as the debugger in LiteIDE - apparently gdb doesn't play well with go (see second paragraph here - https://golang.org/doc/gdb).  So I then decided to try delve; and when I did "go get -u github.com/derekparker/delve/cmd/dlv", I got the subje

[2016-09-17 07:25] alexbrainman commented on #638
Yes it is broken on the tip.

2fad5abe74b311c853838ae4e00d83b9232f1a8a is the first bad commit
commit 2fad5abe74b311c853838ae4e00d83b9232f1a8a
Author: Koichi Shiraishi <k@zchee.io>
Date:   Tue Sep 13 03:13:21 2016 +0900

    cmd: Support space separate flags for build-flags (#619)

    Signed-off-by: Koichi Shiraishi <zchee.io@gmail.com>

Alex

[2016-09-17 07:32] aarzilli commented on #638
PR #639 should fix this.

[2016-09-17 07:37] alexbrainman commented on #638
Sure. I was bisecting as you have sent the PR. :-)

Alex

[2016-09-17 07:39] aarzilli commented on #638
Alright, thanks anyway :)

[2016-09-18 03:34] wuceyang commented on #633
i'v got the latest version of 4d8daeb1(2013-09-13), and there is a bug here.and then "chcekout e4c7df14" and go install, is ok now
thanks

[2016-09-18 03:41] lizhong8532 opened #641 "Mac install Error"
[code]
Who can tell me how to fix this issue? Help me please!

[2016-09-19 20:40] tinaschrepfer commented on #638
I'm not seeing the fix reflected when I run "go get github.com/derekparker/delve/cmd/dlv".  Is there a different command to use to get the fix?

[2016-09-20 07:11] alexbrainman commented on #638
The fix is PR https://github.com/derekparker/delve/pull/639. The PR is still opened. It is not part of github.com/derekparker/delve repo. You can apply the PR to your repo localy to try it (google for instructions on how to apply a github PR). Or you can wait until PR is merged or rejected.

Once change is in github.com/derekparker/delve/cmd/dlv, you could use "-u" flag
[code]
to update your local

[2016-09-20 08:50] aarzilli commented on #641
Closing this in favor of https://github.com/go-delve/homebrew-delve/issues/3

[2016-09-20 08:50] #641 closed

[2016-09-20 08:58] aarzilli commented on #638
[Download the patch](https://patch-diff.githubusercontent.com/raw/derekparker/delve/pull/639.patch) then use `git apply`, this is one way to do it, but then your checkout will be out of sync with the remote and `go get -u` may stop working.

[2016-09-20 23:35] rubeVend opened #642 "panic: runtime error: index out of range (within IntelliJ)"
1.
Delve Debugger
Version: 0.11.0-alpha
Build: c7f11149d7146427b96be5375aff10d5bc899f5a

2.
go version go1.7 darwin/amd64

3. Mac OSX (see above)

4. Debugging within IntelliJ.  Set a few breakpoints.  Things are working until I hit a specific breakpoint within a method which looks like this: 	for _, blah := range jsonData {

5. Nothing.

6. Debugger bombs: Process finished with exit code 2:

pani

[2016-09-24 13:33] supernow commented on #301
Does this problem have solved? I have this problem now!
my go edition is 1.7.1

[2016-09-24 13:34] aarzilli commented on #301
No version of go without runtime.buildVersion was ever released, your problem is different.

[2016-09-25 13:12] wildfire810 commented on #634
Who can give an approved review?
Merging is blocked

dlv: bugfix: Allow quoting in build flags argument by aarzilli · Pull Request #639 · derekparker/delve
https://github.com/derekparker/delve/pull/639

[2016-09-25 13:19] wildfire810 commented on #638
Who can merge it?

[2016-09-25 15:26] #634 closed

[2016-09-25 15:28] #642 closed

[2016-09-27 18:04] rustyrobot opened #644 "Add `substitute-path` interactive command."
Based on the discussion in #640.
- Delve should provide a command to add path substitution rule in interactive mode.

Proposal: `(dlv) set substitute-path /path/from /path/to` [similar to gdb syntax](https://sourceware.org/gdb/onlinedocs/gdb/Source-Path.html#set%20substitute%2dpath).
- Provide a startup flag to do path substitution.

No proposal for this one, I think we can provide a way to execut

[2016-09-29 06:19] BardoBravo commented on #594
Hi,
I also had the same issue when using go-lang debugger in Visual Code - Win10 by the way.
Hugs

[2016-09-29 14:17] scaba opened #645 "OS X: cannot get thread count"
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.
1. What version of Delve are you using (`dlv version`)?
   Delve Debugger
   Version: 0.11.0-alpha
   Build: fb8388ab2e50ca28ef9a83c73c329f8d0b6234d9
2. What version of Go are you using? (`go version`)?
   go version go1.7.1 darwin/amd64

[2016-09-30 06:52] #561 closed

[2016-09-30 06:52] #582 closed

[2016-09-30 07:02] aarzilli commented on #644
`--init` already exists, is this really useful?

[2016-09-30 14:48] charlie-ht opened #646 "How do I actually print what I need to see"
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.

1. What version of Delve are you using (`dlv version`)?
~? dlv version
Delve Debugger
Version: 0.11.0-alpha
Build
2. What version of Go are you using? (`go version`)?
~? go version
go version go1.6.2 linux/amd64
3. What operating system

[2016-09-30 17:58] aarzilli commented on #646
you can't load the whole variable but you can see other parts of the variable using the slice syntax: `p cmdStr[64:]`.